﻿body{
	font-family: 'Open Sans', sans-serif;
	color:#797979;
	margin:0;
	padding:0;
	font-weight:400;
	font-size:16px;
}

header{
	width:100%;
	clear:both;
	float:left;
	padding:5px 0 5px 0;
	background-color:lightgray;	
	position:relative;
   
}

header .floatRight a{
	color:#fff;
	font-size:15px;	
	font-weight:600;
}
header ul{
    float: left;
	width:930px;
    margin-top: 15px;
}
header ul li{
	width:auto;
	float:left;
	margin:0 16px;
	display:inline;
}
header ul li:first-child{
	 margin-left:0;
}
header ul li:last-child{
	 margin-right:0;
}
header ul li a{
	width:auto;
	clear:both;
	float:left;
	color:#fff;
	font-size:15px;		
	font-weight:600;
	display:inline;
}
header ul li a.sel
{
  text-decoration:underline;
}

footer{
	width:100%;
	clear:both;
	padding:0;
	float:left;
	position:relative;
	font-size:13px;
    background-color: lightgray;
}
footer ul{
    float: left;
	width:930px;
    height: 55px;
    margin-top: 15px;
}
footer ul li{
	width:auto;
	float:left;
	margin:0 16px;
	display:inline;
}
footer ul li:first-child{
	 margin-left:0;
}
footer ul li:last-child{
	 margin-right:0;
}
footer ul li a{
	width:auto;
	clear:both;
	float:left;
	color:#0082B9;
	font-size:15px;		
	font-weight:600;
	display:inline;
}
footer ul li a.sel
{
  text-decoration:underline;
}
p{
	margin:0 0 10px 0;
	padding:0;
}
.content p{
	margin:0 0 20px 0;
	padding:0;
}
a{
	color:#013F90;
	text-decoration:none;
}

a:hover{
	text-decoration:none;
}

img{
	border:0;
	max-width:100%;
}

ul{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

ul li{
	margin:0;
	padding:0;
}

h1{
	padding:0;
	margin:0;
}

h2{
	font-family: 'Open Sans Condensed', sans-serif;	
	margin:0 0 20px 0;
	padding:0;
	font-size:36px;
	color:#444444;
	font-weight:700;
}

h3{
	font-family: 'Open Sans Condensed', sans-serif;	
	margin:0 0 10px 0;
	padding:0;	
	font-weight:700;
	font-size:24px;
	color:#004092;
}

h4{
	font-family: 'Open Sans Condensed', sans-serif;	
	margin:0 0 10px 0;
	padding:0;
	font-size:13px;
	color:#444444;
	font-weight:700;
}

h5{
	font-family: 'Open Sans Condensed', sans-serif;	
	margin:0 0 10px 0;
	padding:0;
	color:#444444;
	font-size:12px;
	font-weight:700;
}

h6{
	font-family: 'Open Sans Condensed', sans-serif;	
	font-weight:700;	
	margin:0 10px;
	padding:0;
	color:#444444;	
	font-size:12px;
}
.noMargin{
	margin:0 !important;
}
.floatRight{
	float:right !important;
}
.relative{
	position:relative;
}
.generic{
	clear:both;
	float:left;
	width:100%;
}
.marginTop5{
	margin-top:5px !important;	
}
.marginTop10{
	margin-top:10px !important;	
}
.marginTop20{
	margin-top:20px !important;	
}
.marginTop30{
	margin-top:30px !important;	
}
.marginTop40{
	margin-top:40px !important;	
}
.marginTop50{
	margin-top:50px !important;	
}
.marginTop100{
	margin-top:100px !important;	
}
.marginBott10{
	margin-bottom:10px !important;	
}
.marginBott20{
	margin-bottom:20px !important;	
}
.marginBott30{
	margin-bottom:30px !important;	
}
.marginBott40{
	margin-bottom:40px  !important;	
}
.marginBott50{
	margin-bottom:50px !important;	
}
.marginBott100{
	margin-bottom:100px !important;	
}
section{
	clear:both;
	float:left;
	width:100%;
}
.container{
    margin: 0 auto;
    width: 970px;
	padding:0 15px 0 15px;
}

.top-languages {
    clear: both;
    float: left;
    width: 100%;
    height: 25px;
    background-color:gray;	
}
.area-riservata {
    float: right;
    width: 186px;
    height: 45px;
    margin-top: 15px;
   
}

.bg-top-home {
    background-color:azure;
    clear: both;
    float: left;
    height: 357px;
    padding: 50px 0 0;
    position: relative;
    width: 100%;
}

.bg-box-home {
    background-color:white;
    clear: both;
    float: left;
    height: 200px;
    padding: 50px 0 0;
    position: relative;
    width: 100%;
}

.bg-sections-home {
    background-color:azure;
    clear: both;
    float: left;
    height: 200px;
    padding: 50px 0 0;
    position: relative;
    width: 100%;
}

.bg-blog-home {
     background-color:white;
    clear: both;
    float: left;
    height: 200px;
    padding: 50px 0 0;
    position: relative;
    width: 100%;
}

.bg-contact-home {
     background-color:azure;
    clear: both;
    float: left;
    height: 200px;
    padding: 50px 0 0;
    position: relative;
    width: 100%;
}

.pol-detail {

    width:915px;
    padding: 50px 50px 50px 50px;
}

.container .row {
    clear: both;
    float: left;
    width: 100%;
    margin: 50px 100px 5px 100px;
}

.btn {
    float: left;
}