﻿@*<section>
    @{Html.RenderAction("BoxArchiveFeatured", "News", new { idBox = VoltfastWebsite.VoltfastNV.Keys.BoxKeys.BoxFeaturedArchiveNews.Id });}   
</section><!--end section-->  


<section>
	<div class="bg-section">
    	<div class="container">    	
        	<div class="logo displayNone">		
                <h1>
                    <a href="#" title="Voltfast - diclofenac potassico">Voltfast - diclofenac potassico</a>
                </h1>
            </div>
            
            <div class="generic marginBott40">
            	<div class="btn-back">
            		<a href="javascript:history.back()" title="Back">Back</a>
                </div>
            </div><!--end generic-->
             <h2>News</h2>

            
             @{this.Html.RenderPartial("_SectionArchive");}
           
            
        </div><!--end container-->   
    </div><!--end bg-section-->    
</section><!--end section-->  

@section JSscripts
{
 <script  src="~/VoltfastNV/Content/script/News.js"></script>
    <script type="text/javascript">
        $(function () {

            var _newsLogic = Volt.ArchiveNews({
                actions: {archiveUrl:"/News/NewsArchive"},
                containerArchive: ".jsContainerArchiveNews",
                     });

            _newsLogic.init();
        });
    </script>    
}*@
