﻿@model Inclub.Web.Portal.Models.GenericContentDetails 
@{
    
    var pageInfo = this.GetPageInfo();
    
}

@using Inclub.Web.Portal;

@if (null != pageInfo)
{
    <p class="sel">@Inclub.Web.Portal.Helper.ThemeHelper.GetThemeDescription(pageInfo.KeyFather)</p>
    <h1>@pageInfo.SeoName</h1>
}

@if (null != this.Model && this.Model.Key.Id > 0)
{
    
    <div class="pol-detail">
        <h2>@this.Model.InternalTitle</h2>
        <p>@Html.Raw(this.Model.FullText)</p>
    </div>
   
}




