﻿@model IEnumerable<Inclub.Web.Portal.Models.ThemeModel.ThemeContentModel>
@{
    var pageInfo = this.GetPageInfo();
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (null != this.Model && this.Model.Any())
{
    <div class="container">
        <ul>
            @foreach (var item in this.Model)
            {
                <li>
                   
                     @if (null != item.GenericContentBaseModel)
                     {
                         if (!String.IsNullOrEmpty(item.GenericContentBaseModel.Launch))
                         {
                             <p>@Html.Raw(item.GenericContentBaseModel.Title)</p>
                             <p>@Html.Raw(item.GenericContentBaseModel.Launch)</p>
                             <a href="@this.Url.ThemeLink(item.Key,item.LanguageKey)" title="@item.Description">@this.Html.GetLabel(Inclub.Web.Portal.Keys.DictionaryKeys.ViewMoreButton, LanguageHelper.GetLanguageFromUrl().Id)</a>
                             <br /><br />
                         }
                         else
                         {
                            <a href="@this.Url.ThemeLink(item.Key,item.LanguageKey)" title="@item.Description">@item.Description</a>
                            <br /><br />
                         }

                     }
                     else
                     {
                           <p>@Html.Raw(@item.Description)</p>
                           <a href="@this.Url.ThemeLink(item.Key,item.LanguageKey)" title="@item.Description">@item.Description</a>
                     }
                </li>
            }
        </ul>
    </div>
}




