﻿@model Inclub.Web.Portal.Models.GenericContentDetails
@{
    var _Themes = this.ViewBag.Themes as IEnumerable<Healthware.HP3.Core.Site.ObjectValues.ThemeValue>;

    var _thId = Inclub.Web.Portal.Helper.ThemeHelper.getCurrentThemeIdentificator() as Healthware.HP3.Core.Site.ObjectValues.ThemeIdentificator;

    var pageI = this.ViewBag.PageI as Inclub.Web.Portal.Models.PageInfo;

}
@if (null != this.Model)
{        <section>
        <div class="groupsBox newsBox newsDtlBox">
            <a href="/" class="back" title="Back">&lt; Back</a>
            <div class="container">
                <div class="box8">
                    <div class="cntNews">

                        <div class="pageTitleTop">
                            <div class="box1">&nbsp;</div>
                            <div class="box6">
                                <h1>@this.Model.Title</h1>                                
                            </div><div class="box1">&nbsp;</div>
                        </div>

                        
                    </div>
                                       
                    <div class="cntGroup">
                        <div class="box1">&nbsp;</div>
                        <div class="box6">
                        	<div class="dtlBox genCnt">                                
                                <div class="dtl">
                                   @this.Model.FullText
                                </div>
                            </div>
                        </div>
                        <div class="box1">                        
                                                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>      
    </section>
}