﻿@model inClub.Web.Portal.Models.Interviste

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions


@{
    var pageInfo = this.GetPageInfo();
    string postID = (Request["p"] == null ? "0" : Request["p"].ToString());
    string commID = (Request["c"] == null ? "0" : Request["c"].ToString());
    var type = this.ViewBag.typeId;
}



<section>
    <div class="groupBox newsBox discBox">
        <a href="@this.Url.ThemeLink((type == ContextGroupKeys.CtxWebinar.Id ? ThemeKeys.Webinar : ThemeKeys.Video))" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">

                <div class="cntGroup">
                    <div class="box6">
                        <div>
                            <h1>@this.Model.Title</h1>
                            <div class="author">

                                <video style="width:100%;" id="videoPlayer" poster="@this.Model.Poster" width="@this.Model.Width" controls controlslist="nodownload" onclick="vidplay(this)">
                                    <source src="/HP3Download/@this.Model.FileName" type="video/mp4">
                                </video>

                            </div>
                            <div class="desc"><p>@this.Html.Raw(this.Model.Description)</p></div>


                        </div>
                        
                        <p style="clear: both; float:left ; margin-bottom: 10px;"></p>
                    </div>
                    <div class="box2" style="margin-top:0px;">
                        <div class="titleRed"><span id="docNum">0</span><h4>@(type == ContextGroupKeys.CtxWebinar.Id ? "Altri Webinar" : "Altre Interviste")</h4></div>
                        <div id="docsList">

                        </div>
                        <div id="paginatorDocs"><a href="javascript:void(0);" id="btnMoreDocs" onclick="LoadMoreDocs(0);">view more</a></div>
                        <span id="currDocsPage" style="display:none;">0</span>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>


<style type="text/css">
    .selected {
        background: #ffd800;
    }
</style>

<script type="text/javascript">

    function vidplay(myvideo) {
        myvideo.play();
    }

    $(document).ready(function () {


        LoadMoreDocs(0);
        $(".inline").colorbox({ inline: true, height: "260", width: "680" });


    });




    function LoadMoreDocs(folderKey) {
        //alert('post');
        var nextDocPage = parseInt($("#currDocsPage").html()) + 1;

        $.ajax({
            type: "GET",
            url: "/Interviste/Archive",
            data: {excludeId: @this.Model.IntervistaKey.PrimaryKey, langId:@LanguageHelper.GetLanguageFromUrl().Id, groupId: @this.Model.GroupKey.Id, type: @type, pagenum:nextDocPage, pagesize:5, viewName:'_ItemListInterviste' },
            success: function (data) {

                $("#docsList").append(data); //the HTML I returned from the controller

                $("#currDocsPage").html(nextDocPage);

            },

            error: function (errorData) {
                //onError(errorData);
            },

            complete: function (errorData) {

                var url = document.URL;

                if (url.indexOf("#")>=0){
                    var hash = url.substring(url.indexOf("#")+1);
                    var fields = hash.split('_');
                    var father = fields[0];
                    var post = fields[1];
                    if (father == "0"){
                        //alert("go to" + post);
                        window.location = "#" + post;
                    }else{
                        //load father's comments
                        //alert("showComm" + father);
                        $.when( $("#showComm" + father).click()).done(function() {
                            window.location = "#" + father;
                            //alert("#comm" + post);
                            var commDiv = $("#comm" + post);
                            $(commDiv).addClass("selected");

                        });
                    }
                }

            }

        });
    }


</script>
