﻿@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions


@{
    var pageInfo = this.GetPageInfo();
    var groupID = this.ViewBag.groupID;
    var langId = this.ViewBag.langId;
    var type = this.ViewBag.typeId;
    var title = this.ViewBag.title;
    string discID = (Request["parameter"] == null ? "0" : Request["parameter"].ToString());
}



<section>
    <div class="groupBox newsBox">
        <a href="@this.Url.ThemeLink(ThemeKeys.Gruppi)" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">
                <div class="cntGroup">

                    <div class="pageTitleTop">
                        <div class="box1">&nbsp;</div>
                        <div class="box6">
                            <h1>@title</h1>

                        </div><div class="box1">&nbsp;</div>
                    </div>


                    <div class="box1">&nbsp;</div>
                    <div class="box6" id="intervisteList">

                    </div>
                    <div class="box1">&nbsp;</div>
                    <div style="clear:both;float:left;" id="paginatorIntrv"><a id="btnMore" href="javascript:void(0);" onclick="LoadMoreinterviste(@groupID,0);">@(discID == "0" ? "view more" : "view all")</a></div>

                </div>
            </div>
        </div>
    </div>
</section>
<span id="currPage" style="display:none;">0</span>


<script type="text/javascript">


    if(parseInt($("#currPage").html())==0){

        LoadMoreinterviste('@groupID', '@discID');

    }



    function LoadMoreinterviste(groupID, discID) {
        //alert('LoadMoreinterviste:' + discID)

        var nextPage = parseInt($("#currPage").html()) + 1;

        $(".item").removeClass("itemLast");


        $.ajax({
            type: "GET",
            url: "/Interviste/Archive",
            data: {groupID:groupID, langId:@LanguageHelper.GetLanguageFromUrl().Id, type: @type, pagenum:nextPage, pagesize:3, viewName:'_ItemInterviste', discID: discID },
            success: function (data) {
                $("#currPage").html(nextPage);

                //alert('test1');
                if ((discID != "0") && (parseInt($("#currPage").html()) == "1")){
                    //alert('test2');
                    $("#currPage").html(0);
                    $("#intervisteList").html('');
                }
                if ((discID == "0") && (parseInt($("#currPage").html()) == "1")){
                    $("#intervisteList").html('');
                    $("#btnMore").html('view more');
                }

                $("#intervisteList").append(data); //the HTML I returned from the controller


                //if(($("#btnMore").html()).toLowerCase() == "view all"){

                //}


            },

            error: function (errorData) {
                //onError(errorData);
            }

        });
    }

</script>



