﻿@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@{
    var PageInfo = this.GetPageInfo();

}

<section>
    <div class="groupBox newsBox">
        <a href="/" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">
                <div class="cntNews">
                    <div class="pageTitleTop">
                        <div class="box1">&nbsp;</div>
                        <div class="box6">
                            <h1>@PageInfo.AreaTitle</h1>
                            <div class="internalMessage">
                                @PageInfo.Launch
                            </div>
                        </div><div class="box1">&nbsp;</div>
                    </div>
                    <div class="discBox">

                        <div class="box1">&nbsp;</div>

                        <div class="box6 docBox" id="documentsList">

                        </div>
                    </div>
                    <div class="box1">&nbsp;</div>
                    <div id="paginatorDocs"><a href="javascript:void(0);" id="btnMore" onclick="LoadMoreDocuments();">view more</a></div>

                </div>
            </div>
        </div>
   </div>
</section>



                    <span id="currPageDocs" style="display:none;">0</span>


                    <script type="text/javascript">


                        if (parseInt($("#currPageDocs").html()) == 0) {
                            LoadMoreDocuments();
                        }

                        function LoadMoreDocuments() {

                            var nextPage = parseInt($("#currPageDocs").html()) + 1;

                            $.ajax({
                                type: "GET",
                                url: "/Guide/Archive",
                                data: { langId: 1, pagenum: nextPage, pagesize: 10 },
                                success: function (data) {

                                    $("#currPageDocs").html(nextPage);
                                    $("#documentsList").html('');
                                    $("#btnMore").html('view more');

                                    $("#documentsList").append(data); //the HTML I returned from the controller
                                },

                                error: function (errorData) {
                                    //onError(errorData);
                                }

                            });

                        }



                    </script>



