﻿@using Inclub.Web.Portal.Helper
@{
    DateTime webinarStart = DateTime.Parse("07/11/2017 15:20");
    DateTime webinarEnd = DateTime.Parse("07/11/2017 17:30");
    DateTime orario = System.DateTime.Now;
}   
<style type="text/css">
       .webinar{
            background-image: url('/Portal/Content/_slice/webinar2.png') !important;
            width: 100% !important;
            height: 344px !important;
            padding:0 !important;
       }
       
       .webinar h4{
           position:absolute; bottom:10px; width:100%;
       }
       
       .highlight{
           background-color: yellow !important;
           padding-top: 10px !important;
           padding-bottom: 10px !important;
           color: #000 !important;
       }
</style>

        <section>
            <div class="groupsBox hpBox">
                <div class="container">
                    <h4>
                        @if (Request["nogroup"] == "true")
                        {
                            @Html.Raw((DictionaryHelper.GetLabel(DictionaryKeys.MsgNoGruppi, LabelKeys.LANGUAGE_PORTAL)).Replace("[Nominativo]", this.ViewBag.Nominativo))
                        }
                    </h4>
                </div>


                <div class="container">
                    <div class="box5">
                        <div class="left">
                            <div class="titleRed"><h4>Gruppi</h4></div>
                            @{ Html.RenderAction("LastFromGroups"); }
                        </div>
                    </div>
                    <div class="box3">
                        <div class="right">

                            <div class="swiperVideo">
                                <div class="titleRed JSdoLogin"><a href="@this.Url.ThemeLink(ThemeKeys.Webinar)"><h4>Webinar</h4></a></div>
                                <div class="swiper-container">
                                    @*@Html.Raw(this.ViewBag.TestoBox2.ToString())*@
                                    @{ Html.RenderAction("LastVideos", "Gruppi", new { groupsList = ViewBag.listaGruppi, langId = 1, type = ContextGroupKeys.CtxWebinar.Id, altText = @Html.Raw(this.ViewBag.TestoBox2.ToString()) }); }
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>

                            <div class="swiperNews">
                                <div class="titleRed JSdoLogin"><a href="@this.Url.ThemeLink(ThemeKeys.Video)"><h4>Video Interviste</h4></a></div>
                                <div class="swiper-container">
                                    @*@Html.Raw(this.ViewBag.TestoBox2.ToString())*@
                                    @{ Html.RenderAction("LastVideos", "Gruppi", new { groupsList = ViewBag.listaGruppi, langId = 1, type = ContextGroupKeys.CtxInterviste.Id, altText = @Html.Raw(this.ViewBag.TestoBox2.ToString()) }); }
                                </div>
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>

                            @*<div class="others">


                            @{this.Html.RenderAction("GetLastNews", "BoxAndRelated", new { MaxRow = 3 });}

                        </div>*@


                            @*<div class="incontraBox">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <h4>Proponi un nuovo gruppo</h4>
                            <a href="javascript:void(0);" data-href="@Html.Raw(Url.Action("ProponiGruppo", "Community"))" class="readMore JOpenColorbox">Proponi un nuovo gruppo</a>
                        </div>*@


                            <a name="webinar">&nbsp;</a>

                            @if (orario < webinarEnd)
                            {

                                <div class="incontraBox webinar">
                                    @if (ViewBag.AccessWebinar == false)
                                    {
                                        <h4>Registrati</h4>
                                        <a href="javascript:void(0);" id="regWebinar" data-href="@Html.Raw(Url.Action("RegistraWebinar", "Community"))" class="readMore">Registrati</a>
                                    }
                                    else
                                    {
                                        if (orario < webinarStart)
                                        {
                                            <h4 id="msg_iscritto">Sei iscritto al webinar</h4>
                                        }
                                        else
                                        {
                                            <h4 id="msg_iscritto">Clicca qui per accedere al webinar</h4>
                                            <a href="https://zoom.us/j/881106350" class="readMore" target="_blank">Clicca qui per accedere al webinar</a>
                                        }
                                    }
                                </div>
                            }

                            @*<div class="rocheBox">
                            <img src="/Portal/Content/_slice/roche.png" alt="Roche" />
                            <h4>Visita il sito web di Roche</h4>
                            <a href="#" title="Read more" class="readMore"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>*@
                        </div>
                    </div>



                    <div class="swiperGeneric externalSwiper">
                        <div class="titleTransparent"><div class="swiper-pagination"></div></div>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                @Html.Raw(this.ViewBag.TestoBox4.ToString())
                            </div>
                        </div>

                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>

                </div>
            </div>
        </section>


<script>

    $(function () {
     

        var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
        if (hash == "webinar") {
            $("#msg_iscritto").addClass("highlight");
        }

        $("#regWebinar").click(function (e) {
            if (confirm("Procedere all'iscrizione al webinar?") == true) {
                $.ajax({
                    type: "POST",
                    url: "/Community/RegistraWebinar",                    
                    success: function (data) {
                        if (data == "ok") {
                            alert("Iscrizione avvenuta con successo!");
                            $(".webinar").html('<h4>Sei iscritto al webinar</h4>');
                        } else {
                            alert(data);
                        }
                    },

                    error: function (errorData) {
                        //onError(errorData);
                    }

                });
            }
        });

    });

</script>