﻿@model inClub.Web.Portal.Models.AddDiscussione
@{
    Layout = "~/portal/Views/Shared/_LayoutPopup.cshtml";
}


<section>
    <div class="registerBox" style="background-color:#FFF; padding:0;margin:0;">
        <div class="container containerPopup500">
            <div class="box8">
                <div class="cntRegister">
                    <div class="box6">
                        <h3>Aggiungi una discussione</h3>
             @using (Ajax.BeginForm("AggiungiDiscussione", "Discussioni", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result", OnFailure = "jsOnFailure();", OnSuccess = "jsOnSuccess();", InsertionMode = InsertionMode.Replace }, new { id = "ActionForm" }))
                        {
                            @(Html.ValidationSummary(true))
                            @(Html.AntiForgeryToken())                                 
                 
                            @(Html.HiddenFor(m => m.langID, new { id = "langID" }))
                            @(Html.HiddenFor(m => m.groupID, new { id = "groupID" }))
                    
                    

                                <div class="JChangeOk">
                                   
                                    <div class="rowForm">
                                        <div class="box4">@this.Html.TextBoxFor(m => m.Title, new { placeholder = "Titolo" })</div>
                                    </div>
                                    <div class="rowForm">
                                        <div class="box4">@this.Html.TextAreaFor(m => m.Description, new { placeholder = "Descrizione" })</div>
                                    </div>
                                    
                                    <div class="rowForm checkRow JChangeOk">
                                        <div class="box2">
                                            <a href="javascript:void(0);" title="Invia" class="btn" id="JSsend">Invia</a> 
                                        </div>
                                    </div>
                                    <div class="rowForm  JChangeOk">
                                        <div id="result" style="display:none;color:red; font-size:12px;"></div>
                                    </div>
                                </div>
                        }


                    <div class="rowForm checkRow JsResultOk" style="display:none;">
                        <div class="box2">
                            La discussione è stata creata correttamente.
                        </div>
                    </div>

                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>

    $(document).ajaxComplete(function () {
        $.validator.unobtrusive.parse('Form');
    });

    /*SCRIPT per FORM*/
    $(function () {

        $("#JSsend").click(function (e) {
            e.preventDefault();
            if (checkFields())
                $('form#ActionForm').submit();
        });

    });

    function checkFields() {

        if ($('#Title').val() == "" || $('#Description').val() == "") {
            $("#result").html('Inserire titolo e descrizione della discussione.');
            $("#result").fadeIn();
            return false;
        }

        $("#result").html('');
        return true;
    }


    function jsOnFailure() {
        alert("Error");
    }

    function jsOnSuccess() {
        
        if ($('#Description').val() != '')
        {
            $(".JsResultOk").fadeIn();
            $(".JChangeOk").hide();
        }
        else
        { $("#result").fadeIn(); }


        $('#discussionsList', window.parent.document).html('');
        $("#currPage", window.parent.document).html(0);
        $("#btnMore", window.parent.document).click();
        var numDisc = 0;
        numDisc = $("#numDisc", window.parent.document).html();
        $("#numDisc", window.parent.document).html(numDisc + 1);
        
    }


</script>
