﻿@model inClub.Web.Portal.Models.Discussioni
    
    @using Healthware.HP3.Core.Site.ObjectValues
    @using Healthware.HP3.Core.Localization.ObjectValues
    @using Inclub.Web.Portal.Helper
    @using Inclub.Web.Portal.Extensions


    @{
    var pageInfo = this.GetPageInfo();
    string postID = (Request["p"] == null ? "0" : Request["p"].ToString());
    string commID = (Request["c"] == null ? "0" : Request["c"].ToString());


    }

@if (this.Model != null)
    {


<div class="cntGroup">
    <div class="box6">
        <div class="item">
            <h1>@this.Model.Title</h1>
            <div class="author"><h4>Creato da: <a href="#divUser" class="inline boxUserData cboxElement" rel="@this.Model.UserCreate.Id">@this.Model.UserCreateName</a> il <span>@this.Model.CreationDate</span></h4></div>
            <div class="desc"><p>@this.Html.Raw(this.Model.Description)</p></div>
            
            <a href="@Html.Raw(Url.Action("AggiungiContributo", "Contributi"))?dId=@this.Model.DiscussionKey.Id&gId=@this.Model.GroupKey.Id&lId=@this.Model.DiscussionKey.IdLanguage&fId=0&fDisc=@this.Model.FolderKey&r=@this.Model.Role" class="addContr JOpenColorbox"><i class="fa fa-plus" aria-hidden="true"></i> Aggiungi un contributo</a>
            
        </div>
        <div class="contrBox" style="@(this.Model.NumContributi == 0 ? "display:none" : "")" >
            <div class="titleRed"><span id="totPost">@this.Model.NumContributi</span><h4>Contributi</h4></div>
            <div id="postList">

            </div>
            <div id="paginatorPosts"><a href="javascript:void(0);" id="btnMore" onclick="LoadMorePost(@this.Model.DiscussionKey.Id, 0, 0);">@(postID == "0" ? "view more" : "view all")</a></div>
            <span id="currPostsPage" style="display:none;">0</span>
            <br />
        </div>
        <p style="clear: both; float:left ; margin-bottom: 10px;"></p>
    </div>
    <div class="box2">
        <div class="titleRed"><span id="docNum">0</span><h4>Documenti</h4></div>
        <div id="docsList">
            
        </div>
        <div id="paginatorDocs"><a href="javascript:void(0);" id="btnMoreDocs" onclick="LoadMoreDocs(@this.Model.FolderKey);">view more</a></div>
        <span id="currDocsPage" style="display:none;">0</span>

    </div>
    
</div>


    <script type="text/javascript">

        $(document).ready(function () {

            if(parseInt($("#currPostsPage").html())==0){

                LoadMorePost(@this.Model.DiscussionKey.Id, '@postID', '@commID');

                LoadMoreDocs(@this.Model.FolderKey);
                $(".inline").colorbox({ inline: true, height: "260", width: "680" });
            }

        });

        function LoadMorePost(discID, postID, commID) {
            //alert('post');
            var nextPage = parseInt($("#currPostsPage").html()) + 1;

            $.ajax({
                type: "GET",
                url: "/Contributi/Archive",
                data: {discussionId:discID, langId:@LanguageHelper.GetLanguageFromUrl().Id, groupId: @this.Model.GroupKey.Id, pagenum:nextPage, pagesize:5, viewName:'_ItemContributi', postID: postID, commID: commID},
                success: function (data) {

                    $("#currPostsPage").html(nextPage);

                    //if (postID == "0"){
                    //    $("#postList").html('');
                    //    $("#btnMore").html('view more');
                    //}else{
                    //    $("#currPostsPage").html(0);
                    //}


                    if ((postID != "0") && (parseInt($("#currPostsPage").html()) == "1")){
                        //alert('test2');
                        $("#currPostsPage").html(0);
                        $("#postList").html('');
                    }
                    if ((postID == "0") && (parseInt($("#currPostsPage").html()) == "1")){
                        $("#postList").html('');
                        $("#btnMore").html('view more');
                    }




                    $("#postList").append(data); //the HTML I returned from the controller

                },

                error: function (errorData) {
                    //onError(errorData);
                }

            });
        }


        function LoadMoreDocs(folderKey) {
            //alert('post');
            var nextDocPage = parseInt($("#currDocsPage").html()) + 1;

            $.ajax({
                type: "GET",
                url: "/Documenti/Archive",
                data: {langId:@LanguageHelper.GetLanguageFromUrl().Id, groupId: @this.Model.GroupKey.Id, folderId: folderKey, onlyResources:1, pagenum:nextDocPage, pagesize:5, viewName:'_ItemListDocumenti' },
                success: function (data) {

                    $("#docsList").append(data); //the HTML I returned from the controller

                    $("#currDocsPage").html(nextDocPage);


                },

                error: function (errorData) {
                    //onError(errorData);
                },

                complete: function (errorData) {

                    var url = document.URL;

                    if (url.indexOf("#")>=0){
                        var hash = url.substring(url.indexOf("#")+1);
                        var fields = hash.split('_');
                        var father = fields[0];
                        var post = fields[1];
                        if (father == "0"){
                            //alert("go to" + post);
                            window.location = "#" + post;
                        }else{
                            //load father's comments
                            //alert("showComm" + father);
                            $.when( $("#showComm" + father).click()).done(function() {
                                window.location = "#" + father;
                                //alert("#comm" + post);
                                var commDiv = $("#comm" + post);
                                $(commDiv).addClass("selected");

                            });
                        }
                    }

                }

            });
        }


    </script>

    }
else
{

    <span>Questa discussione non è attiva</span>
}
    
<style type="text/css">

    .selected{
        background: #ffd800;
    }
</style>
