﻿@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions


@{
    var pageInfo = this.GetPageInfo();
    var groupID = this.ViewBag.groupID;
    var langId = this.ViewBag.langId;
    string discID = (Request["parameter"] == null ? "0" : Request["parameter"].ToString());
}


<div class="box1">&nbsp;</div>
<div class="box6" id="discussionsList">

</div>
<div class="box1">&nbsp;</div>   
<div style="clear:both;float:left;" id="paginatorDiscs"><a id="btnMore" href="javascript:void(0);" onclick="LoadMoreDiscussions(@groupID,0);">@(discID == "0" ? "view more" : "view all")</a></div>


<span id="currPage" style="display:none;">0</span>


<script type="text/javascript">


    if(parseInt($("#currPage").html())==0){

        LoadMoreDiscussions('@groupID', '@discID');

    }

    

    function LoadMoreDiscussions(groupID, discID) {
        //alert('LoadMoreDiscussions:' + discID)
     
        var nextPage = parseInt($("#currPage").html()) + 1;

        $(".item").removeClass("itemLast");
        

        $.ajax({
            type: "GET",
            url: "/Discussioni/Archive",
            data: {groupID:groupID, langId:@LanguageHelper.GetLanguageFromUrl().Id, pagenum:nextPage, pagesize:3, viewName:'_ItemDiscussions', discID: discID },
            success: function (data) {
                $("#currPage").html(nextPage);

                //alert('test1');
                if ((discID != "0") && (parseInt($("#currPage").html()) == "1")){
                    //alert('test2');
                    $("#currPage").html(0);                   
                    $("#discussionsList").html('');
                }
                if ((discID == "0") && (parseInt($("#currPage").html()) == "1")){
                    $("#discussionsList").html('');
                    $("#btnMore").html('view more');
                }

                $("#discussionsList").append(data); //the HTML I returned from the controller

                
                //if(($("#btnMore").html()).toLowerCase() == "view all"){

                //}
               

            },

            error: function (errorData) {
                //onError(errorData);
            }

        });
    }

</script>



