﻿@model inClub.Web.Portal.Models.AddContributo
@{
    Layout = "~/portal/Views/Shared/_LayoutPopup.cshtml";
}


<section>
    <div class="registerBox" style="background-color:#FFF; padding:0;margin:0;">
        <div class="container containerPopup500">
            <div class="box8">
                <div class="cntRegister">
                    <div class="box6">
                        <h3>Aggiungi un contributo</h3>
             @using (Ajax.BeginForm("AggiungiContributo", "Contributi", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result", OnFailure = "jsOnFailure();", OnSuccess = "jsOnSuccess();", InsertionMode = InsertionMode.Replace }, new { id = "ActionForm" }))
                        {
                            @(Html.ValidationSummary(true))
                            @(Html.AntiForgeryToken())
                 
                
                     @(Html.HiddenFor(m => m.discussionID, new { id = "discussionID" }))
                 
                    @(Html.HiddenFor(m => m.langID, new { id = "langID" }))
                   @(Html.HiddenFor(m => m.groupID, new { id = "groupID" }))
                    @(Html.HiddenFor(m => m.fatherID, new { id = "fatherID" }))
                 @(Html.HiddenFor(m => m.discFolderKey, new { id = "discFolderKey" }))
                 @(Html.HiddenFor(m => m.type, new { id = "type" }))


                                <div class="JChangeOk">
                                   
                                    <div class="rowForm JChangeOk">
                                        <div class="box4">@this.Html.TextAreaFor(m => m.Description, new { placeholder = "Contributo" })</div>


                                        <div class="files" style="@((this.Model.role == "admin") ? "" : "display:none")" >
                                            @Html.TextBoxFor(x => x.FileUpl, new { type = "file", placeholder = "* ---" })
                                            @*<input type="file" placeholder="@this.Html.GetLabel(DictionaryKeys.LabelCV, Polifarma.Web.Portal.Helper.LanguageHelper.GetLanguageFromUrl().Id)" />*@
                                        </div>
                                        @this.Html.ValidationMessageFor(m => m.FileUpl, null, new { id = "valFileUpload", @class = "error" })

                                    </div>
                                    
                                    <div class="rowForm  JChangeOk">
                                        <div id="result" style="display:none;color:red; font-size:12px;"></div>
                                    </div>
                                    <div class="rowForm checkRow JChangeOk" >
                                        <div class="box2">
                                            <a href="javascript:void(0);" title="Invia" class="btn" id="JSsend">Invia</a> 
                                        </div>
                                    </div>
                                </div>
                        }


                    <div class="rowForm checkRow JsResultOk" style="display:none;">
                        <div class="box2">
                            Il contributo è stato creato correttamente.
                        </div>
                    </div>

                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>

    $(document).ajaxComplete(function () {
        $.validator.unobtrusive.parse('Form');
    });

    /*SCRIPT per FORM*/
    $(function () {

        $("#JSsend").click(function (e) {
            e.preventDefault();
            if (checkFields())
                $('form#ActionForm').submit();
        });

    });

    function checkFields() {

        if ($('#Description').val() == "") {
            $("#result").html('Inserire il testo del contributo');
            $("#result").fadeIn();
            return false;
        }

        $("#result").html('');
        return true;
    }

    function jsOnFailure() {
        alert("Error");
    }

    function jsOnSuccess() {
        if ($('#Description').val() != '')
        {
            $(".JsResultOk").fadeIn();
            $(".JChangeOk").hide();
        }
        else
        { $("#result").fadeIn(); }
        
        $('#postList', window.parent.document).html('');
        $("#currPostsPage", window.parent.document).html(0);
        $("#btnMore", window.parent.document).click();

        //aggiorno il contatore dei contributi della discussione
        var numP = 0;
        numP = parseInt($('#totPost', window.parent.document).html(),10);

        $('#totPost', window.parent.document).html(numP + 1);

        $('#docsList', window.parent.document).html('');
        $("#currDocsPage", window.parent.document).html(0);
        $("#btnMoreDocs", window.parent.document).click();
        
        $(".contrBox", window.parent.document).show();
    }


    function UploadFile() {
        var formdata = new FormData(); //FormData object

        if ($('#FileUpl').length > 0) {
            var file = $('#FileUpl')[0].files[0];

            //Appending each file to FormData object
            formdata.append(file.name, file);

            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
           

            xhr.open('POST', "/Contributi/UploadFile");
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    //if (xhr.responseText == "ok") {
                    //    //$("#list-files").append(xhr.responseText);
                    //    //$('.remove_file').unbind("click");
                    //    //$('.remove_file').bind("click", function (event) {
                    //    //    event.preventDefault();
                    //    //    var idFile = $(this).data("fileid");
                    //    //    DeleteSingleFile(idFile);
                    //    });
                    //}
                    //else {
                    //    alert("Error while uploading file!");
                    //}

                }

            }

            }
    }



    //validateFileUpload
    $('#FileUpl').change(function (e) {
        var ret = validateUploadFile(e);
        if (ret) {

            UploadFile();
        }

    });

    //validateForm
    function validateUploadFile(e) {
        $("#valFileUpload").html("");
        var files = e.target.files;
        if (files.length > 0) {

            var file_size = files[0].size;
            if (file_size > 4194304) {
                $("#valFileUpload").html("La dimensione del file allegato deve essere minore di 4 MB!");
                return false;
            }
        }

        return true;
    }
    
</script>
