﻿@model inClub.Web.Portal.Models.AddContributo
@{
    Layout = "~/portal/Views/Shared/_LayoutPopup.cshtml";
}


<section>
    <div class="registerBox" style="background-color:#FFF; padding:0;margin:0;">
        <div class="container containerPopup500">
            <div class="box8">
                <div class="cntRegister">
                    <div class="box6">
                        <h3>Lascia un commento</h3>
             @using (Ajax.BeginForm("AggiungiCommento", "Contributi", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result", OnFailure = "jsOnFailure();", OnSuccess = "jsOnSuccess();", InsertionMode = InsertionMode.Replace }, new { id = "ActionForm" }))
                        {
                            @(Html.ValidationSummary(true))
                            @(Html.AntiForgeryToken())
                 
                
                     @(Html.HiddenFor(m => m.discussionID, new { id = "discussionID" }))
                 
                    @(Html.HiddenFor(m => m.langID, new { id = "langID" }))
                   @(Html.HiddenFor(m => m.groupID, new { id = "groupID" }))
                    @(Html.HiddenFor(m => m.fatherID, new { id = "fatherID" }))
                    @(Html.HiddenFor(m => m.type, new { id = "type" }))

                                <div class="JChangeOk">
                                   
                                    <div class="rowForm JChangeOk">
                                        <div class="box4">@this.Html.TextAreaFor(m => m.Description, new { placeholder = "Commento"})</div>
                                    </div>


                                    <div class="rowForm  JChangeOk">
                                        <div id="result" style="display:none;color:red; font-size:12px;"></div>
                                    </div>
                                    <div class="rowForm checkRow JChangeOk">
                                        <div class="box2">
                                            <a href="javascript:void(0);" title="Invia" class="btn" id="JSsend">Invia</a> 
                                        </div>
                                    </div>
                                </div>
                        }


                    <div class="rowForm checkRow JsResultOk" style="display:none;">
                        <div class="box2">
                            Il commento è stato creato correttamente.
                        </div>
                    </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>



<script>

    $(document).ajaxComplete(function () {
        $.validator.unobtrusive.parse('Form');
    });

    /*SCRIPT per FORM*/
    $(function () {

        $("#JSsend").click(function (e) {
            e.preventDefault();
            if (checkFields())
                $('form#ActionForm').submit();
        });

    });

    function checkFields() {

        if ($('#Description').val() == "") {
            $("#result").html('Inserire il testo del commento');
            $("#result").fadeIn();
            return false;
        }

        $("#result").html('');
        return true;
    }

    function jsOnFailure() {
        alert("Error");
    }

    function jsOnSuccess() {
        
        if ($('#Description').val() != '')
        {
            $(".JsResultOk").fadeIn();
            $(".JChangeOk").hide();
        }
        else
        { $("#result").fadeIn(); }

        var currFather = '@this.Model.fatherID';

        $('#showComm' + currFather, window.parent.document).show();
        $('#divNumCom' + currFather, window.parent.document).show();

        var prevDiv =  $('#divNumCom' + currFather, window.parent.document).parent();
          
        $(prevDiv).css("border-top", "1px solid #fff");
        

        //aggiorno il contatore dei commenti del contributo
        var numC = 0
        numC = parseInt($('#numCommenti' + currFather, window.parent.document).html(),10);
        
        $('#numCommenti' + currFather, window.parent.document).html(numC + 1);

        var commList = $("#commList" + currFather, window.parent.document);
        $(commList).html('');


        var arrowImg = $("#showComm" + currFather, window.parent.document).children();

        if ($(arrowImg).hasClass("fa fa-chevron-up")){
            $(arrowImg).removeClass("fa fa-chevron-up");
            $(arrowImg).addClass("fa fa-chevron-down");
        }

        $("#showComm" + currFather, window.parent.document).click();        

    }


</script>
