﻿@model inClub.Web.Portal.Models.ModificaDocumento
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@{
    Layout = "~/portal/Views/Shared/_LayoutPopup.cshtml";
}

<style type="text/css">
    .error {
        color: red;
    }
</style>

<section>
    <div class="registerBox" style="background-color:#FFF; padding:0;margin:0;">
        <div class="container containerPopup500">
            <div class="box8">
                <div class="cntRegister" style="padding:0;">
                    <div class="box6">
                        <h3>Modifica dati Documento</h3>
             @using (Ajax.BeginForm("ModificaDocumento", "Documenti", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result", OnFailure = "jsOnFailure();", OnSuccess = "getresult", InsertionMode = InsertionMode.Replace }, new { id = "ActionForm" }))
                        {
                            @(Html.ValidationSummary(true))
                            @(Html.AntiForgeryToken())
                                 
                            @(Html.HiddenFor(m => m.langID, new { id = "langID" }))
                            @(Html.HiddenFor(m => m.groupID, new { id = "groupID" }))
                            @(Html.HiddenFor(m => m.ID, new { id = "docID" }))
                            @(Html.HiddenFor(m => m.folderID, new { id = "folderID" }))



                                <div class="JChangeOk">
                                   @*@if (Model.Discussion != null)*@
@if (1 == 1 )
{
    <div class="rowForm JChangeOk noMargin">
        <div id="boxSelDiscussion">
            <div class="rowForm JChangeOk">
                <div class="box2">Discussione</div>
                <div class="box4">@this.Html.DropDownListFor(m => m.SelectedDiscId, Model.Discussion)</div>
            </div>
        </div>

        <div id="boxNewDiscussion" style="display:none;">
            <div class="rowForm JChangeOk">
                <div class="box2">Dati Discussione</div>
                <div class="box4">@this.Html.TextBoxFor(m => m.TitleNewDiscussion, new { placeholder = "Titolo discussione" })</div>
            </div>
            <div class="rowForm JChangeOk">
                <div class="box4">@this.Html.TextAreaFor(m => m.DescriptionNewDiscussion, new { placeholder = "Descrizione discussione" })</div>
            </div>
            <br /><br />Dati Documento<br />
        </div>

        <div class="box4">@this.Html.TextBoxFor(m => m.Title, new { placeholder = "Nome documento" })</div>
        <div class="rowForm  JChangeOk">
            <div class="box4">@this.Html.TextAreaFor(m => m.Description, new { placeholder = "Descrizione" })</div>
        </div>
       

        <div class="rowForm  JChangeOk" style="margin:0;">
            <div id="result" style="display:none;color:red;font-weight:bold; font-size:12px;"></div>
        </div>
    </div>

                                                                       <div class="rowForm checkRow JChangeOk">
                                        <div class="box2">
                                            <a href="javascript:void(0);" title="Invia" class="btn" id="JSsend">Invia</a>
                                        </div>
                                    </div>
}
                                   else
                                   {
                                      <div class="JsResultOk" style="margin:0;">
                                        <div class="box2" id="msgBox">
                                            <br /><br />Nel gruppo non sono presenti dicussioni a cui associare il documento.
                                        </div>
                                    </div>
                                       
                                   }

                                </div>
                        }

                        <div class="JsResultOk" style="display:none; margin:0;">
                            <div class="box2" id="msgBox">
                                <br /><br />Il Documento è stato creato correttamente.
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #SelectedTypeDoc {
        width: 25% !important;
}
</style>

<script>

    $(document).ajaxComplete(function () {
        $.validator.unobtrusive.parse('Form');
    });

    /*SCRIPT per FORM*/
    $(function () {

        $("#JSsend").click(function (e) {
            e.preventDefault();
            if (checkFields())
                $('form#ActionForm').submit();
        });

    });

    function checkFields() {

        if ($('#SelectedDiscId').find(':selected').val() == '') {
            if ($('#TitleNewDiscussion').val() == "" || $('#DescriptionNewDiscussion').val() == "") {
                $("#result").html('Inserire titolo e descrizione della discussione.');
                $("#result").fadeIn();
                return false;
            }
        }

        if ($('#Title').val() == "" || $('#Description').val() == "") {
            $("#result").html('Inserire titolo e descrizione del documento.');
            $("#result").fadeIn();
            return false;
        }      

       

        $("#result").html('');
        return true;
    }

    function jsOnFailure() {
        alert("Si è verificato un errore, si prega di riprovare.");
    }

    

    function getresult(data) {

        if ($('#Description').val() != '') {
            $(".JsResultOk").fadeIn();
            $(".JChangeOk").hide();
            $("#msgBox").html(data);                       
        }
        else {
            $("#result").fadeIn();            
        }

        $('#documentsList', window.parent.document).html('');
        $("#currPageDocs", window.parent.document).html(0);
        $("#btnMore", window.parent.document).click();

        
    }
    //function OnSuccess(e) { //function CouponSubmitted(data) in the question
    //    var json = e.get_response().get_object();
    //    alert(json.success);
    //}


    
    $('#SelectedDiscId').change(function (e) {
        if ($(this).find(':selected').val() == '') {            
            $("#boxNewDiscussion").show();
            $("#boxSelDiscussion").hide();            
        } else {
            $("#boxNewDiscussion").hide();
        }
    });

 
</script>
