﻿@model Inclub.Web.Portal.Models.ProponiGruppo
@using Inclub.Web.Portal.Keys
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions
@{
    Layout = "~/portal/Views/Shared/_LayoutPopup.cshtml";   
    
}


<section>
    <div class="registerBox">
        <div class="container containerPopup500">
            <div class="box8">
                <div class="cntRegister">
                    <div class="box6">
                        <h3>@Html.Raw(DictionaryHelper.GetLabel(DictionaryKeys.GruppiTitleProponi, LabelKeys.LANGUAGE_PORTAL))</h3>
                        <p class="textPopup">@Html.Raw(DictionaryHelper.GetLabel(DictionaryKeys.GruppiTextProponi, LabelKeys.LANGUAGE_PORTAL))</p>
             @using (Ajax.BeginForm("ProponiGruppo", "Community", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result", OnFailure = "jsOnFailure();", OnSuccess = "jsOnSuccess();", InsertionMode = InsertionMode.Replace }, new { id = "ActionForm" }))
                        {
                            @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()
                                <div class="JChangeOk">
                                    <div class="rowForm JChangeOk">
                                        <div class="box4">@this.Html.TextBoxFor(m => m.Title, new { placeholder = "Titolo" })</div>
                                    </div>

                                    <div class="rowForm JChangeOk">
                                        <div class="box4">@this.Html.TextAreaFor(m => m.Description, new { placeholder = "Descrizione" })</div>
                                    </div>


                                    <div class="rowForm  JChangeOk">
                                        <div id="result" style="display:none;color:red; font-size:12px;"></div>
                                    </div>
                                    <div class="rowForm checkRow JChangeOk">
                                        <div class="box2">
                                            <a href="javascript:void(0);" title="Invia" class="btn" id="JSsend">Invia</a>
                                        </div>
                                    </div>
                                </div>
                        }


                    <div class="rowForm checkRow JsResultOk" style="display:none; margin:0;">
                        <div class="box2">
                            Il nuovo gruppo è stato inviato in approvazione.
                        </div>
                    </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>



<script>

    $(document).ajaxComplete(function () {
        $.validator.unobtrusive.parse('Form');
    });

    /*SCRIPT per FORM*/
    $(function () {

        $("#JSsend").click(function (e) {
            e.preventDefault();
            $('form#ActionForm').submit();
        });

    });

    function jsOnFailure() {
        alert("Error");
    }

    function jsOnSuccess() {
        if ($('#Title').val() != '')
        {
            $(".JsResultOk").fadeIn();
            $(".JChangeOk").hide();
            $(".textPopup").hide();            
        }
        else
        { $("#result").fadeIn(); }
    }

    
</script>
