﻿@using Inclub.Web.Portal.Keys
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions
@using Inclub.Web.Portal.Models

@{
    //var model = new UserLogIn();
    //bool regWebinar = ViewBag.regWebinar;
    //model.webinar = regWebinar;
    //bool noWebinar = ViewBag.noWebinar;

    DateTime webinarStart = DateTime.Parse("07/11/2017 15:20");
    DateTime webinarEnd = DateTime.Parse("07/11/2017 17:30");
    DateTime orario = System.DateTime.Now;
}

                                
   @{this.Html.RenderAction("lastFromGroup");}
                

<section>

    @*<a href="javascript:void(0);" class="JOpenColorbox" onclick="javascript: leaveSite('http://www.healthwareinternational.com/events/gfk-digital-health-2017-519?k=1&j=2');">Sito Esterno</a>*@
    
    <div class="hpBox noSpaceTop">
        <div class="container">
            <div class="box5">
                <div class="left">
                    <div class="swiperEvidenza">

                        <div class="titleRed">@*<span>5</span>*@<h4>@Html.Raw(this.ViewBag.TitleBox1.ToString())</h4><a name="webinar">&nbsp;</a></div>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">



                                @if (orario < webinarEnd)
                                {
                                    <div class="swiper-slide">



                                        <div class="cover"><img src="/Portal/Content/_slice/slider_webinar2.png" alt="SAVE THE DATE!"></div>
                                        <div class="cnt">
                                            <h4 class="catWeb">WEBINAR:</h4>
                                            <h3 class="webTitle">SAVE THE DATE!<br />7 Novembre<br />Ore 15:30 - 17:30</h3>
                                            <p>
                                                Approfondiscono il tema:<br />
                                                Dott.ssa Concetta Irace,<br />
                                                Dott.ssa Elena Gamarra.<br />
                                            </p>
                                            @if (ViewBag.AccessWebinar == false)
                                            {
                                                <span id="lblRegWebinar"><a href="javascript:void(0);" id="regWebinar" data-href="@Html.Raw(Url.Action("RegistraWebinar", "Community"))" class="readMore readWebinar">Registrati <i class="fa fa-arrow-right" aria-hidden="true"></i></a></span>
                                            }
                                            else
                                            {
                                                if (orario < webinarStart)
                                                {
                                                    <h4 id="msg_iscritto">Sei iscritto al webinar</h4>
                                                }
                                                else
                                                {
                                                    <a href="https://zoom.us/j/881106350" class="readMore highlight" target="_blank">Clicca qui per accedere al webinar</a>
                                                }
                                            }
                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <style>
                                        .swiperEvidenza .swiper-pagination {
                                            display: none;
                                        }

                                        .swiperEvidenza .swiper-button-next {
                                            display: none;
                                        }

                                        .swiperEvidenza .swiper-button-prev {
                                            display: none;
                                        }
                                    </style>
                                }

                                @Html.Raw(this.ViewBag.TestoBox1.ToString())
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    @*<div class="incontraBox JSdoLogin">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <h4>Incontra nuovi membri della tua community</h4>
                            <a href="javascript:void(0);" title="Read more" class="readMore"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>*@
                    @*<div class="rocheBox">
                            <img src="/Portal/Content/_slice/roche.png" alt="Roche" />
                            <h4>Visita il sito web di Roche</h4>
                            <a href="#" title="Read more" class="readMore"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        </div>*@
                </div>
            </div>

            

            

            <div class="box3">
                <div class="right">
                    <div class="swiperVideo" style="display:none;">
                        <div class="titleRed JSdoLogin">@*<span>3</span>*@<h4>@Html.Raw(this.ViewBag.TitleBox2.ToString())</h4></div>
                        <div class="swiper-container">
                           @* @Html.Raw(this.ViewBag.TestoBox2.ToString())*@
                            @{ Html.RenderAction("LastVideos", "Community", new { groupsList = ViewBag.listaGruppi, langId = 1, altText = @Html.Raw(this.ViewBag.TestoBox2.ToString()) }); }
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                    <div class="swiperNews">
                        <div class="titleRed JSdoLogin">@*<span>2</span>*@<h4>@Html.Raw(this.ViewBag.TitleBox3.ToString())</h4></div>
                        <div class="swiper-container">
                            @*@Html.Raw(this.ViewBag.TestoBox3.ToString())*@
                            @{ Html.RenderAction("LastNews", "Community", new { langId = 1, altText = @Html.Raw(this.ViewBag.TestoBox3.ToString()) }); }
                        </div>
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>

            <div class="swiperGeneric externalSwiper">
                <div class="titleTransparent"><div class="swiper-pagination"></div></div>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @Html.Raw(this.ViewBag.TestoBox4.ToString())
                    </div>
                </div>

                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
    </div>

</section>
<script>

    $(function () {

        var hash = window.location.hash.substring(1); //Puts hash in variable, and removes the # character
        if (hash == "webinar") {
            $("#msg_iscritto").addClass("highlight");
        }

        $("#regWebinar").click(function (e) {
            if (confirm("Procedere all'iscrizione al webinar?") == true) {
                $.ajax({
                    type: "POST",
                    url: "/Community/RegistraWebinar",
                    success: function (data) {
                        if (data == "ok") {
                            alert("Iscrizione avvenuta con successo!");
                            $("#lblRegWebinar").html('<h4>Sei iscritto al webinar</h4>');
                        } else {
                            alert(data);
                        }
                    },

                    error: function (errorData) {
                        //onError(errorData);
                    }

                });
            }
        });

    });

</script>


<script type="text/javascript">


    $(document).ready(function () {

      //  LoadLastUpdates(2);

    });



    function LoadLastUpdates(groupID) {
        //alert('LoadLastUpdates:' + groupID)
     
        $.ajax({
            type: "GET",
            url: "/Community/lastFromGroup",
            data: { groupId: groupID },
            success: function (data) {                

                $("#sliderLastUpd").append(data); 

            },

            error: function (errorData) {
                //onError(errorData);
            }

        });
    }

</script>