﻿@model List<inClub.Web.Portal.Models.HPLastUpdates>
@using Inclub.Web.Portal.Keys
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions
@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues
@using Healthware.HP3.Core.Content.ObjectValues
@using Healthware.HP3.Core.Utility


@if (this.Model != null && this.Model.Any())
{
    var _currGroupDetail = string.Empty;
    <section>
        <div class="hpBox noSpaceBottom">
            <div class="container">
                <div class="box12">
                    <div class="right">
                        <div class="swiperLastUpd swiperLastGroups">
                            <div class="titleRed JSdoLogin"><h4>Ultime dai miei gruppi</h4></div>
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                   
                                    @foreach (var item in this.Model)
                                    {
                                        _currGroupDetail = this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, new ContentIdentificator(item.GroupId, 1), new LanguageIdentificator(1), item.GroupName, "detail");

                                        <div class="swiper-slide">
                                            <h2 class="nomeGroups"><a href="@_currGroupDetail">@item.GroupName</a></h2>
                                            <div class="box4">
                                                <h3 class="bgtitle">ULTIME DISCUSSIONI</h3>
                                                @if (item.LastDiscussionsList != null && item.LastDiscussionsList.Any())
                                                {
                                                    var _currDiscDetail = string.Empty;

                                                    foreach (inClub.Web.Portal.Models.Discussioni disc in item.LastDiscussionsList)
                                                    {

                                                        _currDiscDetail = this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, new ContentIdentificator(disc.GroupKey.Id, disc.GroupKey.IdLanguage), new LanguageIdentificator(disc.GroupKey.IdLanguage), disc.Title, "detail", disc.DiscussionKey.Id.ToString(), "discussioni");

                                                        <div class="commlats">
                                                            <h3><a href="@_currDiscDetail" title="@disc.Title">@disc.Title</a></h3>
                                                            <div class="author"><h4>di <span>@disc.UserCreateName</span></h4></div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            <div class="box4">
                                                <h3 class="bgtitle">ULTIMI CONTRIBUTI</h3>
                                                @if (item.LastPostsList != null && item.LastPostsList.Any())
                                                {
                                                    var _currPostDetail = string.Empty;
                                                    foreach (inClub.Web.Portal.Models.Contributo post in item.LastPostsList)
                                                    {
                                                        _currPostDetail = this.Url.ThemeLinkDetail(Inclub.Web.Portal.Keys.ThemeKeys.HPGruppo, new ContentIdentificator(post.GroupKey.Id, post.GroupKey.IdLanguage), new LanguageIdentificator(post.GroupKey.IdLanguage), post.DiscussionTitle, "detail", post.DiscussionKey.Id.ToString(), "discussioni") + "&p=" + SimpleHash.UrlEncryptRijndaelAdvanced(post.FatherID.ToString()) + "&c=" + SimpleHash.UrlEncryptRijndaelAdvanced(post.PostKey.Id.ToString());
                                                        <div class="commlats">
                                                            <div class="lxlate">
                                                                <a href="@_currPostDetail" title="@post.Description">
                                                                    <img src="@post.UserCover" alt="@post.UserCreateName" />
                                                                </a>
                                                            </div>
                                                            <div class="rxlate">
                                                                <h3><a href="@_currPostDetail" title="@post.Description">                                                                    
                                                                    @(post.Description.Length > 150 ? post.Description.Substring(0, 145) + "..." : post.Description) 
                                                                    </a></h3>
                                                                <h4>di <span>@post.UserCreateName</span></h4>
                                                                <h4>in <a href="@_currPostDetail" title="@post.Description">@post.DiscussionTitle</a></h4>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>

                                    }



                                    @*<div id="sliderLastUpd"></div>*@
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
}
