﻿@model  IEnumerable<Inclub.Web.Portal.Models.GenericContentArchives>
@using Inclub.Web.Portal.Keys
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions
@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues
@using Healthware.HP3.Core.Content.ObjectValues
@using Healthware.HP3.Core.Utility


@if (this.Model != null && this.Model.Any())
{
    var _currDetail = string.Empty;
    <div class="swiper-wrapper">

        @foreach (var item in this.Model)
        {
            _currDetail = this.Url.ThemeLinkIndex(new Healthware.HP3.Core.Site.ObjectValues.ThemeIdentificator(@item.ThemeId), @item.Key, @item.Title);
            var imgCover = "/hp3image/cover/" + Inclub.Web.Portal.Helper.CoverHelper.getCover(new Healthware.HP3.Core.Content.ObjectValues.ContentIdentificator(item.Key.Id, (short)item.LanguageId), (int)EnumeratorKeys.coverDimension.NewsWidthArchive, (int)EnumeratorKeys.coverDimension.NewsHeightArchive, Inclub.Web.Portal.Keys.EnumeratorKeys.coverPosition.third);
            <div class="swiper-slide">
                <img src="@imgCover" alt="@item.Title" />
                <h3>@item.Title</h3>
                <a href="@_currDetail" title="Read more" class="readMore"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

        }

    </div>
               
}

   