﻿@model List<inClub.Web.Portal.Models.Interviste>
@using Inclub.Web.Portal.Keys
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions
@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues
@using Healthware.HP3.Core.Content.ObjectValues
@using Healthware.HP3.Core.Utility


@if (this.Model != null && this.Model.Any())
{
    var _currVideoDetail = string.Empty;
    <div class="swiper-wrapper">

        @foreach (var item in this.Model)
        {
            _currVideoDetail = this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, item.GroupKey, new LanguageIdentificator(item.GroupKey.IdLanguage), item.Title, "detail", item.IntervistaKey.Id.ToString(), "interviste");

            <div class="swiper-slide">
                <img src="@("/HP3Image/cover/" + CoverHelper.getCover(item.IntervistaKey, 403, 0, Inclub.Web.Portal.Keys.EnumeratorKeys.coverPosition.third))" alt="@item.Description" />
                
                <a href="@_currVideoDetail" title="Read more" class="readMore"><i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            </div>

        }

    </div>
               
}

    @if (this.Model.Count<2)
    {
    <script>
        $(document).ready(function () {
            $(".swiperVideo .swiper-pagination").hide();
            $(".swiperVideo .swiper-button-next").hide();
            $(".swiperVideo .swiper-button-prev").hide();
        });
    </script>
    }
