﻿@using Inclub.Web.Portal.Extensions

@{
    Layout = "~/portal/Views/Shared/_LayoutRegistrazione.cshtml";
    var pageInfo = this.GetPageInfo();
    var _registrationMsg = "";

    if (this.ViewBag.OperationResult != null)
    {
        _registrationMsg = this.ViewBag.OperationResult.Message;
    }

}
<section>
    <div class="registerBox">
        <a href="/" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">
                <div class="cntRegister">
                    <div class="box1">&nbsp;</div>
                    <div class="box6">
                        <h1>Conferma Registrazione</h1>
                        <h3>@this.Html.Raw(this.ViewBag.Message)</h3>
                        
                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>
