﻿@model inClub.Web.Portal.Models.AddDocumento
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@{
    Layout = "~/portal/Views/Shared/_LayoutPopup.cshtml";
}

<style type="text/css">
    .error {
        color: red;
    }
</style>

<section>
    <div class="registerBox" style="background-color:#FFF; padding:0;margin:0;">
        <div class="container containerPopup500">
            <div class="box8">
                <div class="cntRegister" style="padding:0;">
                    <div class="box6">
                        <h3>Aggiungi un Documento</h3>
             @using (Ajax.BeginForm("AggiungiDocumento", "Documenti", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "result", OnFailure = "jsOnFailure();", OnSuccess = "getresult", InsertionMode = InsertionMode.Replace }, new { id = "ActionForm" }))
                        {
                            @(Html.ValidationSummary(true))
                            @(Html.AntiForgeryToken())
                                 
                            @(Html.HiddenFor(m => m.langID, new { id = "langID" }))
                            @(Html.HiddenFor(m => m.groupID, new { id = "groupID" }))
                            @(Html.HiddenFor(m => m.tempFile, new { id = "tempFile" }))
                            @(Html.HiddenFor(m => m.role, new { id = "role" }))
                            @(Html.HiddenFor(m => m.groupIsOpen, new { id = "groupIsOpen" }))
                 

                                <div class="JChangeOk">
                                   @*@if (Model.Discussion != null)*@
@if (1 == 1 )
{
    <div class="rowForm JChangeOk noMargin">
        <div id="boxSelDiscussion">
            <div class="rowForm JChangeOk">
                <div class="box2">Discussione</div>
                <div class="box4">@this.Html.DropDownListFor(m => m.SelectedDiscId, Model.Discussion)</div>
            </div>
        </div>

        <div id="boxNewDiscussion" style="display:none;">
            <div class="rowForm JChangeOk">
                <div class="box2">Dati Discussione</div>
                <div class="box4">@this.Html.TextBoxFor(m => m.TitleNewDiscussion, new { placeholder = "Titolo discussione" })</div>
            </div>
            <div class="rowForm JChangeOk">
                <div class="box4">@this.Html.TextAreaFor(m => m.DescriptionNewDiscussion, new { placeholder = "Descrizione discussione" })</div>
            </div>
            <br /><br />Dati Documento<br />
        </div>

        <div class="box4">@this.Html.TextBoxFor(m => m.Title, new { placeholder = "Nome documento" })</div>
        <div class="rowForm  JChangeOk">
            <div class="box4">@this.Html.TextAreaFor(m => m.Description, new { placeholder = "Descrizione" })</div>
        </div>
       
            <div class="rowForm  JChangeOk" style="display:none;">
                <div class="box4">Tipo file: @this.Html.DropDownListFor(m => m.SelectedTypeDoc, Model.TypeDoc)</div>
            </div>
        
        <div class="rowForm  JChangeOk">
            <div class="files">
                @Html.TextBoxFor(x => x.FileUpl, new { type = "file", placeholder = "* ---" })
                @*<input type="file" placeholder="@this.Html.GetLabel(DictionaryKeys.LabelCV, Polifarma.Web.Portal.Helper.LanguageHelper.GetLanguageFromUrl().Id)" />*@
            </div>
        </div>
        @this.Html.ValidationMessageFor(m => m.FileUpl, null, new { id = "valFileUpload", @class = "error" })

        <div style="font-size:10px;">
            Formati ammessi:<br /> .jpg, .gif, .png, .rtf, .doc, .docx, .xls, .xlsx, .ppt, .pptx, .pdf, .zip, .rar, .mp3, .wave, .wma, .mpeg, .mp4<br />
            <div class="marginTop10">
                Documenti Max. size: 4MB<br />
                Video Max. size: 60MB
            </div>

        </div>

        <div class="rowForm  JChangeOk" style="margin:0;">
            <div id="result" style="display:none;color:red;font-weight:bold; font-size:12px;"></div>
        </div>
    </div>

                                                                       <div class="rowForm checkRow JChangeOk">
                                        <div class="box2">
                                            <a href="javascript:void(0);" title="Invia" class="btn" id="JSsend">Invia</a>
                                        </div>
                                    </div>
}
                                   else
                                   {
                                      <div class="JsResultOk" style="margin:0;">
                                        <div class="box2" id="msgBox">
                                            <br /><br />Nel gruppo non sono presenti dicussioni a cui associare il documento.
                                        </div>
                                    </div>
                                       
                                   }

                                </div>
                        }

                        <div class="JsResultOk" style="display:none; margin:0;">
                            <div class="box2" id="msgBox">
                                <br /><br />Il Documento è stato creato correttamente.
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #SelectedTypeDoc {
        width: 25% !important;
}
</style>

<script>

    $(document).ajaxComplete(function () {
        $.validator.unobtrusive.parse('Form');
    });

    /*SCRIPT per FORM*/
    $(function () {

        $("#JSsend").click(function (e) {
            e.preventDefault();
            if (checkFields())
                $('form#ActionForm').submit();
        });

    });

    function checkFields() {

        if ($('#SelectedDiscId').find(':selected').val() == '') {
            if ($('#TitleNewDiscussion').val() == "" || $('#DescriptionNewDiscussion').val() == "") {
                $("#result").html('Inserire titolo e descrizione della discussione.');
                $("#result").fadeIn();
                return false;
            }
        }

        if ($('#Title').val() == "" || $('#Description').val() == "") {
            $("#result").html('Inserire titolo e descrizione del documento.');
            $("#result").fadeIn();
            return false;
        }      

        if ($('#FileUpl')[0].files[0] == undefined) {
            $("#result").html('Selezionare un file.');
            $("#result").fadeIn();
            return false;
        }

        $("#result").html('');
        return true;
    }

    function jsOnFailure() {
        alert("Si è verificato un errore, si prega di riprovare.");
    }

    function jsOnSuccess() {
        if ($('#Description').val() != '')
        {
            $(".JsResultOk").fadeIn();
            $(".JChangeOk").hide();
        }
        else
        { $("#result").fadeIn(); }
        


        $('#documentsList', window.parent.document).html('');
        $("#currPageDocs", window.parent.document).html(0);
        $("#btnMore", window.parent.document).click();
       
    }


    function getresult(data) {

        if ($('#Description').val() != '') {
            $(".JsResultOk").fadeIn();
            $(".JChangeOk").hide();
            $("#msgBox").html(data);                       
        }
        else {
            $("#result").fadeIn();            
        }


        $('#documentsList', window.parent.document).html('');
        $("#currPageDocs", window.parent.document).html(0);
        $("#btnMore", window.parent.document).click();

        
    }
    //function OnSuccess(e) { //function CouponSubmitted(data) in the question
    //    var json = e.get_response().get_object();
    //    alert(json.success);
    //}


    function UploadFile() {
        var formdata = new FormData(); //FormData object

        if ($('#FileUpl').length > 0) {
            var file = $('#FileUpl')[0].files[0];

            //Appending each file to FormData object
            formdata.append(file.name, file);

            //Creating an XMLHttpRequest and sending
            var xhr = new XMLHttpRequest();
           

            xhr.open('POST', "/Documenti/UploadFile");
            xhr.send(formdata);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {                   
                    if (xhr.responseText.includes("resko:")) {
                        alert('Si è verificato un errore in fase di upload del file ' + xhr.responseText.replace("resko:",""));
                    } else {                        
                        $("#tempFile").val(JSON.parse(xhr.responseText));

                        var media = ["mp3", "mp4", "wma", "wave", "mpeg"];
                        var ext = (($("#tempFile").val()).split("."))[1];

                        if (media.indexOf(ext.toLowerCase()) >= 0) {
                            $("#SelectedTypeDoc option[value=2]").attr('selected', 'selected');
                            $("#SelectedTypeDoc").selectmenu('refresh', true);
                        } else {
                            $("#SelectedTypeDoc option[value=1]").attr('selected', 'selected');
                            $("#SelectedTypeDoc").selectmenu('refresh', true);
                        }
                    }
                }

            }

            }
    }

    //validateFileUpload
    $('#FileUpl').change(function (e) {
        var ret = validateUploadFile(e);
        if (ret) {

            UploadFile();
        }

    });

    
    $('#SelectedDiscId').change(function (e) {
        if ($(this).find(':selected').val() == '') {            
            $("#boxNewDiscussion").show();
            $("#boxSelDiscussion").hide();            
        } else {
            $("#boxNewDiscussion").hide();
        }
    });

    //validateForm
    function validateUploadFile(e) {
        $("#valFileUpload").html("");
        var files = e.target.files;
        var allowed = ["mp3", "mp4", "wma", "jpg", "gif", "png", "doc", "docx", "xls", "xlsx", "ppt", "pptx", "pdf", "zip", "rar", "rtf", "wave", "mpeg"];
        var media = ["mp3", "mp4", "wma", "wave", "mpeg"];

        if (files.length > 0) {
            var ext = ((files[0].name).split('.'))[1];

            if (allowed.indexOf(ext.toLowerCase()) == -1) {
                $("#valFileUpload").html("Tipo di file non consentito!");
                return false;
            }

            var file_size = files[0].size;
            if (((file_size > 4994304) && (media.indexOf(ext.toLowerCase()) == -1)) || ((media.indexOf(ext.toLowerCase()) >= 0) && (file_size > 61440000))) {
               
               
                if ($("#SelectedTypeDoc").val() == 1) {
                    $("#valFileUpload").html("La dimensione del file allegato deve essere massimo di 4 MB!");
                }

                if ($("#SelectedTypeDoc").val() == 2) {
                    $("#valFileUpload").html("La dimensione del file allegato deve essere massimo di 60 MB!");
                }

                return false;
            }
        }

        return true;
    }
    
</script>
