﻿@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions


@{
    var pageInfo = this.GetPageInfo();
    var groupID = this.ViewBag.groupID;
    var langId = this.ViewBag.langId;
    var role = this.ViewBag.role;
    var groupIsOpen = this.ViewBag.groupIsOpen;
    string docID = (Request["parameter"] == null? "0": Request["parameter"].ToString());
}

<div class="discBox ">
    <div class="item">
        <a href="@Html.Raw(Url.Action("AggiungiDocumento", "Documenti"))?r=@role&gId=@groupID&lId=@langId&groupIsOpen=@groupIsOpen" class="addContr JOpenColorbox addDoc"><i class="fa fa-plus" aria-hidden="true"></i> Aggiungi un documento</a>
    </div>



    <div class="box1">&nbsp;</div>

    <div class="box6" id="documentsList">

    </div>
</div>
    <div class="box1">&nbsp;</div>
    <div id="paginatorDocs"><a href="javascript:void(0);" id="btnMore" onclick="LoadMoreDocuments(@groupID,0);">@(docID == "0" ? "view more" : "view all")</a></div>


<span id="currPageDocs" style="display:none;">0</span>


    <script type="text/javascript">
        

        if (parseInt($("#currPageDocs").html()) == 0) {
            LoadMoreDocuments('@groupID', '@docID');
        }



        function LoadMoreDocuments(groupID, docID) {
           
            var nextPage = parseInt($("#currPageDocs").html()) + 1;

            $.ajax({
                type: "GET",
                url: "/Documenti/Archive",
                data: {groupID:groupID, langId:@LanguageHelper.GetLanguageFromUrl().Id, folderId:0, onlyResources:0, pagenum:nextPage, pagesize:10, viewName:'_ItemDocumenti', docID: docID},
                success: function (data) {

                    

                    $("#currPageDocs").html(nextPage);
                   
                    //if (docID == "0"){           
                    //    $("#documentsList").html('');
                    //    $("#btnMore").html('view more');
                    //}else{                        
                    //    $("#currPageDocs").html(0);
                    //}


                    if ((docID != "0") && (parseInt($("#currPageDocs").html()) == "1")){
                        //alert('test2');
                        $("#currPageDocs").html(0);                   
                        $("#documentsList").html('');
                    }
                    if ((docID == "0") && (parseInt($("#currPageDocs").html()) == "1")){
                        $("#documentsList").html('');
                        $("#btnMore").html('view more');
                    }




                    $("#documentsList").append(data); //the HTML I returned from the controller
                },

                error: function (errorData) {
                    //onError(errorData);
                }

            });


        }


        $(document).on("click", ".openFolder", function (e) {

            var currBlock = $(this).closest('div.docs');
            var currFolder = $(this).attr('rel');

            var subFile = $(".sf" + currFolder);
            
            //arrfolder
            var arrowImg = $("#arrfolder" + currFolder).children();

            if ($(arrowImg).hasClass("fa fa-chevron-down")){

                if (($(subFile).html() == "") || ($(subFile).html() == undefined)) {

                    $.ajax({
                        type: "GET",
                        url: "/Documenti/Archive",
                        data: {groupID:@groupID, langId:@LanguageHelper.GetLanguageFromUrl().Id, folderId:currFolder, onlyResources:0, pagenum:0, pagesize:0, viewName:'_ItemDocumenti' },
                        success: function (data) {

                            $(currBlock).after(data); //the HTML I returned from the controller
                            $(arrowImg).removeClass("fa-chevron-down");
                            $(arrowImg).addClass("fa-chevron-up");
                            jQuery(".sf" + currFolder).show();
                            //$(subFile).show();
                        },

                        error: function (errorData) {
                            //onError(errorData);
                        }

                    });
                }else{

                    $(arrowImg).removeClass("fa-chevron-down");
                    $(arrowImg).addClass("fa-chevron-up");
                    //$(subFile).show();
                    jQuery(".sf" + currFolder).show();
                }
            }
            else
            {
                    $(arrowImg).removeClass("fa-chevron-up");
                    $(arrowImg).addClass("fa-chevron-down");
                //$(subFile).hide();
                    jQuery(".sf" + currFolder).hide();
            }

        });


    </script>



