﻿@model Inclub.Web.Portal.Models.UserRegistration

@using Healthware.HP3.Core.User;
@using Healthware.HP3.Core.User.ObjectValues;
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Keys;

@{
    Layout = "~/portal/Views/Shared/_LayoutEmpty.cshtml";
    var pageInfo = this.GetPageInfo();

    bool _showMessage = false;
    var _displayMsg = false;
    var _displayForm = false;
    var _updateMsg = "";



    if (this.ViewBag.ShowMessage != null)
    { _showMessage = this.ViewBag.ShowMessage; }



    if (_showMessage)
    {
        _displayMsg = true;
        _displayForm = false;
    }
    else
    {
        _displayMsg = false;
        _displayForm = true;
    }


    if (this.ViewBag.OperationResult != null)
    {
        _updateMsg = this.ViewBag.OperationResult.Message;
    }



}
<section>
    <div class="registerBox">
        <a href="/" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">
                <div class="cntRegister">
                    <div class="box1">&nbsp;</div>
                    <div class="box6">
                        <h1>Completa il profilo Profilo</h1>

                        @if (_displayMsg)
                        {

                            <h3>@this.Html.Raw(_updateMsg)</h3>

                        }

                        @if (_displayForm)
                        {

                            using (Html.BeginForm("Index", "ModificaDati", FormMethod.Post, new { id = "UserUpdateForm", enctype = "multipart/form-data" }))
                            {
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.Id, (int)this.Model.Id);

                            <h3>Informazioni personali<span>(Tutti i campi sono obbligatori)</span></h3>

                            <div class="rowForm">
                                <div class="box2">Nome*</div>
                                <div class="box4">@Html.TextBoxFor(m => m.Name, null, new { @maxlength = "50" })</div>
                                <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.Name, null, new { @class = "required" })</div>
                            </div>

                            <div class="rowForm">
                                <div class="box2">Cognome*</div>
                                <div class="box4">@Html.TextBoxFor(m => m.Surname, null, new { @maxlength = "50" })</div>
                                <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.Surname, null, new { @class = "required" })</div>
                            </div>
                            <div class="rowForm">
                                <div class="box2">Codice Fiscale*</div>
                                <div class="box4">@this.Html.TextBoxFor(m => m.CodiceFiscale, null, new { @maxlength = "16" })</div>
                                <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.CodiceFiscale, null, new { @class = "required" })</div>
                            </div>
                            <div class="rowForm">
                                <div class="box2">Email*</div>
                                <div class="box4">@this.Html.TextBoxFor(m => m.Email, null, new { @maxlength = "200" })</div>
                                <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.Email, null, new { @class = "required" })</div>
                            </div>
                            <div class="rowForm">
                                <div class="box2">Conferma Email*</div>
                                <div class="box4">@this.Html.TextBoxFor(m => m.ConfirmEmail)</div>
                                <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.ConfirmEmail, null, new { @class = "required" })</div>
                            </div>



                            <h3>Informazioni lavorative<span>(Tutti i campi sono obbligatori)</span></h3>
                            <div class="rowForm">
                                <div class="box2">Specialità*</div>
                                <div class="box4">@Html.DropDownListFor(m => m.SelectedSpecId, Model.Specializzazioni)</div>
                                <div class="box2 errorTxt">@Html.ValidationMessageFor(m => m.SelectedSpecId, null, new { @class = "required" })</div>
                            </div>

                            <div class="rowForm">
                                <div class="box2">Profilo Skype</div>
                                <div class="box4">@this.Html.TextBoxFor(m => m.SkypeLink)</div>
                                <div class="box2 errorTxt">&nbsp;</div>
                            </div>

                            <div class="rowForm">
                                <div class="box2">Link Twitter</div>
                                <div class="box4">@this.Html.TextBoxFor(m => m.TwitterLink)</div>
                                <div class="box2 errorTxt">&nbsp;</div>
                            </div>

                            <div class="rowForm">
                                <div class="box2">Link Linkedin</div>
                                <div class="box4">@this.Html.TextBoxFor(m => m.LinkedinLink)</div>
                                <div class="box2 errorTxt">&nbsp;</div>
                            </div>

                            <div class="rowForm">
                                <div class="box2">
                                    Immagine del profilo
                                </div>
                                <div class="box4"><img id="image_preview" style="float:left;" src="@CoverHelper.getUserImage(this.Model.Id)" /><input id="file" name="file" type="file" accept="image/*" style="float:left; width:235px;" /></div>
                                <div class="box2 errorTxt">
                                    <span style="display:none;" class="jsImgError">Formati consentiti: jpg, gif, png</span>
                                    <asp:HiddenField ID="userImgCanvas" runat="server" />

                                </div>
                            </div>
                            <script src="/portal/content/js/views/user.js" type="text/javascript"></script>




                            <div class="rowForm checkRow">
                                <div class="box2">&nbsp;</div>
                                <div class="box4"><a href="javascript:void(0);" title="Registrati" class="btn JSubmitReg">Salva</a></div>
                                <div class="box2">&nbsp;</div>
                            </div>

                            }
                        }

                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>

@section JSscripts
{
    <script type="text/javascript">
        function initRegistrationForm() {
            $(".JSubmitReg").click(function (e) {

                e.preventDefault();
                $('form#UserUpdateForm').submit();
            });
        };

        $(function () {
            initRegistrationForm();
        });
    </script>
}