﻿@model Inclub.Web.Portal.Models.UserAccessCode
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions
@{


    Layout = "~/portal/Views/Shared/_LayoutEmpty.cshtml";
    var pageInfo = this.GetPageInfo();
}

<section>
    <div class="registerBox">
        <a href="/" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">
                <div class="cntRegister">

                    <div class="pageTitleTop">
                        <div class="box1">&nbsp;</div>
                        <div class="box6">
                            <h1>Access Code</h1>
                            <div class="internalMessage">
                                @if (this.ViewBag.Message != null)
                                {
                                    <strong>@this.ViewBag.Message</strong>
                                }
                                else
                                {
                                    <div>
                                        Per poter accedere ad ACCU-CHEK in Club è necessario essere registrati.<br />
                                        Inserisci il codice contenuto nell’e-mail di invito per completare la registrazione.
                                    </div>
                                }
                            </div>
                        </div><div class="box1">&nbsp;</div>
                    </div>


                    <div class="box1">&nbsp;</div>
                    <div class="box6 formReg">

                        @using (Html.BeginForm("GetUser", "AccessCode", FormMethod.Post, new { id = "AccessCodeForm", autocomplete = "off", autocompletetype = "disabled" }))
                        {
                            @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()                        

                            

                            <div class="rowForm">
                                <div class="box2">Codice Personale</div>
                                <div class="box4">@this.Html.PasswordFor(m => m.AccessCode)</div>
                                <div class="box2 errorTxt"><span class="jsPrequired" style="display:none;">Inserire il Codice</span></div>
                            </div>                         
                            

                            <div class="rowForm checkRow">
                                <div class="box2">&nbsp;</div>
                                <div class="box4" >
                                    <a href="javascript:void(0);" style="width:83%;" title="Invia" class="btn" id="JAccess">Invia</a>
                                </div>
                                <div class="box2">&nbsp;</div>
                            </div>
                        }
                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>

@section JSscripts
{
    <script type="text/javascript">
        /*SCRIPT per FORM*/
        $(function () {
            $("#JAccess").click(function (e) {
                var procedi = true;         
                $(".jsPrequired").hide();

                if ($("#AccessCode").val() == '') {
                    $(".jsPrequired").show();
                    procedi = false;
                }
              

                if (procedi == true)
                    {
                e.preventDefault();
                $('form#AccessCodeForm').submit();
                }
            });

        });
    </script>
}
