﻿@model Inclub.Web.Portal.Models.DictionaryModel
@using Inclub.Web.Portal.Extensions
@using Inclub.Web.Portal.Helper
@{
    Layout = "~/portal/Views/Shared/_LayoutPopup.cshtml";
    var pageInfo = this.GetPageInfo();

    bool _showMessage = false;
    var _displayMsg = false;
    var _linkExternal = "";

    if (this.ViewBag.EsternalLink != null)
    {
        _linkExternal = this.ViewBag.EsternalLink;
    }


    if (this.ViewBag.ShowMessage != null)
    {
        _showMessage = this.ViewBag.ShowMessage;

    }



    if (_showMessage)
    {
        _displayMsg = true;
    }
    else
    {
        _displayMsg = false;
    }



}
<section>
    <div class="registerBox" >
        <div class="container" >
            <div class="box8" >
                <div class="cntRegister " >

                    @if (_displayMsg)
                    {
                        <div class="box6Testo">
                            @Html.Raw(Model.Testo)
                        </div>

                        if (Model.KeyDictionary == DictionaryKeys.LeaveToSite)
                        {


                            <div class="rowForm checkRow" style="margin:20px  0 0 0">
                                <div class="box2 btn-left"><a href="javascript:void(0);" title="Annulla" style="width:auto !important;" class="btn jsBoxClose btn-left">Annulla</a></div>
                                <div class="box2 btn-left"><a href="@_linkExternal" title="Continua" class="btn jsSubmit " target="_blank">Continua</a></div>
                            </div>





                            <script type="text/javascript">


                                $(function () {

                                    jQuery('.jsSubmit').click(function () {
                                        parent.$.colorbox.close();
                                    });


                                });
                            </script>

                        }


                    } @*End if *@

                </div>

                <div class="box1">&nbsp;</div>
            </div>
        </div>
        </div>   
</section>

<script type="text/javascript">

    jQuery('.jsBoxClose').click(function () {
        parent.$.colorbox.close();
    });
    
</script>
