﻿@model inClub.Web.Portal.Models.Gruppo
@using Inclub.Web.Portal.Helper
@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    string param = (this.Request["parameter"] != null ? this.Request["parameter"] : "");
    string folder = (this.Request["folderName"] != null ? this.Request["folderName"] : "discussioni");
    int idDetail = 0;
    var _currGroupDetail = string.Empty;

    var classGroup = "group1";

    if (this.Model.BlockColor != null && this.Model.BlockColor != string.Empty)
    {
        int bkC = 1;
        int.TryParse(this.Model.BlockColor, out bkC);
        if (bkC > 0 && bkC < 16)
        {
            classGroup = "group" + this.Model.BlockColor;
        }
    }
    
    if ((folder != "") && (folder !="discussioni"))
    { 
    _currGroupDetail = this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, this.Model.GroupKey, new LanguageIdentificator(this.Model.GroupKey.IdLanguage), this.Model.Name, "detail");
    }
    else
    {
        _currGroupDetail = this.Url.ThemeLink(ThemeKeys.Gruppi);
    }
    
    string classname = "discBox";
        
        switch (folder.ToLower())
                            {
                                case "discussioni":

                                    classname = "discBox";

                                    break;

                                case "iscritti":

                                    classname = "discBox docBox usersBox";
                                    break;

                                case "documenti":

                                    classname = "groupBox discBox docBox";
                                    break;

                                case "interviste":

                                    classname = "discBox";
                                    break;
                
                                case "approvadoc":

                                    classname = "groupBox discBox docBox";
                                    break;
                            }
    
    
    
}



<section>
    <div class="groupsBox groupBox @classname">
        <a href="@_currGroupDetail" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">
                <ul class="tabs">
                    <li class="@(@folder.ToLower() == "discussioni" ? "active" : "")"><a href="@this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, this.Model.GroupKey, new LanguageIdentificator(this.Model.GroupKey.IdLanguage), this.Model.Name, "detail", "", "discussioni")" title="Discussioni">Discussioni</a></li>
                    <li class="@(@folder.ToLower() == "iscritti" ? "active" : "")"><a href="@this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, this.Model.GroupKey, new LanguageIdentificator(this.Model.GroupKey.IdLanguage), this.Model.Name, "detail", "", "iscritti")" title="Iscritti">Iscritti</a></li>
                    <li class="@(@folder.ToLower() == "documenti" ? "active" : "")"><a href="@this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, this.Model.GroupKey, new LanguageIdentificator(this.Model.GroupKey.IdLanguage), this.Model.Name, "detail", "", "documenti")" title="Documenti">Documenti</a></li>
                    @*<li class="@(@folder.ToLower() == "interviste" ? "active" : "")"><a href="@this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, this.Model.GroupKey, new LanguageIdentificator(this.Model.GroupKey.IdLanguage), this.Model.Name, "detail", "", "interviste")" title="Webinar & Video Interviste">Webinar & Video Interviste</a></li>*@
                    @{
                        if (this.Model.Role == "sysadmin")
                        {                            
                    <li class="@(@folder.ToLower() == "approvaDoc" ? "active" : "")"><a href="@this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, this.Model.GroupKey, new LanguageIdentificator(this.Model.GroupKey.IdLanguage), this.Model.Name, "detail", "", "approvaDoc")" title="Documenti">Approvazione Documenti</a></li>
                        }
                    }
                </ul>

                @{
                    if ((folder == "discussioni") && (param == ""))
                    {
                        @*<div style='display:none'>
                                <div id="divUser" class="test3"></div>
                            </div>*@
    <div class="headGroup @classGroup">
        <img src="/HP3Image/cover/@CoverHelper.getCover(this.Model.GroupKey, (int)EnumeratorKeys.coverDimension.NewsWidthDetail, (int)EnumeratorKeys.coverDimension.NewsHeightDetail, EnumeratorKeys.coverPosition.first) " alt="@this.Model.Name" />
        <h1>@this.Model.Name <p style="font-size:20px;">@this.Model.Description</p></h1>
        <div class="info" style="width:100%">
            <h4>Amministratore:</h4>
            <img src="@(Inclub.Web.Portal.Helper.CoverHelper.getUserImage(this.Model.Admin.Id))" alt="@this.Model.AdminName" />
            <h2><a class="inline boxUserData cboxElement" href="#divUser" rel="@this.Model.Admin.Id">@this.Model.AdminName</a></h2>
        </div>
        <div class="count">@this.Model.NumIscritti iscritti | <span id="numDisc">@this.Model.NumDiscussioni</span> discussioni | @this.Model.NumContributi contributi | @this.Model.NumCommenti commenti</div>

        @if ((this.Model.Role == "admin") || (this.Model.Role == "sysadmin") || (this.Model.GrpAperto == 1))
        {
            <a href="@Html.Raw(Url.Action("AggiungiDiscussione", "Discussioni"))?gId=@this.Model.GroupKey.Id&lId=@this.Model.GroupKey.IdLanguage" class="iscritto JOpenColorbox"><i class="fa fa-plus" aria-hidden="true"></i> Aggiungi una discussione</a>
        }
    </div>
                    }
                    else
                    {
                        <div class="headGroupSmall" style="background-image:url('/HP3Image/cover/@CoverHelper.getCover(this.Model.GroupKey, (int)EnumeratorKeys.coverDimension.NewsWidthDetail, (int)EnumeratorKeys.coverDimension.NewsHeightDetail, EnumeratorKeys.coverPosition.first) ');">
                            <h2 class="@classGroup">@this.Model.Name</h2>
                            @*@if (folder == "discussioni")
                                {
                                    if (this.Model.Role == "admin")
                                    {
                                        <div class="groupBox headGroup">
                                            <a href="@Html.Raw(Url.Action("AggiungiDiscussione", "Discussioni"))?gId=@this.Model.GroupKey.Id&lId=@this.Model.GroupKey.IdLanguage" class="iscritto JOpenColorbox"><i class="fa fa-plus" aria-hidden="true"></i> Aggiungi una discussione</a>
                                        </div>
                                    }
                                }*@
                        </div>

                    }
                }

                <div style='display:none'>
                    <div id="divUser" class="test4"></div>
                </div>
                <div class="cntGroup">
                    @{
                        if (folder != "")
                        {

                            switch (folder.ToLower())
                            {
                                case "discussioni":

                                    if ((param != "") && (int.TryParse(param, out idDetail)))
                                    {
                                        this.Html.RenderAction("Detail", "Discussioni", new { discussionId = idDetail, groupId = this.Model.GroupKey.Id, langId = this.Model.GroupKey.IdLanguage });
                                    }
                                    else
                                    {
                                        this.Html.RenderAction("Index", "Discussioni", new { groupId = this.Model.GroupKey.Id, langId = this.Model.GroupKey.IdLanguage });
                                    }

                                    break;

                                case "iscritti":

                                    this.Html.RenderAction("Archive", "Iscritti", new { groupId = this.Model.GroupKey.Id, langId = this.Model.GroupKey.IdLanguage, pagenum = 0, pagesize = 0 });

                                    break;

                                case "documenti":

                                    this.Html.RenderAction("Index", "Documenti", new { groupId = this.Model.GroupKey.Id, langId = this.Model.GroupKey.IdLanguage });


                                    break;

                                case "interviste":


                                    if ((param != "") && (int.TryParse(param, out idDetail)))
                                    {
                                        this.Html.RenderAction("Detail", "Interviste", new { intervistaId = idDetail, groupId = this.Model.GroupKey.Id, langId = this.Model.GroupKey.IdLanguage });
                                    }
                                    else
                                    {
                                        this.Html.RenderAction("Index", "Interviste", new { groupId = this.Model.GroupKey.Id, langId = this.Model.GroupKey.IdLanguage });
                                    }
                                    
                                    

                                    break;    

                                case "approvadoc":

                                    this.Html.RenderAction("Index", "ApprovaDoc", new { groupId = this.Model.GroupKey.Id, langId = this.Model.GroupKey.IdLanguage });


                                    break;
                            }




                        }
                        else
                        {
                            this.Html.RenderAction("Index", "Discussioni", new { groupId = this.Model.GroupKey.Id, langId = this.Model.GroupKey.IdLanguage });
                        }
                    }
                </div>
            </div>
        </div>
    </div>

</section>
<script type="text/javascript">

    $(document).ready(function () {

        $(".inline").colorbox({ inline: true, height: "280", width: "680" });

    });

    </script>