﻿@using Inclub.Web.Portal.Helper;
@{  
    var msg = this.Html.GetLabel(Inclub.Web.Portal.Keys.DictionaryKeys.UpdateOk, Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL); 
  

    }

@Styles.Render("~/Style/css")
@Scripts.Render("~/Scripts/js")

<div id="resultResetPassword">Le indicazioni per recuperare la password le sono state inviate al suo account di posta elettronica</div>
<script>
    $(function () {
        $(".JChangeOk").hide();
        $(".JsResultOk").show();
    });
</script>