﻿@model Inclub.Web.Portal.Models.UserResetPassword
@using Inclub.Web.Portal.Keys
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@{
    Layout = "~/portal/Views/Shared/_LayoutPopup.cshtml";
}


<section>
    <div class="registerBox" style="background-color:#FFF;">
        <div class="container">
            <div class="box8">
                <div class="cntRegister">                 
                    <div class="box6" style="height:450px">
                        <h3>Richiedi Password</h3>

                        @using (Ajax.BeginForm("ResetPassword", "Registrazione", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "resultResetPassword", OnFailure = "jsOnFailureResetPsw();", OnSuccess = "$('#resultResetPassword').fadeIn();", InsertionMode = InsertionMode.Replace }, new { id = "ResetPasswordForm" }))
                        {
                            @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()

    <p class="textPopup">
        @Html.Raw(DictionaryHelper.GetLabel(DictionaryKeys.ResetPasswordLaunch, LabelKeys.LANGUAGE_PORTAL))       
    </p>
                            <div class="rowForm JChangeOk">
                                <div class="box4">@this.Html.TextBoxFor(m => m.Email, null, new { @maxlength = "200",placeholder = "Email" })</div>
                            </div>


    <div class="rowForm JChangeOk">
        <div class="box4 captchaRow"><img src="@Url.Action("Get", "Captcha", new{ name=CaptchaKeys.RegistrationForm})" class="jsCaptcha captcha" alt="captcha" /> @Html.TextBoxFor(m => m.Captcha, new { @class = "TypeCaptchaPopup", placeholder = "Captcha" }) <a href="javascript:void(0);" class="jsReloadCaptcha" title="Ricarica il codice Captcha"><img src="@Url.Content("~/portal/Content/_slice/reload.png")" alt="codice Captcha" title="Ricarica il codice Captcha" width="30" class="ReloadCaptcha" /></a></div>

    </div>


                            <div class="rowForm  JChangeOk">
                                <div id="resultResetPassword" style="display:none;color:red; font-size:12px;"></div>
                                </div>
                            <div class="rowForm checkRow JChangeOk" style="width:205px;">
                                <div class="box2">
                                    <a href="javascript:void(0);" title="Invia Richiesta" class="btn" id="JResetPassword">Invia Richiesta</a>
                                </div>
                            </div>  
                        }


                        <div class="rowForm checkRow JsResultOk" style="display:none; height:350px;">
                            <div class="box2">
                                Le indicazioni per recuperare la password le sono state inviate al suo account di posta elettronica
                            </div>

                            <div class="rowForm checkRow" style="width:180px;">
                                <div class="box2">
                                    <a href="javascript:void(0);" title="Chiudi" class="btn JCloseColorbox" id="CloseColorbox">Chiudi</a>
                                </div>
                            </div>  

                        </div>                        

                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>

    $(document).ajaxComplete(function () {
        $.validator.unobtrusive.parse('Form');
    });

   

    function initResetForm() {
      

        $(".jsReloadCaptcha").click(function (e) {
            $(".jsCaptcha").hide();

            $.ajax({
                url: '@this.Url.Action("Regenerate", "Captcha")',
                dataType: 'json',
                type: 'POST',
                data: { name: '@CaptchaKeys.RegistrationForm' },
                success: function (data) {
                    if (true == data) {
                        var captchaUrl = '@this.Url.Action("Get", "Captcha", new{name = CaptchaKeys.RegistrationForm})&t=' + new Date().getTime();
                        $('.jsCaptcha').attr('src', captchaUrl)
                                .show();
                    }
                }
            });

            e.preventDefault();
        });
    };




    /*SCRIPT per FORM*/
    $(function () {

        $("#JResetPassword").click(function (e) {
            e.preventDefault();
            $('form#ResetPasswordForm').submit();
        });        
        /*SCRIPT per FORM*/

        initResetForm();
        $(".jsReloadCaptcha").click();
   



    });

    function jsOnFailureResetPsw() {
        alert("Error");
    }


</script>
