﻿@model IEnumerable<Inclub.Web.Portal.Models.GenericContentArchives>

@if (null != this.Model && this.Model.Any())
{
    var CurrentThemeId = this.ViewBag.CurrentThemeId;
   

        foreach (var item in this.Model)
        {           
            
            
            <div class="item">
                                  @if (Inclub.Web.Portal.Helper.CoverHelper.VerifyExistCover(item.Key))
                                    {
                                        var imgCover = "/hp3image/cover/" + Inclub.Web.Portal.Helper.CoverHelper.getCover(new Healthware.HP3.Core.Content.ObjectValues.ContentIdentificator(item.Key.Id, (short)item.LanguageId), 767, 272, Inclub.Web.Portal.Keys.EnumeratorKeys.coverPosition.first);
                                        <img src="@imgCover" />
                                    }
                                    <div class="sha">&nbsp;</div>
                                    <div class="txt">
                                        <h3><a href="@this.Url.ThemeLinkIndex(new Healthware.HP3.Core.Site.ObjectValues.ThemeIdentificator(@item.ThemeId), @item.Key, @item.Title)" title="@item.Title">@item.Title</a></h3>
                                        <p>@item.DatePublication</p>
                                    </div>
                                    <a href="@this.Url.ThemeLinkIndex(new Healthware.HP3.Core.Site.ObjectValues.ThemeIdentificator(@item.ThemeId), @item.Key, @item.Title)" title="Leggi" class="readMore">Leggi</a>
                                </div>           
           
        }
}
