﻿@model IEnumerable<Inclub.Web.Portal.Models.GenericContentArchives>
@{
    var searcher = this.ViewBag.Searcher as Inclub.Web.Portal.Models.GenericSearcherContentModel;
    var PageInfo = this.ViewBag.PageInfo as Inclub.Web.Portal.Models.PageInfo;
    var _PagerTotalNumber = this.ViewBag.PagerTotalNumber;
    var nPage = (null != searcher) ? searcher.PageNumber : 1;
    var urlPath = string.Format("http://{0}{1}", HttpContext.Current.Request.Url.Host, HttpContext.Current.Request.Url.AbsolutePath);
}
<section>
    <div class="groupBox newsBox">
        <a href="/" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">
                <div class="cntNews">

                    <div class="pageTitleTop">
                        <div class="box1">&nbsp;</div>
                        <div class="box6">
                            <h1>@PageInfo.AreaTitle</h1>
                            <div class="internalMessage">
                                @PageInfo.Launch
                            </div>
                        </div><div class="box1">&nbsp;</div>
                    </div>

                   
                    <div class="box1">&nbsp;</div>
                   
                    <div class="box6 jsArchive">


                        @if (null != this.Model && this.Model.Any())
                        {

                            var CurrentThemeId = this.ViewBag.CurrentThemeId;

                            foreach (var item in this.Model)
                            {

                                <div class="item">

                                    @if (Inclub.Web.Portal.Helper.CoverHelper.VerifyExistCover(item.Key))
                                    {
                                        var imgCover = "/hp3image/cover/" + Inclub.Web.Portal.Helper.CoverHelper.getCover(new Healthware.HP3.Core.Content.ObjectValues.ContentIdentificator(item.Key.Id, (short)item.LanguageId), (int)EnumeratorKeys.coverDimension.NewsWidthArchive, (int)EnumeratorKeys.coverDimension.NewsHeightArchive, Inclub.Web.Portal.Keys.EnumeratorKeys.coverPosition.second);
                                        <img src="@imgCover" />
                                    }
                                        
                                    <div class="sha">&nbsp;</div>
                                    <div class="txt">
                                        <h3><a href="@this.Url.ThemeLinkIndex(new Healthware.HP3.Core.Site.ObjectValues.ThemeIdentificator(@item.ThemeId), @item.Key, @item.Title)" title="@item.Title">@item.Title</a></h3>
                                        <p>@Inclub.Web.Portal.Helper.DateHelper.getDate(item.DatePublication.ToString())</p>
                                    </div>
                                    <a href="@this.Url.ThemeLinkIndex(new Healthware.HP3.Core.Site.ObjectValues.ThemeIdentificator(@item.ThemeId), @item.Key, @item.Title)" title="Leggi" class="readMore">Leggi</a>
                                </div>
                            }

                        }
                        else
                        {
                            this.Html.RenderPartial("_NoItems");
                        }

                        <div id="ArchiveLoader" style="text-align: center;">
                            <img src="/@Inclub.Web.Portal.Constants.SiteFolder/content/_slice/loader/ajax-loader-64.gif" alt="loading" />
                        </div>
                        <a href="@(urlPath)?nPage=@(nPage + 1)" id="moreInfo">@Inclub.Web.Portal.Helper.DictionaryHelper.GetLabel(@Inclub.Web.Portal.Keys.DictionaryKeys.ViewMoreButton)</a>

                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>     
<script src="/portal/content/js/views/news.js" type="text/javascript"></script>
<script type="text/javascript">
    var nPage = @nPage;
    var PageSize = @searcher.PageSize;
    var jsPagerTotalNumber = @_PagerTotalNumber;

    function prepareSearcher()
    {
        var searcher = {
            SiteAreaId:   '@searcher.SiteAreaId',
            LanguageId:   '@searcher.LanguageId',
            ContenTypeId: '@searcher.ContenTypeId',
            ThemeId:      '@searcher.ThemeId',
            PageSize:      PageSize,
            PageNumber:    nPage
        };
        return searcher;
    };
 
</script>