﻿@model Inclub.Web.Portal.Models.GenericContentDetails

@using Inclub.Web.Portal.Helper

@{
    short langId = (short)Inclub.Web.Portal.Helper.LanguageHelper.GetLanguageFromUrl().Id;
    var pageInfo = this.GetPageInfo();
    int siteAreaKeyId = (int)Inclub.Web.Portal.Helper.SiteAreaHelper.GetSiteAreaIdentificator().Id;
    int ctypeKeyId = (int)Inclub.Web.Portal.Helper.ContentTypeHelper.GetContentTypeIdentificator().Id;
    var backPage = this.Url.ThemeLink(ThemeKeys.DigitalhealthNews);
}

@if (null != this.Model)
{
 <section>
        <div class="groupsBox newsBox newsDtlBox">
            <a href="@backPage" class="back" title="Back">&lt; Back</a>
            <div class="container">
                <div class="box8">
                    
                    <div class="dtlNews">
                        @if (Inclub.Web.Portal.Helper.CoverHelper.VerifyExistCover(this.Model.Key))
                        {
                            var imgCover = "/hp3image/cover/" + Inclub.Web.Portal.Helper.CoverHelper.getCover(new Healthware.HP3.Core.Content.ObjectValues.ContentIdentificator(this.Model.Key.Id, 1), (int)EnumeratorKeys.coverDimension.NewsWidthDetail, (int)EnumeratorKeys.coverDimension.NewsHeightDetail, Inclub.Web.Portal.Keys.EnumeratorKeys.coverPosition.first);
                            <img src="@imgCover" />
                        }
                        <div class="sha">&nbsp;</div>
                        <div class="txt">
                            <h1>@this.Model.Title</h1>
                            <p>@Inclub.Web.Portal.Helper.DateHelper.getFormatDate((DateTime)this.Model.DatePublication)</p>
                        </div>
                    </div>
                    <div class="cntGroup">
                        <div class="box6">
                            <div class="dtlBox">
                                @*<div class="breadcrumbs">
                                        <ul>
                                            <li><a href="/" title="Home">Home</a>&gt;</li>
                                            <li><a href="#" title="Digital Health News">Digital Health News</a>&gt;</li>
                                            <li>@this.Model.Title</li>
                                        </ul>
                                    </div>*@
                                <div class="dtl">
                                    @this.Model.FullText
                                </div>
                            </div>
                        </div>
                        <div class="box2 noMargin">
                            @{this.Html.RenderAction("GetRelatedContents", "BoxAndRelated", new { idContent = this.Model.Key.Id, LanguageId = langId, saKeyId = siteAreaKeyId, ctKeyId = ctypeKeyId });}
                            @{ Html.RenderAction("OthersGroups", "Community"); }
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}