﻿@model inClub.Web.Portal.Models.NewsCollection






<section>
    <div class="groupBox newsBox">
        <a href="/" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">
                <div class="cntNews">
                    <h1>Digital Health News</h1>
                    <div class="box1">&nbsp;</div>
                    <div class="box6">

                        @if (null != this.Model && this.Model.Any())
                        {
                            foreach (var item in this.Model)
                            {
                                
                                <div class="item">
                            <img src="/portal/content/_slice/img8.jpg" alt="Lorem ipsum" />
                            <div class="sha">&nbsp;</div>
                            <div class="txt">
                                <h3><a href="#" title="Lorem ipsum">@item.Title</a></h3>
                                <p>@item.PublishDate</p>
                            </div>
                            <a href="#" title="Leggi" class="readMore">Leggi</a>
                        </div>
                                
                              
                            }
                        }
                        else
                        {
                            <div class="">No Contents found</div>
                        }


                        <div class="item">
                            <img src="/portal/content/_slice/img8.jpg" alt="Lorem ipsum" />
                            <div class="sha">&nbsp;</div>
                            <div class="txt">
                                <h3><a href="#" title="Lorem ipsum">Lorem ipsum</a></h3>
                                <p>24 Apr 2016</p>
                            </div>
                            <a href="#" title="Leggi" class="readMore">Leggi</a>
                        </div>
                        <div class="item">
                            <img src="/portal/content/_slice/img8.jpg" alt="Lorem ipsum" />
                            <div class="sha">&nbsp;</div>
                            <div class="txt">
                                <h3><a href="#" title="Lorem ipsum">Lorem ipsum</a></h3>
                                <p>24 Apr 2016</p>
                            </div>
                            <a href="#" title="Leggi" class="readMore">Leggi</a>
                        </div>
                        <div class="item">
                            <img src="/portal/content/_slice/img8.jpg" alt="Lorem ipsum" />
                            <div class="sha">&nbsp;</div>
                            <div class="txt">
                                <h3><a href="#" title="Lorem ipsum">Lorem ipsum</a></h3>
                                <p>24 Apr 2016</p>
                            </div>
                            <a href="#" title="Leggi" class="readMore">Leggi</a>
                        </div>
                        <div class="item">
                            <img src="/portal/content/_slice/img8.jpg" alt="Lorem ipsum" />
                            <div class="sha">&nbsp;</div>
                            <div class="txt">
                                <h3><a href="#" title="Lorem ipsum">Lorem ipsum</a></h3>
                                <p>24 Apr 2016</p>
                            </div>
                            <a href="#" title="Leggi" class="readMore">Leggi</a>
                        </div>
                        <div class="pager">
                            Page <input type="text" value="1" /> of 8 <a href="#" title="Prev" class="prev"><i class="fa fa-chevron-left" aria-hidden="true"></i></a><a href="#" title="Next" class="next"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>

