﻿@using Inclub.Web.Portal.Extensions
@using Inclub.Web.Portal.Helper
@{
    Layout = "~/portal/Views/Shared/_LayoutPopup.cshtml";
    var pageInfo = this.GetPageInfo();

    
    var _pathVideo = "";

    if (this.ViewBag.pathVideo != null)
    {
        _pathVideo = this.ViewBag.pathVideo;
    }  


}
<section>
    <div class="registerBox" >
        <div class="container" >
            <div class="box8" >
                <div class="cntRegister " >

                    <iframe width="560" height="315" src="@_pathVideo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                </div>

                <div class="box1">&nbsp;</div>
            </div>
        </div>
        </div>   
</section>

<script type="text/javascript">

    function vidplay(myvideo) {
        myvideo.play();
    }


    jQuery('.jsBoxClose').click(function () {
        parent.$.colorbox.close();
    });
    
</script>
