﻿@model Inclub.Web.Portal.Models.UserAvatar
@using Healthware.HP3.Core.User;
@using Healthware.HP3.Core.User.ObjectValues;
@using Inclub.Web.Portal.Helper
@{
    string coverImg = string.Empty;
    if (CoverHelper.ExistUserImage(this.Model.Id))
    {

        coverImg = CoverHelper.getUserImage(this.Model.Id);
    }
    Layout = "~/portal/Views/Shared/_LayoutPopup.cshtml";
}
<script src="/portal/content/js/jquery.min.js"></script>
<script src="/portal/content/js/jquery.cropit.js"></script>
<style>
    .cropit-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border: 1px solid #ccc;
        border-radius: 3px;
        margin: 0 auto;
        margin-top: 10px;
        width: 100px;
        height: 100px;
        float: left;
    }

    .image-editor {
        margin: 0 auto;
    }

    .cropit-preview-image-container {
        cursor: move;
    }

    .cropit-image-zoom-input {
        clear: both;
        float: left;
        width: 90px !important;
    }

    .image-size-label {
        margin-top: 10px;
        text-align: center;
    }


    input {
        display: block;
    }

    .containerSize {
        clear: both;
        float: left;
        margin-top: 20px;
    }

    #result {
        margin-top: 10px;
        width: 100%;
    }

    #result-data {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
    }

    .AddBtn {
        cursor: pointer;
        width: 100%;
        float: left;
        position: relative;
        margin: 20px 0 0 0;
    }

    .btnLeft {
        width: 55px !important;
        font-size: 14px !important;
        float: left;
        margin-left: 18px;
        height: 25px !important;
        line-height: 27px !important;
    }

    .rowForm p {
        font-size: 14px;
        padding: 0px;
        margin: 0px;
    }
</style>
<section>
    <div class="registerBox" style="background-color:#FFF;">
        <div class="container" style="width: 100% !important; ">
            <div class="box8">
                <div class="cntRegister">
                    <div class="box6" style="height:450px">
                        <h3>Immagine del profilo</h3>
                        @if (Model.Success == false)
                        {
                            using (Ajax.BeginForm("ChangeAvatar", "ModificaDati", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "resultAvatar", OnFailure = "jsOnFailureAvatar();", OnSuccess = "jsOnSuccessAvatar();", InsertionMode = InsertionMode.Replace }, new { id = "AvatarForm" }))
                            {
                                @Html.ValidationSummary(true)
                                @Html.AntiForgeryToken()

                                <div class="rowForm  JChangeOk">
                                    <p>dimensioni minime 100x100 pixel</p>
                                    <div class="box4">
                                        <div class="image-editor">
                                            <input type="file" class="cropit-image-input jsAddFile" style="display:none;">
                                            <div style="position:relative; width:100%;">
                                                <div class="cropit-preview"><img id="image_preview" style="float:left;" src="@coverImg" /></div>
                                                <div class="AddBtn">
                                                    @*<i class="fa fa-image JsBtnAdd" aria-hidden="true" title="Seleziona Immagine"></i>*@
                                                    <a href="javascript:void(0);" title="Seleziona immagine" class="selimgbtn JsBtnAdd">Seleziona immagine</a><span class="tradel" style="display:none;"><i class="fa fa-trash-o JsBtnDel" aria-hidden="true" title="Cancella Immagine"></i></span>
                                                </div>
                                            </div>
                                            <div style="clear:both;"></div>

                                           

                                            @*<div class="image-size-label">
                                                    Ridimensiona image
                                                </div>*@

                                            <div class="containerSize jsSize" style="display:none;">
                                                <input type="range" class="cropit-image-zoom-input">

                                                @this.Html.HiddenFor(m => m.Avatar, new { name = "image-data", @class = "hidden-image-data" })
                                                @this.Html.HiddenFor(m => m.Id)


                                                <div class="popupBtn"><a href="javascript:void(0);" title="Salva" class="btn" id="JAvatar">Salva</a></div>
                                            </div>


                                        </div>

                                        <div id="result">
                                            <code></code>
                                            <code id="result-data"></code>
                                        </div>
                                    </div>
                                </div>

    <div class="rowForm checkRow JsResultOk" style="display:none;">
        <div class="box2">
            Immagine modificata Correttamente
        </div>
    </div>
                            }

                            <script type="text/javascript">

                                $(document).ajaxComplete(function () {
                                    $.validator.unobtrusive.parse('Form');
                                });

                                $(function () {




                                    $(".JsBtnAdd").click(function (e) {
                                        $(".jsAddFile").click();
                                    });

                                    $('.JsBtnDel').cropit();
                                    $(".JsBtnDel").click(function (e) {
                                        $(".cropit-preview-image").attr("src", "");
                                        $("#image_preview").attr("src", "");
                                        $(".jsSize").show();
                                    });

                                    $(".jsAddFile").change(function (e) {
                                        $(".jsSize").show();
                                        $(".tradel").show();                                        
                                    });


                                    var imgSrc = '@coverImg.ToString()';
                                    if (imgSrc != '') {
                                        $("#image_preview").attr("src", imgSrc);
                                    }

                                    $('.image-editor').cropit();
                                    //$('form').submit(function () {
                                    //    // Move cropped image data to hidden input
                                    //    var imageData = $('.image-editor').cropit('export');
                                    //    $('.hidden-image-data').val(imageData);

                                    //    // Print HTTP request params
                                    //    var formValue = $(this).serialize();
                                    //    $('#result-data').text(formValue);

                                    //    // Prevent the form from actually submitting
                                    //    return false;
                                    //});



                                    $("#JAvatar").click(function (e) {
                                        var imageData = $('.image-editor').cropit('export');
                                        $('.hidden-image-data').val(imageData);

                                        // Print HTTP request params
                                        var formValue = $(this).serialize();
                                        $('#result-data').text(formValue);

                                        
                                        e.preventDefault();
                                        $('form#AvatarForm').submit();

                                        //parent.location.reload();
                                        //CloseColorbox();

                                    });

                                });

                                function jsOnSuccessAvatar() {

                                    $('.JChangeOk').hide();
                                    
                                    $('.JsResultOk').show();
                                }

                                function jsOnFailureChangePsw() {
                                    alert("Error");
                                }

                            </script>


                        }

                        @*@if (Model.Success == true)
                        {*@
                            @*<div class="rowForm checkRow JsResultOk" style="display:none;">
                                <div class="box2">
                                    Immagine modificata Correttamente
                                </div>
                            </div>*@
                        @*}*@
                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>
