﻿@model Inclub.Web.Portal.Models.UserChangePassword
@{
    Layout = "~/portal/Views/Shared/_LayoutPopup.cshtml";
}


<section>
    <div class="registerBox">
        <div class="container">
            <div class="box8">
                <div class="cntRegister">                 
                    <div class="box6">
                        <h3>Modifica Password</h3>
                        @using (Ajax.BeginForm("ChangePassword", "ModificaDati", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "resultChangePassword", OnFailure = "jsOnFailureChangePsw();", OnSuccess = "$('#resultChangePassword').fadeIn();", InsertionMode = InsertionMode.Replace }, new { id = "ChangePasswordForm" }))
                        {
                            @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()

                            <div class="rowForm JChangeOk">
                                <div class="box4">@this.Html.PasswordFor(m => m.OldPassword, new { placeholder = "Vecchia Password" })</div>
                            </div>

                            <div class="rowForm JChangeOk">
                                <div class="box4">@this.Html.PasswordFor(m => m.Password, new { placeholder = "Nuova Password" })</div>
                            </div>

                            <div class="rowForm  JChangeOk">
                                <div class="box4">@this.Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Conferma Password" })</div>
                            </div>
                            <div class="rowForm  JChangeOk">
                            <div id="resultChangePassword" style="display:none;color:red; font-size:12px;"></div>
                                </div>
                            <div class="rowForm checkRow JChangeOk">
                                <div class="box2">
                                    <a href="javascript:void(0);" title="Salva" class="btn" id="JChangePassword">Salva</a>
                                </div>
                            </div>                        }


                        <div class="rowForm checkRow JsResultOk" style="display:none; height:350px;">
                            <div class="box2">
                                La Password è stata modificata Correttamente
                            </div>
                        </div>                        

                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>



<script>

    $(document).ajaxComplete(function () {
        $.validator.unobtrusive.parse('Form');
    });

    /*SCRIPT per FORM*/
    $(function () {

        $("#JChangePassword").click(function (e) {
            e.preventDefault();
            $('form#ChangePasswordForm').submit();
        });

    });

    function jsOnFailureChangePsw() {
        alert("Error");
    }

    
</script>
