﻿@model Inclub.Web.Portal.Models.UserRegistration

@using Healthware.HP3.Core.User;
@using Healthware.HP3.Core.User.ObjectValues;
@using Inclub.Web.Portal.Helper

@{
    Layout = "~/portal/Views/Shared/_LayoutEmpty.cshtml";
    var pageInfo = this.GetPageInfo();

    bool _showMessage = false;
    var _displayMsg = false;
    var _displayForm = false;
    var _updateMsg = "";



    if (this.ViewBag.ShowMessage != null)
    { _showMessage = this.ViewBag.ShowMessage; }



    if (_showMessage)
    {
        _displayMsg = true;
        _displayForm = false;
    }
    else
    {
        _displayMsg = false;
        _displayForm = true;
    }


    if (this.ViewBag.OperationResult != null)
    {
        _updateMsg = this.ViewBag.OperationResult.Message;
    }



}
<section>
    <div class="registerBox">
        <a href="/" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">
                <div class="cntRegister">
                    <div class="pageTitleTop">
                        <div class="box1">&nbsp;</div>
                        <div class="box6">
                            <h1>Modifica Profilo</h1>

                            @if (_displayMsg)
                            {

                                <h3>@this.Html.Raw(_updateMsg)</h3>

                            }

                            @if (_displayForm)
                            {

                                using (Html.BeginForm("Index", "ModificaDati", FormMethod.Post, new { id = "UserUpdateForm", enctype = "multipart/form-data" }))
                                {
                                    @Html.ValidationSummary(true)
                                    @Html.AntiForgeryToken()
                                    @Html.HiddenFor(m => m.Id, (int)this.Model.Id);
                                @Html.HiddenFor(m => m.MaritalStatus, (int)this.Model.MaritalStatus);

                                <p class="flori"><span>I campi contrassegnati da asterisco (*) sono obbligatori.</span></p>
                                <h3>Informazioni personali</h3>

                                <div class="rowForm">
                                    <div class="box2">Nome*</div>
                                    <div class="box4">@Html.TextBoxFor(m => m.Name, null, new { @maxlength = "50" })</div>
                                    <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.Name, null, new { @class = "required" })</div>
                                </div>

                                <div class="rowForm">
                                    <div class="box2">Cognome*</div>
                                    <div class="box4">@Html.TextBoxFor(m => m.Surname, null, new { @maxlength = "50" })</div>
                                    <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.Surname, null, new { @class = "required" })</div>
                                </div>
                                <div class="rowForm">
                                    <div class="box2">Codice Fiscale*</div>
                                    <div class="box4">@this.Html.TextBoxFor(m => m.CodiceFiscale, null, new { @maxlength = "16" })</div>
                                    <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.CodiceFiscale, null, new { @class = "required" })</div>
                                </div>
                                <div class="rowForm">
                                    <div class="box2">Email*</div>
                                    <div class="box4">@this.Html.TextBoxFor(m => m.Email, null, new { @maxlength = "200" })</div>
                                    <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.Email, null, new { @class = "required" })</div>
                                </div>
                                <div class="rowForm">
                                    <div class="box2">Conferma Email*</div>
                                    <div class="box4">@this.Html.TextBoxFor(m => m.ConfirmEmail)</div>
                                    <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.ConfirmEmail, null, new { @class = "required" })</div>
                                </div>

                                    if (this.Model.MaritalStatus != null && this.Model.MaritalStatus == 1)
                                    {
                                        <div class="rowForm">
                                            <div class="box2">Password*</div>
                                            <div class="box4">@this.Html.PasswordFor(m => m.Password)</div>
                                            <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.Password, null, new { @class = "required" })</div>
                                        </div>
                                        <div class="rowForm">
                                            <div class="box2">Conferma Password*</div>
                                            <div class="box4">@this.Html.PasswordFor(m => m.ConfirmPassword)</div>
                                            <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "required" })</div>
                                        </div>
                                    }

                                    <h3>Informazioni lavorative</h3>
                                    <div class="rowForm">
                                        <div class="box2">Specialità*</div>
                                        <div class="box4">@Html.DropDownListFor(m => m.SelectedSpecId, Model.Specializzazioni)</div>
                                        <div class="box2 errorTxt">@Html.ValidationMessageFor(m => m.SelectedSpecId, null, new { @class = "required" })</div>
                                    </div>

                                    <div class="rowForm">
                                        <div class="box2">Struttura Sanitaria</div>
                                        <div class="box4">@this.Html.TextBoxFor(m => m.Structure)</div>
                                        <div class="box2 errorTxt">&nbsp;</div>
                                    </div>

                                    <div class="rowForm">
                                        <div class="box2">Città Struttura</div>
                                        <div class="box4">@this.Html.TextBoxFor(m => m.City)</div>
                                        <div class="box2 errorTxt">&nbsp;</div>
                                    </div>

                                    <div class="rowForm">
                                        <div class="box2">Numero di iscrizione all'albo*</div>
                                        <div class="box4">@this.Html.TextBoxFor(m => m.NumeroIscrizioneAlbo)</div>
                                        <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.NumeroIscrizioneAlbo, null, new { @class = "required" })</div>
                                    </div>
                                    <div class="rowForm">
                                        <div class="box2">Provincia albo*</div>
                                        <div class="box4">@this.Html.TextBoxFor(m => m.ProvinciaAlbo)</div>
                                        <div class="box2 errorTxt">@this.Html.ValidationMessageFor(m => m.ProvinciaAlbo, null, new { @class = "required" })</div>
                                    </div>

                                    <div class="rowForm">
                                        <div class="box2">Profilo Skype</div>
                                        <div class="box4">@this.Html.TextBoxFor(m => m.SkypeLink)</div>
                                        <div class="box2 errorTxt">&nbsp;</div>
                                    </div>

                                    <div class="rowForm">
                                        <div class="box2">Link Twitter</div>
                                        <div class="box4">@this.Html.TextBoxFor(m => m.TwitterLink)</div>
                                        <div class="box2 errorTxt">&nbsp;</div>
                                    </div>

                                    <div class="rowForm">
                                        <div class="box2">Link Linkedin</div>
                                        <div class="box4">@this.Html.TextBoxFor(m => m.LinkedinLink)</div>
                                        <div class="box2 errorTxt">&nbsp;</div>
                                    </div>
                                    <script src="/portal/content/js/views/user.js" type="text/javascript"></script>
                                    <div class="rowForm checkRow">
                                        <div class="box2">&nbsp;</div>
                                        <div class="box4">@Html.CheckBoxFor(x => x.AcceptNotify, new { @class = "" })Accetto di ricevere le notifiche dai gruppi di discussione</div>
                                        <div class="box2 errorTxt"></div>
                                    </div>

                                    @*<div class="rowForm">
                                            <div class="box2">Immagine del profilo
                                            </div>
                                            <div class="box4"><img id="image_preview" style="float:left;" src="@CoverHelper.getUserImage(this.Model.Id)" /><input id="file" name="file" type="file" accept="image/*" style="float:left; width:235px;" /></div>
                                            <div class="box2 errorTxt">
                                                <span style="display:none;" class="jsImgError">Formati consentiti: jpg, gif, png</span>
                                                <asp:HiddenField ID="userImgCanvas" runat="server" />

                                            </div>
                                        </div>*@


                                    if (this.Model.MaritalStatus != null && this.Model.MaritalStatus == 1)
                                    {

                                        <div class="rowForm marginTop30">
                                            <div class="box2">&nbsp;</div>
                                            <div class="box4 ">
                                                <strong>@Html.Raw(DictionaryHelper.GetLabel("RegCondizioniUtilizzoTitle", Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL))</strong>

                                                <div class="boxOverflow">
                                                    @Html.Raw(DictionaryHelper.GetLabel("RegCondizioniUtilizzo", Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL))
                                                </div>
                                            </div>
                                            <div class="box2 errorTxt"></div>
                                        </div>


                                        <div class="rowForm checkRow noMargin">
                                            <div class="box2">&nbsp;</div>
                                            <div class="box4">
                                                @*@Html.CheckBoxFor(x => x.TermsResponsabilita, new { @class = "" }) Accetto*@

                                            @Html.RadioButtonFor(x => x.TermsResponsabilita, "1") Accetta &nbsp; &nbsp;
                                            @Html.RadioButtonFor(x => x.TermsResponsabilita, "111") Non Accetta

                                        </div>
                                        <div class="box2 errorTxt resultTermsResponsabilita" style="width: 100%">@this.Html.ValidationMessageFor(x => x.TermsResponsabilita, null, new { @class = "required" })</div>
                                    </div>

                                    <div class="rowForm marginTop20">
                                        <div class="box2">&nbsp;</div>
                                        <div class="box4 ">
                                            <strong>@Html.Raw(DictionaryHelper.GetLabel("RegPrivacyTitle", Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL))</strong>

                                            <div class="boxOverflow">
                                                @Html.Raw(DictionaryHelper.GetLabel("RegPrivacy", Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL))
                                            </div>
                                        </div>
                                        <div class="box2 errorTxt"></div>
                                    </div>


                                    <div class="rowForm marginTop20">
                                        <div class="box2">&nbsp;</div>
                                        <div class="box4 ">
                                            <strong>@Html.Raw(DictionaryHelper.GetLabel("RaccInfoT", Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL))</strong>

                                            <div class="boxOverflow">
                                                @Html.Raw(DictionaryHelper.GetLabel("RaccInfo1", Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL))
                                            </div>
                                        </div>
                                        <div class="box2 errorTxt"></div>
                                    </div>

                                    <div class="rowForm checkRow noMargin">
                                        <div class="box2">&nbsp;</div>
                                        <div class="box4">
                                            @*@Html.CheckBoxFor(x => x.TermsMedical, new { @class = "" }) Accetto*@
                                        @Html.RadioButtonFor(x => x.TermsMedical, "1", new { @class = "" }) Accetta &nbsp; &nbsp;
                                        @Html.RadioButtonFor(x => x.TermsMedical, "111", new { @class = "" }) Non Accetta
                                    </div>
                                    <div class="box2 errorTxt resultTermsMedical " style="width: 100%">@this.Html.ValidationMessageFor(x => x.TermsMedical, null, new { @class = "required" })</div>
                                </div>


                                <div class="rowForm marginTop20">
                                    <div class="box2">&nbsp;</div>
                                    <div class="box4 ">
                                        <div class="boxOverflow">
                                            @Html.Raw(DictionaryHelper.GetLabel("RaccInfo2", Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL))
                                        </div>
                                    </div>
                                    <div class="box2 errorTxt"></div>
                                </div>

                                <div class="rowForm checkRow noMargin">
                                    <div class="box2">&nbsp;</div>
                                    <div class="box4">
                                        @*@Html.CheckBoxFor(x => x.TermsMedical, new { @class = "" }) Accetto*@
                                        @Html.RadioButtonFor(x => x.TermsMedical1, "1") Accetta &nbsp; &nbsp;
                                        @Html.RadioButtonFor(x => x.TermsMedical1, "111") Non Accetta
                                    </div>
                                    <div class="box2 errorTxt resultTermsMedical1 " style="width: 100%">@this.Html.ValidationMessageFor(x => x.TermsMedical1, null, new { @class = "required" })</div>
                                </div>


                                <div class="rowForm marginTop20">
                                    <div class="box2">&nbsp;</div>
                                    <div class="box4 ">
                                        <div class="boxOverflow">
                                            @Html.Raw(DictionaryHelper.GetLabel("RaccInfo3", Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL))
                                        </div>
                                    </div>
                                    <div class="box2 errorTxt"></div>
                                </div>

                                <div class="rowForm checkRow noMargin">
                                    <div class="box2">&nbsp;</div>
                                    <div class="box4">
                                        @*@Html.CheckBoxFor(x => x.TermsMedical, new { @class = "" }) Accetto*@
                                        @Html.RadioButtonFor(x => x.TermsMedical2, "1") Accetta &nbsp; &nbsp;
                                        @Html.RadioButtonFor(x => x.TermsMedical2, "0") Non Accetta
                                    </div>
                                    <div class="box2 errorTxt">@this.Html.ValidationMessageFor(x => x.TermsMedical2, null, new { @class = "required" })</div>
                                </div>




                                <div class="rowForm marginTop20">
                                    <div class="box2">&nbsp;</div>
                                    <div class="box4 ">
                                        <div class="boxOverflow">
                                            @Html.Raw(DictionaryHelper.GetLabel("RaccInfo4", Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL))
                                        </div>
                                    </div>
                                    <div class="box2 errorTxt"></div>
                                </div>

                                <div class="rowForm checkRow noMargin">
                                    <div class="box2">&nbsp;</div>
                                    <div class="box4">
                                        @*@Html.CheckBoxFor(x => x.TermsMedical, new { @class = "" }) Accetto*@
                                        @Html.RadioButtonFor(x => x.TermsMedical3, "1") Accetta &nbsp; &nbsp;
                                        @Html.RadioButtonFor(x => x.TermsMedical3, "0") Non Accetta
                                    </div>
                                    <div class="box2 errorTxt">@this.Html.ValidationMessageFor(x => x.TermsMedical3, null, new { @class = "required" })</div>
                                </div>


                                <div class="rowForm marginTop20">
                                    <div class="box2">&nbsp;</div>
                                    <div class="box4 ">
                                        <div class="boxOverflow">
                                            @Html.Raw(DictionaryHelper.GetLabel("RaccInfo5", Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL))
                                        </div>
                                    </div>
                                    <div class="box2 errorTxt"></div>
                                </div>

                                <div class="rowForm checkRow noMargin">
                                    <div class="box2">&nbsp;</div>
                                    <div class="box4">
                                        @*@Html.CheckBoxFor(x => x.TermsMedical, new { @class = "" }) Accetto*@
                                        @Html.RadioButtonFor(x => x.TermsMedical4, "1") Accetta &nbsp; &nbsp;
                                        @Html.RadioButtonFor(x => x.TermsMedical4, "0") Non Accetta
                                    </div>
                                    <div class="box2 errorTxt">@this.Html.ValidationMessageFor(x => x.TermsMedical4, null, new { @class = "required" })</div>
                                </div>


                                <div class="rowForm marginTop20">
                                    <div class="box2">&nbsp;</div>
                                    <div class="box4 ">
                                        <div class="boxOverflow">
                                            @Html.Raw(DictionaryHelper.GetLabel("RegPrivcy2", Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL))
                                        </div>
                                    </div>
                                    <div class="box2 errorTxt"></div>
                                </div>


                                <div class="rowForm checkRow marginTop40" style="display:none;">
                                    <div class="box2">&nbsp;</div>
                                    <div class="box4">
                                        @Html.CheckBoxFor(x => x.TermsAndConditions, new { @class = "" })<a href="/aspetti-legali" target="_blank" data-wh="740" data-ht="600" data-dkey="@DictionaryKeys.PrivacyPolicy">Accetto termini e condizioni dell'uso e dell'accesso al sito</a>
                                    </div>
                                    <div class="box2 errorTxt">@this.Html.ValidationMessageFor(x => x.TermsAndConditions, null, new { @class = "required" }) </div>
                                </div>


                                    }

                                    <div class="rowForm">Presa visione dell'<a href="/Informativa-Trattamento-Dati" target="_blank">Informativa sul trattamento dei dati</a> e dell’<a href="/avvertenza-di-rischio" target="_blank">avvertenza di rischio</a> acconsento al trattamento dei dati personali, all'eventuale comunicazione ai soggetti elencati nell'informativa per le finalità e con le modalità indicate e al trasferimento all’estero, anche in paesi non appartenenti all’Unione Europea.</div>
                                    <div class="rowForm checkRow marginTop40">
                                        <div class="box2">&nbsp;</div>
                                        <div class="box4"><a href="javascript:void(0);" title="Registrati" class="btn JSubmitReg">Salva</a></div>
                                        <div class="box2">&nbsp;</div>
                                    </div>

                                }
                            }

                        </div>
                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>

@section JSscripts
{
    <script type="text/javascript">
        function initRegistrationForm() {
            $(".JSubmitReg").click(function (e) {

                e.preventDefault();
                $('form#UserUpdateForm').submit();
            });
        };

        $(function () {
            initRegistrationForm();
        });
    </script>
}