﻿@using Inclub.Web.Portal.Keys
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions
@using Inclub.Web.Portal.Models

@{
    var model = new UserLogIn();
    bool regWebinar = ViewBag.regWebinar;
    model.webinar = regWebinar;
    bool noWebinar = ViewBag.noWebinar;
    
}

 <section>
    <div class="loginBox">
        <div class="container">
            <div class="box5">
                <div class="left">
                    @if (regWebinar == true)
                    {
                        <h1>Registrati al webinar:<br />La Tecnologia del Microinfusore nella Terapia del Diabete <i class="fa fa-arrow-right" aria-hidden="true" style="padding-left:50px; color:#d81249;"></i></h1>
                        <h2>Inserisci le credenziali e accedi per essere automaticamente iscritto al webinar.</h2>
                    }
                    else
                    {
                        if (noWebinar == true)
                        {
                            <h1>Non è più possibile effettuare la registrazione al webinar</h1>
                            <h2>Accedi alla community per proseguire la fruizione di contenuti scientifici esclusivi riservati ai Professionisti della Salute.</h2><br />
                            <h2>L’accesso ad ACCU-CHEK in Club è riservato ai soli medici diabetologi iscritti.</h2>
                        }
                        else
                        {
                            <h1>@Html.Raw(DictionaryHelper.GetLabel(DictionaryKeys.HomeTitle, LabelKeys.LANGUAGE_PORTAL))</h1>
                            <h2>@Html.Raw(DictionaryHelper.GetLabel(DictionaryKeys.HomeLaunch, LabelKeys.LANGUAGE_PORTAL))</h2>
                        }



                    }
                </div>
            </div>

            @{this.Html.RenderPartial("_LogIn", model);}
            
        </div>
    </div>
</section>

<section>

    @*<a href="javascript:void(0);" class="JOpenColorbox" onclick="javascript: leaveSite('http://www.healthwareinternational.com/events/gfk-digital-health-2017-519?k=1&j=2');">Sito Esterno</a>*@

   
</section>
