﻿@model Healthware.HP3.Core.Site.ObjectValues.ThemeValue
@{
    var pageInfo = this.GetPageInfo();
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model != null && this.Model.Key.Id > 0)
{
    <div class="area-riservata">
        <a href="@this.Url.ThemeLink(this.Model.Key, LanguageHelper.GetLanguageFromUrl())" title="@this.Html.GetLabel(this.Model.Key.Name, LanguageHelper.GetLanguageFromUrl().Id)">@this.Html.GetLabel(this.Model.Key.Name, LanguageHelper.GetLanguageFromUrl().Id)</a>
    </div>
}


