﻿@model IEnumerable<Inclub.Web.Portal.Models.GenericContentBox>
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Keys
@if (null != this.Model && this.Model.Any())
{
   

    string Link = "#";
    Inclub.Web.Portal.Keys.EnumeratorKeys.ActionSearchEngineType type = Inclub.Web.Portal.Keys.EnumeratorKeys.ActionSearchEngineType.Generic;

    <div class="titleRed"><h4>@Html.Raw(Inclub.Web.Portal.Helper.DictionaryHelper.GetLabel(DictionaryKeys.LastNews))</h4></div>

            foreach (var item in this.Model)
            {

                var objThemeValue = Inclub.Web.Portal.Helper.ThemeHelper.getThemeValueForLink(item.SiteAreaKey, item.ContenteTypeKey);
                Link = "#";




                if (objThemeValue != null)
                {

                    type = Inclub.Web.Portal.BL.SearchEngineManage.getTypeSection(item.SiteAreaKey.Id);

                    if (type == EnumeratorKeys.ActionSearchEngineType.Generic)
                    {


                        Link = this.Url.ThemeLinkIndex(objThemeValue, item.Key, item.Title);



                    }
                    else if (type == EnumeratorKeys.ActionSearchEngineType.OnlyDetails)
                    {
                        Link = this.Url.ThemeLink(objThemeValue.Key);
                    }
                    
                }
                <h3><a href="@Link" title="@Html.Raw(item.Title).ToString()">@Html.Raw(item.Title).ToString()</a></h3>
            }
            <a href="@this.Url.ThemeLink(ThemeKeys.DigitalhealthNews)" title="Vedi tutte" class="readMore">Vedi tutte</a>
}