﻿@model IEnumerable<Inclub.Web.Portal.Models.GenericContentBox>

@if (null != this.Model && this.Model.Any())
{

    string Link = "#";
    Inclub.Web.Portal.Keys.EnumeratorKeys.ActionSearchEngineType type = Inclub.Web.Portal.Keys.EnumeratorKeys.ActionSearchEngineType.Generic;

    <div class="nwdtlRx">

        <div class="others">
            <div class="titleRed"><h4>@Html.Raw(Inclub.Web.Portal.Helper.DictionaryHelper.GetLabel(DictionaryKeys.RelatedContents))</h4></div>


            @foreach (var item in this.Model)
            {

                var objThemeValue = Inclub.Web.Portal.Helper.ThemeHelper.getThemeValueForLink(item.SiteAreaKey, item.ContenteTypeKey);
                Link = "#";




                if (objThemeValue != null)
                {

                    type = Inclub.Web.Portal.BL.SearchEngineManage.getTypeSection(item.SiteAreaKey.Id);

                    if (type == EnumeratorKeys.ActionSearchEngineType.Generic)
                    {


                        Link = this.Url.ThemeLinkIndex(objThemeValue, item.Key, item.Title);



                    }
                    else if (type == EnumeratorKeys.ActionSearchEngineType.OnlyDetails)
                    {
                        Link = this.Url.ThemeLink(objThemeValue.Key);
                    }
                    
                }
                <h3><a href="@Link" title="@Html.Raw(item.Title).ToString()">@Inclub.Web.Portal.Helper.GenericHelper.DelLengthString(Html.Raw(item.Title).ToString(), 65, "...")</a></h3>
            }
        </div>
    </div>
}


