﻿@model IEnumerable<Inclub.Web.Portal.Models.ThemeModel.ThemeBaseModel>
@{
    var pageInfo = this.GetPageInfo();
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (null != this.Model && this.Model.Any())
{


                <ul>
                    @foreach (var item in this.Model)
                    {
                        <li>
                            <a class="@(item.Key.EqualTo(pageInfo.Key) ? "sel" : string.Empty)" href="@this.Url.ThemeLink(item.Key, item.LanguageKey)" title="@item.Description">@item.Description</a>
                        </li>
                    }
                </ul>
           

}