﻿@using Inclub.Web.Portal.Keys
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions
<div class="footer">
    <div class="container">
        <div class="icon">
           <img src="/portal/content/_slice/world.gif" alt="" />
        </div>
        <div class="menu">
            @{this.Html.RenderAction("Footer", "Menu", null);}
        </div>
        <div class="logo">
            <a href="http://www.roche.it" target="_blank" title="Roche"><img src="/portal/content/_slice/roche.gif" alt="Roche" /></a>
        </div>
        <div class="copyright">@Html.Raw(DictionaryHelper.GetLabel(DictionaryKeys.FooterLaunch, LabelKeys.LANGUAGE_PORTAL))</div>
    </div>
</div>