﻿@model Inclub.Web.Portal.Models.GenericContentDetails



@if (null != this.Model && this.Model.Key.Id > 0)
{

    <div class="pol-detail">
        <h2>@this.Model.InternalTitle</h2>
        <p>@Html.Raw(this.Model.FullText)</p>
    </div>

}

