﻿@model IEnumerable<Inclub.Web.Portal.Models.ThemeModel.ThemeBaseModel>
@{
    var pageInfo = this.GetPageInfo();
    
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (null != this.Model && this.Model.Any())
{
   
        <ul>
            <li><a href="https://www.modusonline.it/">modusonline.it</a></li>
            <li><a href="https://www.gidm.it/">gidm.it</a></li>
            <li><a href="https://www.accu-chek.it/">accu-chek.it</a></li>

            @foreach (var item in this.Model)
            {
                var selclass = string.Empty;
                <li>
                    @if ((item.Key.EqualTo(pageInfo.Key)) || (item.Key.Id.Equals(pageInfo.KeyFather.Id)))
                    {
                        selclass = "sel";
                    }

                    <a class="@selclass" href="@this.Url.ThemeLink(item.Key,item.LanguageKey)" title="@item.Description">@item.Description</a>
                </li>
            }
        </ul>
    
}