﻿@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Keys
@using Inclub.Web.Portal.Models
@using Healthware.HP3.Core.User.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    var userLogged = false;
    string userNaming = string.Empty;
    string modificaProfilo = string.Empty;
    if (LoginHelper.IsAuthenticated())
    {
        UserLogged user = new UserLogged();
        user = UserHelper.readUserLogged();
        userNaming = string.Format("{0} {1}", user.Name, user.Surname);
        modificaProfilo = string.Format("<a href='{0}'><i class='fa fa-user' aria-hidden='true'></i> Il mio profilo</a>", this.Url.ThemeLink(ThemeKeys.ModificaDati));
        userLogged = true;

    }

}
<div class="header">
    <div class="logo">
        <a href="/" title="Acc-chek in Club"><img src="~/Portal/Content/_slice/logo.png" alt="Acc-chek in Club" /></a>
    </div>
    <div class="menu">
        @{this.Html.RenderAction("Header", "Menu", null);}
    </div>
    @{if (userLogged)
    {
        using (Html.BeginForm("LogOut", "Login", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <div class="accountBox">
                <a href="javascript:void(0);" title="Account" class="account jsOpenProfilePanel"><i class="fa fa-chevron-down" aria-hidden="true"></i><i class="fa fa-user" aria-hidden="true"></i></a>
                <a href="javascript:void(0);" onclick="javascript:document.getElementById('logoutForm').submit()" title="Esci" class="logout">Esci</a>
            </div>
            <div class="panelProfile accountMenu" style="display:none;">
                <ul>
                    @*<li><a href="javascript:void(0);"><i class='fa fa-user' aria-hidden='true'></i> @userNaming</a></li>*@
                    <li> @Html.Raw(modificaProfilo)</li>
                    <li>
                        <a class="JChangeAvatar backPre" href="javascript:void(0);" data-href="@Html.Raw(Url.Action("ChangeAvatar", "ModificaDati"))"><i class="fa fa-address-card-o" aria-hidden="true"></i> Immagine del profilo</a>
                    </li>
                    <li>
                        <a class="JChangePassword backPre" href="javascript:void(0);" data-href="@Html.Raw(Url.Action("ChangePassword", "ModificaDati"))"><i class="fa fa-key" aria-hidden="true"></i> Cambia Password</a>
                    </li>
                </ul>
            </div>
        }
    }
    }
    <a href="javascript:void(0);" title="Menu" class="mobileMenu"><i class="fa fa-bars" aria-hidden="true"></i></a>
</div>