﻿@model inClub.Web.Portal.Models.Archive<inClub.Web.Portal.Models.Contributo>

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    var visibleMore = "false";

    var discussionId = this.ViewBag.discussionId;
    var langId = this.ViewBag.langId;
    var groupId = this.ViewBag.groupId;
    var type = this.ViewBag.type;
    var selPostID = this.ViewBag.selPostID;
    var selCommID = this.ViewBag.selCommID;
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model != null && this.Model.Items.Any())
{

    foreach (var item in this.Model.Items)
    {

        <div class="contrItem">
            <a href="#divUser" name="@item.PostKey.Id" class="inline boxUserData" rel="@item.UserCreate.Id"><img src="@item.UserCover" alt="@item.UserCreateName" /></a>
            <div class="cnt">
                <h3><a href="#divUser" class="inline boxUserData" rel="@item.UserCreate.Id">@item.UserCreateName</a></h3>
                <p>Inserito il @item.CreationDate</p>
            </div>
            <div class="desc">
                <i class="fa fa-caret-up" aria-hidden="true"></i><p class="descfn">@item.Description</p>
                @if (item.ResourceList != null && item.ResourceList.Any())
                {
                    <div class="attach">
                        @foreach (var res in item.ResourceList)
                        {

                            <img src=@("/Portal/Content/_slice/" + res.Code + ".png") alt="@res.Code" />                        <span class="filenametxt">@res.Title</span>
                            <div class="iconBox"><a href="@res.LinkUrl" title="@res.Title"><i class="fa fa-download" aria-hidden="true"></i></a></div>

                        }

                    </div>
                }
            </div>
            <div class="commBox" style="@((item.NumCommenti == 0) ? "border: 0 none;" : "")">
                <div class="titleComm opened" id="@("divNumCom" + item.PostKey.Id)" style="@((item.NumCommenti==0) ? "display:none;" : "")">
                    <span id="@("numCommenti" + item.PostKey.Id)">@item.NumCommenti</span><h4>Commenti</h4>
                    <a href="javascript:void(0);" id="@("showComm" + item.PostKey.Id)" class="showComments" title="Show Comments" rel="@item.PostKey.Id" style="@(item.NumCommenti > 0 ? "" : "display:none;")" onclick="loadComments(this);"><i class=" fa fa-chevron-down" aria-hidden="true"></i></a>
                </div>
                
                <div id="@("commList" + item.PostKey.Id)" class="commList" style="display:block;"></div>
                <a href="@Html.Raw(Url.Action("AggiungiCommento", "Contributi"))?dId=@discussionId&gId=@groupId&lId=@langId&fId=@item.PostKey.Id&type=@type" class="addContr addComm JOpenColorbox"><i class="fa fa-plus" aria-hidden="true"></i> Lascia un commento</a>
                @*@if (item.CommentList != null && item.CommentList.Any())
            {

                <div class="commList" style="display:block;">

                    @foreach (var son in item.CommentList)
                    {
                        <div class="comm">
                            <h4><a href="#" title="@item.UserCreateName">@item.UserCreateName</a> scrive:</h4>
                            <div class="desc"><i class="fa fa-caret-up" aria-hidden="true"></i>@item.Description</div>
                        </div>
                    }
                </div>
            }*@

            </div>
        </div>
    }
     @*<div style='display:none'>        
         <div id="divUser" class="test2"></div>
    </div>*@

    if ((this.Model.CurrentPage < this.Model.TotalPagesCount) || (selCommID > 0))
    {
        visibleMore = "true";

    }
    else
    {
        visibleMore = "false";
    }
}

        <script type="text/javascript">

    $(document).ready(function () {

        var lodVisible = '@visibleMore';
        if (lodVisible == 'true') {
            $('#paginatorPosts').show();
        } else {
            $('#paginatorPosts').hide();
        }

        $(".inline").colorbox({ inline: true, height: "260", width: "680" });
        $(".addComm").colorbox({ iframe: true, width: "550", height: "450", onClosed: function () { $("#cboxLoadedContent").remove(); } });


        if ("@selPostID" != "0"){

            $('@(selPostID > 0 ? "#showComm" + selPostID : "#showComm")').click();

        }


    });


    //$(".showComments").on("click", function (e) {
    function loadComments(btn)
    {

        var currPost = $(btn).attr('rel');
        var arrowImg = $(btn).children();
        var commList = $("#commList" + currPost);

        if ($(arrowImg).hasClass("fa fa-chevron-down")){            

            if ($(commList).html() == ""){

                $.ajax({
                    type: "GET",
                    url: "/Contributi/ReadSons",
                    data: {discussionId:@discussionId, fatherId:currPost, commID: '@selCommID'},
                    success: function (data) {

                        $(commList).append(data); //the HTML I returned from the controller
                        $(arrowImg).removeClass("fa-chevron-down");
                        $(arrowImg).addClass("fa-chevron-up");
                        $(commList).show();

                        $('#numCommenti' + currPost).html($("#commList" + currPost + " .comm").length);
                    },
                    error: function (errorData) {
                        //onError(errorData);
                    }
                });
            }else{

                $(arrowImg).removeClass("fa-chevron-down");
                $(arrowImg).addClass("fa-chevron-up");
                $(commList).show();
            }
        }
        else
        {

            $(arrowImg).removeClass("fa-chevron-up");
            $(arrowImg).addClass("fa-chevron-down");
            $(commList).hide();
        }


    }
        </script>

