﻿@model inClub.Web.Portal.Models.Archive<inClub.Web.Portal.Models.Iscritti>

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    var visibleMore = "false";
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model.Items != null)
{
if (this.Model.Items.Any()){
    <div class="box1">&nbsp;</div>
    <div class="box6" id="iscrittiList">
        @foreach (var item in this.Model.Items)
        {
            if (item.Role.ToLower() == "admin")
            {
            <h2 class="adminGroup">Admin</h2>
            }
            <div class="docs @(@item.Role.ToLower() == "admin" ? "admin" : "") ">
                <img src="@item.Photo" alt="@item.Name @item.Surname" />
                <div class="cnt">
                    <h3>@item.Name @item.Surname</h3>
                    <h4>@item.Specialty</h4>
                    <p>@(@item.Hospital != "" ? "presso " + @item.Hospital : "") @(@item.City != null ? ", " + @item.City : "")</p>
                    <div class="count">@item.NumContributi contributi | @item.NumCommenti commenti</div>
                </div>
                <div class="iconBox">
                   
                    @if (item.Email != "")
                    {
                        <a href="mailto:@item.Email" title="envelope"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    }
                    @if (item.LinkedinLink != "")
                    {
                        <a href="@("https://www.linkedin.com/in/" + item.LinkedinLink)" target="_blank" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    }
                    @if (item.SkypeLink != "")
                    {
                        <a href="skype:@item.SkypeLink?chat" title="skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
                    }
                    @if (item.TwitterLink != "")
                    {
                        <a href="@("https://twitter.com/" + item.TwitterLink)" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    }
                </div>
            </div>
        }

    </div>
    <div class="box1">&nbsp;</div>
}
}
