﻿@model inClub.Web.Portal.Models.Archive<inClub.Web.Portal.Models.Discussioni>

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    var visibleMore = "false";
    var selDiscID = this.ViewBag.selDiscID;
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model != null && this.Model.Items.Any())
{
    var _currDiscDetail = string.Empty;
    var numItems = this.Model.Items.Count();
    var itemNum = 1;
    
    foreach (var item in this.Model.Items)
    {
        _currDiscDetail = this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, item.GroupKey, new LanguageIdentificator(item.GroupKey.IdLanguage), item.Title, "detail", item.DiscussionKey.Id.ToString(), "discussioni");


        <div class="item @(itemNum == numItems? "itemLast":"")">
            <h3><a href="@_currDiscDetail" title="@item.Title">@item.Title</a></h3>
            <div class="author"><h4>Creato da: <a href="#divUser" class="inline boxUserData" rel="@item.UserCreate.Id">@item.UserCreateName</a> il <span>@item.CreationDate</span></h4></div>
            <div class="desc"><p>@this.Html.Raw(item.Description) <a href="@_currDiscDetail" title="Leggi di pi&ugrave;" class="readMore">Leggi di pi&ugrave;</a></p></div>
            <div class="count">@item.NumContributi contributi | @item.NumCommenti commenti</div>
        </div>
    
        itemNum++;
    }


    if ((this.Model.CurrentPage < this.Model.TotalPagesCount) || (selDiscID > 0))
    {
        visibleMore = "true";

    }
    else
    {
        visibleMore = "false";
    }
}

<script type="text/javascript">

    $(document).ready(function () {
       var lodVisible = '@visibleMore';
        if (lodVisible == 'true') {
            $('#paginatorDiscs').show();            
        } else {
            $('#paginatorDiscs').hide();
        }
        $(".inline").colorbox({ inline: true, height: "260", width: "680" });
    });

</script>

 