﻿@model inClub.Web.Portal.Models.Archive<inClub.Web.Portal.Models.Documenti>

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    var groupID = this.ViewBag.groupID;
    var folderID = this.ViewBag.folderID;
    var visibleMore = "false";
    var selDocID = this.ViewBag.selDocID;
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model != null && this.Model.Items.Any())
{


    foreach (var item in this.Model.Items)
    {

        if (item.Type == "folder")
        {
            <div class="docs" rel="@item.ResourceKey.Id">
                <img src="/Portal/Content/_slice/folder.gif" alt="Cartella" />
                <div class="cnt">
                    <h3>

                        @if (item.SizeKb == "0")
                        {
                            @item.Name
                        }
                        else
                        {
                            <a href="javascript:void(0);" class="openFolder" title="@item.Name" rel="@item.ResourceKey.Id">@item.Name</a>
                        }

                        &nbsp; &nbsp; [@item.SizeKb]
                    </h3>
                    <p>@item.Description</p>
                    <p>Creata da <a href="#divUser" class="inline boxUserData" rel="@item.OwnerID.Id">@item.OwnerName</a> il @item.CreationDate</p>
                </div>
                <div class="iconBox"><a href="javascript:void(0);" class="openFolder" id="@("arrfolder" + item.ResourceKey.Id)" rel="@item.ResourceKey.Id" style="@(item.SizeKb == "0" ? "display:none;" : "")"><i class="fa fa-chevron-down" aria-hidden="true"></i></a></div>
            </div>
        }
        else
        {
            <div class="@((@item.FolderID > 0 && @selDocID == 0) ? "docs subFile sf" + @item.FolderID : "docs")" rel="@item.ResourceKey.Id">
                <img src=@("/Portal/Content/_slice/" + item.Ext + ".png") alt="@item.Ext" /> 
                <div class="cnt">
                    <h3><a href="@item.linkFile" class="@(item.TypeDoc == "video" ? "showVideo JOpenVideo" : "")">@item.Name</a></h3>
                    <p>@item.Description</p>
                    <p>Creata da <a href="#divUser" class="inline boxUserData" rel="@item.OwnerID.Id">@item.OwnerName</a>  il @item.CreationDate @*in @item.Folder*@ <strong>@((@item.FolderID > 0 && @selDocID != 0) ? "in: " + @item.Folder : "")</strong></p>
                </div>
                <div class="iconBox"><a href="@item.linkFile" class="@(item.TypeDoc == "video" ? "showVideo JOpenVideo" : "")"><i class="fa @(item.TypeDoc == "video" ? "fa-file-movie-o" : "fa-download")" aria-hidden="true"></i></a></div>
            </div>
        }


    }



    if (((folderID == 0) && (this.Model.CurrentPage < this.Model.TotalPagesCount)) || (selDocID > 0))
    {
        visibleMore = "true";

    }
    else
    {
        visibleMore = "false";
    }
}


<script type="text/javascript">

    $(document).ready(function () {
        $(".inline").colorbox({ inline: true, height: "260", width: "680" });
        $(".showVideo").colorbox({ iframe: true, width: "800", height: "650", onClosed: function () { $("#cboxLoadedContent").remove(); } });

       var lodVisible = '@visibleMore';
        if (lodVisible == 'true') {
            $('#paginatorDocs').show();
        } else { 
            $('#paginatorDocs').hide();
        }

    });

</script>
