﻿@model inClub.Web.Portal.Models.Archive<inClub.Web.Portal.Models.Interviste>

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    var groupID = this.ViewBag.groupID;
    var isSysAdmin = this.ViewBag.isSysAdmin;
    var visibleMore = "false";
    var selDocID = this.ViewBag.selDocID;
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model != null && this.Model.Items.Any())
{
    var itemNum = 1;
    var numItems = this.Model.Items.Count();

    foreach (var item in this.Model.Items)
    {
        var linkDetail = this.Url.ThemeLinkDetail((item.Type == ContextGroupKeys.CtxWebinar.Id ? ThemeKeys.Webinar : ThemeKeys.Video), item.IntervistaKey, new LanguageIdentificator(item.IntervistaKey.IdLanguage), item.Title, "detail", "", "");

        <div class="item @(itemNum == numItems? "itemLast":"")" rel="@item.IntervistaKey.Id">
            <div class="leftVideo"><a href="@linkDetail" title="@item.Title"><img src=@("/HP3Image/cover/" + CoverHelper.getCover(item.IntervistaKey, 200, 0, 0)) alt="@item.Ext" /><i class="fa fa-play-circle" aria-hidden="true"></i></a></div>
            <div class="rightVideo">
                <h3><a href="@linkDetail" title="@item.Title">@item.Title</a></h3>
                <div class="author"><h4>Pubblicato il: <span>@item.CreationDate</span></h4></div>

                <div class="desc">

                    <p>@(item.Description.Length > 150 ? item.Description.Substring(0, 145) + "..." : item.Description) <a href="@linkDetail" title="Leggi di pi&ugrave;" class="readMore">Leggi di pi&ugrave;</a></p>
                </div>
                @*<div class="count" style="float: left;">
                    @item.NumContributi contributi | @item.NumCommenti commenti    &nbsp;
                    @if (isSysAdmin && item.Status != 1)
                    {
                        <a href="javascript:void(0);" id="@("btnSend_" + item.IntervistaKey.Id)" onclick="showVI(@item.GroupKey.Id, @item.IntervistaKey.Id, @item.IntervistaKey.IdLanguage);" title="Pubblica Video Intervista"><i class="fa fa-share" aria-hidden="true"></i></a>
                    }
                </div>*@

            </div>
        </div>

                    itemNum++;

    }



    if (((this.Model.CurrentPage < this.Model.TotalPagesCount)) || (selDocID > 0))
    {
        visibleMore = "true";

    }
    else
    {
        visibleMore = "false";
    }
}


<script type="text/javascript">

    $(document).ready(function () {
        $(".inline").colorbox({ inline: true, height: "260", width: "680" });
        $(".showVideo").colorbox({ iframe: true, width: "800", height: "650", onClosed: function () { $("#cboxLoadedContent").remove(); } });

       var lodVisible = '@visibleMore';
        if (lodVisible == 'true') {
            $('#paginatorIntrv').show();
        } else { 
            $('#paginatorIntrv').hide();
        }

    });


    function showVI(groupId, videoId, langId) {

        var r = confirm("Sei sicuro di voler pubblicare questa video intervista? Se procedi verrà automaticamente inviata una notifica ai membri di questo gruppo e il video risulterà visibile nella community.");

        if (r == true && videoId != '') {

            $.ajax({
                type: "POST",
                url: "/Interviste/Pubblica",
                data: { groupId: groupId, langId: langId, videoId: videoId },
                success: function (data) {

                    if (data) {
                        alert("Il video è stato pubblicato correttamente!");
                        $('#btnSend_' + videoId).hide();
                    } else {
                        alert("Si è verificato un errore, si prega di riprovare.");
                    }
                },

                error: function (errorData) {
                    //onError(errorData);
                }

            });

        } else {
            return false;
        }
    }
</script>
