﻿@model inClub.Web.Portal.Models.Archive<inClub.Web.Portal.Models.Interviste>

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    var groupID = this.ViewBag.groupID;
    var folderID = this.ViewBag.folderID;
    var visibleMoreDocs = "false";
    long docNumTotal = 0;
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model != null && this.Model.Items.Any())
{
    docNumTotal = this.Model.TotalItemsCount;

    foreach (var item in this.Model.Items)
    {
        var linkDetail = this.Url.ThemeLinkDetail((item.Type == ContextGroupKeys.CtxWebinar.Id ? ThemeKeys.Webinar : ThemeKeys.Video), item.IntervistaKey, new LanguageIdentificator(item.IntervistaKey.IdLanguage), item.Title, "detail", "", "");
      
                <div class="docs" style="margin-left:10px;">
                    @*<img src=@("/HP3Image/cover/" + CoverHelper.getCover(item.IntervistaKey, 50, 0, 0)) alt="@item.Ext" />*@
                    <div class="cnt">
                        <h3><i class="fa fa-file-movie-o" aria-hidden="true"></i> &nbsp; <a href="@linkDetail" title="@item.Title">@item.Title</a></h3>
                        @*<p>@(item.Description.Length > 30 ? item.Description.Substring(0, 25) + "..." : item.Description)</p>*@
                        
                    </div>                    
                </div>

    }    

    if (this.Model.CurrentPage < this.Model.TotalPagesCount)
    {
        visibleMoreDocs = "true";

    }
    else
    {
        visibleMoreDocs = "false";
    }
}


<script type="text/javascript">

    $(document).ready(function () {

        
        var lodVisible = '@visibleMoreDocs';

       if (lodVisible == 'true') {
           
            $('#paginatorDocs').show();
       } else {
           
            $('#paginatorDocs').hide();
       }

        $("#docNum").html('@docNumTotal');
        
    });

</script>
