﻿@model List<inClub.Web.Portal.Models.Contributo>

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    var selCommID = this.ViewBag.selCommID;
}


@if (this.Model != null && this.Model.Any())
{

    foreach (var item in this.Model)
    {
        <div id="@("comm" + item.PostKey.Id)" class="comm">
            <h4 class="@(selCommID == item.PostKey.Id.ToString() ? "sel" : "")"><a href="#divUser" class="inline boxUserData" rel="@item.UserCreate.Id">@item.UserCreateName</a> scrive:</h4>
            <div class="desc"><i class="fa fa-caret-up" aria-hidden="true"></i>@item.Description</div>
        </div>
    }


}


      
<script type="text/javascript">

    $(document).ready(function () {
        $(".inline").colorbox({ inline: true, height: "260", width: "680" });        
    });

</script>

        

