﻿@model inClub.Web.Portal.Models.Archive<inClub.Web.Portal.Models.Documenti>

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    var groupID = this.ViewBag.groupID;
    var folderID = this.ViewBag.folderID;
    var visibleMoreDocs = "false";
    long docNumTotal = 0;
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model != null && this.Model.Items.Any())
{
    docNumTotal = this.Model.TotalItemsCount;

    foreach (var item in this.Model.Items)
    {       

                <div class="@(@item.FolderID > 0 ? "docs subFile" : "docs")">
                    <img src=@("/Portal/Content/_slice/" + item.Ext + ".png") alt="@item.Ext" />
                    <div class="cnt">
                        <h3><a href="@item.linkFile" class="@(item.TypeDoc == "video" ? "showVideo JOpenColorbox" : "")" title="@item.Name">@item.Name</a></h3>
                        @*<p>@(item.Description.Length > 30 ? item.Description.Substring(0, 25) + "..." : item.Description)</p>*@
                        <p>Creata da <a href="#divUser" class="inline boxUserData" title="@item.OwnerName" rel="@item.OwnerID.Id">@item.OwnerName</a> il @item.CreationDate @*in @item.Folder*@</p>
                    </div>
                    <div class="iconBox">
                        <a href="@item.linkFile" class="@(item.TypeDoc == "video" ? "showVideo JOpenColorbox" : "")">
                            <i class="fa @(item.TypeDoc == "video" ? "fa-file-movie-o" : "fa-download")" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

    }    

    if (this.Model.CurrentPage < this.Model.TotalPagesCount)
    {
        visibleMoreDocs = "true";

    }
    else
    {
        visibleMoreDocs = "false";
    }
}


<script type="text/javascript">

    $(document).ready(function () {

        $(".showVideo").colorbox({ iframe: true, width: "800", height: "650", onClosed: function () { $("#cboxLoadedContent").remove(); } });

        var lodVisible = '@visibleMoreDocs';

       if (lodVisible == 'true') {
           
            $('#paginatorDocs').show();
       } else {
           
            $('#paginatorDocs').hide();
       }

        $("#docNum").html('@docNumTotal');
        
    });

</script>
