﻿@model inClub.Web.Portal.Models.Archive<inClub.Web.Portal.Models.Documenti>

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    var groupID = this.ViewBag.groupID;
    var folderID = this.ViewBag.folderID;
    var visibleMore = "false";
    var selDocID = this.ViewBag.selDocID;
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model != null && this.Model.Items.Any())
{


    foreach (var item in this.Model.Items)
    {

        if (item.Type == "folder")
        {
            <div class="docs" rel="@item.ResourceKey.Id">
                <img src="/Portal/Content/_slice/folder.gif" alt="Cartella" />
                <div class="cnt">
                    <h3>

                        @if (item.SizeKb == "0")
                        {
                            @item.Name
                        }
                        else
                        {
                            <a href="javascript:void(0);" class="openFolder" title="@item.Name" rel="@item.ResourceKey.Id">@item.Name</a>
                        }

                        &nbsp; &nbsp; [@item.SizeKb]
                    </h3>
                    <p>@item.Description</p>
                    <p>Creata da <a href="#divUser" class="inline boxUserData" rel="@item.OwnerID.Id">@item.OwnerName</a> il @item.CreationDate</p>
                </div>
                <div class="iconBox"><a href="javascript:void(0);" class="openFolder" id="@("arrfolder" + item.ResourceKey.Id)" rel="@item.ResourceKey.Id" style="@(item.SizeKb == "0" ? "display:none;" : "")"><i class="fa fa-chevron-down" aria-hidden="true"></i></a></div>
            </div>
        }
        else
        {
            <div class="docs" id="@("div_" + item.ResourceKey.Id)" rel="@item.ResourceKey.Id">
                <img src=@("/Portal/Content/_slice/" + item.Ext + ".png") alt="@item.Ext" />
                <div class="cnt">
                    <h3><a href="@item.linkFile" class="@(item.TypeDoc == "video" ? "showVideo JOpenVideo" : "")">@item.Name</a></h3>
                    <p>@item.Description</p>
                    <p>Creata da <a href="#divUser" class="inline boxUserData" rel="@item.OwnerID.Id">@item.OwnerName</a>  il @item.CreationDate in: <strong>@item.Folder</strong></p>
                </div>
                <div class="iconBox"><a href="@item.linkFile" class="@(item.TypeDoc == "video" ? "showVideo JOpenVideo" : "")" title="Visualizza"><i class="fa @(item.TypeDoc == "video" ? "fa-file-movie-o" : "fa-download")" aria-hidden="true"></i></a> &nbsp; <a href="@Html.Raw(Url.Action("ModificaDocumento", "ApprovaDoc"))?dId=@item.ResourceKey.Id&gId=@item.GroupKey.Id&lId=@item.ResourceKey.IdLanguage" title="Modifica dati" class="inline"><i class="fa fa-pencil" aria-hidden="true"></i></a>  <a href="javascript:void(0);" id="btnApprove" onclick="approveDoc(@item.GroupKey.Id, @item.ResourceKey.Id, @item.ResourceKey.IdLanguage);" title="Approva"><i class="fa fa-check" aria-hidden="true"></i></a></div>
            </div>
        }


    }



    if (((folderID == 0) && (this.Model.CurrentPage < this.Model.TotalPagesCount)) || (selDocID > 0))
    {
        visibleMore = "true";

    }
    else
    {
        visibleMore = "false";
    }
}


<script type="text/javascript">

    $(document).ready(function () {
        $(".inline").colorbox({ iframe: true, height: "460", width: "680" });
        $(".showVideo").colorbox({ iframe: true, width: "800", height: "650", onClosed: function () { $("#cboxLoadedContent").remove(); } });

       var lodVisible = '@visibleMore';
        if (lodVisible == 'true') {
            $('#paginatorDocs').show();
        } else { 
            $('#paginatorDocs').hide();
        }

    });


    function approveDoc(groupId, docId, langId) {
           
        var r = confirm("Sei sicuro di voler approvare questo documento? Se procedi verrà automaticamente inviata una notifica ai membri di questo gruppo e il documento risulterà visibile nella community.");

        if (r == true && docId != '') {

            $.ajax({
                type: "POST",
                url: "/ApprovaDoc/AbilitaDoc",
                data: { groupId: groupId, langId: langId, docId: docId },
                success: function (data) {

                    if (data) {
                        alert("Il documento è stato approvato correttamente");                        
                        $('#div_' + docId).hide();
                    } else {
                        alert("Si è verificato un errore, si prega di riprovare.");
                    }
                },

                error: function (errorData) {
                    //onError(errorData);
                }

            });

        } else {
            return false;
        }
    }

</script>
