﻿@model inClub.Web.Portal.Models.Archive<inClub.Web.Portal.Models.Documenti>

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    var groupID = this.ViewBag.groupID;
    var folderID = this.ViewBag.folderID;
    var visibleMore = "false";
    var selDocID = this.ViewBag.selDocID;
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model != null && this.Model.Items.Any())
{


    foreach (var item in this.Model.Items)
    {


        <div class="docs" rel="@item.ResourceKey.Id">
            <img src=@("/Portal/Content/_slice/" + item.Ext + ".png") alt="@item.Ext" />
            <div class="cnt">
                <h3><a href="@item.linkFile" >@item.Name</a></h3>
                <p>@item.Description</p>
                <p>@item.CreationDate</p>
            </div>
            <div class="iconBox"><a href="@item.linkFile" ><i class="fa fa-download" aria-hidden="true"></i></a></div>
        </div>

    }



    if (this.Model.CurrentPage < this.Model.TotalPagesCount)
    {
        visibleMore = "true";

    }
    else
    {
        visibleMore = "false";
    }
}


<script type="text/javascript">

    $(document).ready(function () {
        $(".inline").colorbox({ inline: true, height: "260", width: "680" });
        $(".showVideo").colorbox({ iframe: true, width: "800", height: "650", onClosed: function () { $("#cboxLoadedContent").remove(); } });

       var lodVisible = '@visibleMore';
        if (lodVisible == 'true') {
            $('#paginatorDocs').show();
        } else { 
            $('#paginatorDocs').hide();
        }

    });

</script>
