﻿@model inClub.Web.Portal.Models.Archive<inClub.Web.Portal.Models.Gruppo>
@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions
@using Healthware.HP3.Core.User
@using Healthware.HP3.Core.User.ObjectValues

@{

    var manager = new AccessService();
    var ticket = manager.GetTicket();


    int userID = ticket.User.Key.Id;

    var pageInfo = this.GetPageInfo();
    var visibleMore = "false";
}


@if (this.Model != null && this.Model.Items.Any())
{
    var _currGroupDetail = string.Empty;

    var classGroup = "group1";

    foreach (var item in this.Model.Items)
    {

        _currGroupDetail = this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, item.GroupKey, new LanguageIdentificator(item.GroupKey.IdLanguage), item.Name, "detail");

        classGroup = "group1";
        if (item.BlockColor != null && item.BlockColor != string.Empty)
        {
            int bkC = 1;
            int.TryParse(item.BlockColor, out bkC);
            if (bkC > 0 && bkC < 16)
            {
                classGroup = "group" + item.BlockColor;
            }
        }
        <div style='display:none'>
            <div id="divUser" class="test6"></div>
        </div>
        <div class="group @classGroup" id="@item.GroupKey.Id">
            <div class="headGroup">
                <img src="/HP3Image/cover/@CoverHelper.getCover(item.GroupKey, (int)EnumeratorKeys.coverDimension.WidthDetail, (int)EnumeratorKeys.coverDimension.HeightDetail, EnumeratorKeys.coverPosition.first) " alt="@item.Name" />
                <div class="txt">




                    @if (ContentHelper.ExistUserContent(userID, item.GroupKey.Id, 0))
                    {
                        <h3><a href="@_currGroupDetail" title="@item.Name">@item.Name</a></h3>
                    }
                    else
                    {
                        <h3 class="H3nonIscritto @("jsGuppoNonIscritto" + item.GroupKey.Id) ">@item.Name</h3>
                        <h3 class="H3iscritto @("jsGuppoIscritto" + item.GroupKey.Id)" style="display:none;"><a href="@_currGroupDetail " title="@item.Name">@item.Name</a></h3>

                    }


                    <h4>Amministratore: <a href="#divUser" class="inline boxUserData cboxElement" rel="@item.Admin.Id" style="color:#fff">@item.AdminName</a></h4>
                </div>
                <div class="count">@item.NumIscritti iscritti | @item.NumDiscussioni discussioni | @item.NumContributi contributi | @item.NumCommenti commenti</div>

                @if (item.Role == "")
                {
                    if (ContentHelper.ExistUserContent(userID, item.GroupKey.Id, 0))
                    {
                        <a href="@_currGroupDetail" class="iscritto" title="Iscritto"><i class="fa fa-check" aria-hidden="true"></i> Iscritto</a>
                    }
                    else
                    {
                        <a href="javascript:void(0);" class="iscritto nonIscritto jsIscrivimi  @("jsGuppoNonIscritto" + item.GroupKey.Id)" title="Iscriviti" data-id="@CryptHelper.urlEncrypt(item.GroupKey.Id.ToString())" data-grp="@item.GroupKey.Id"><i class="fa fa-times" aria-hidden="true"></i>Non Iscritto</a>
                        <a href="javascript:void(0);" class="iscritto @("jsGuppoIscritto" + item.GroupKey.Id)" title="Iscritto" style="display:none;"><i class="fa fa-check" aria-hidden="true"></i> Iscritto</a>
                    }
                }
            </div>
        </div>
    }

    if (this.Model.CurrentPage < this.Model.TotalPagesCount)
    {
        visibleMore = "true";
    }
    else
    {
        visibleMore = "false";
    }
}
else
{
    <div class="">Nessun gruppo trovato</div>
}
<script type="text/javascript">

    $(document).ready(function () {
        $(".inline").colorbox({ inline: true, height: "260", width: "680" });
        var lodVisible = '@visibleMore';
        if (lodVisible == 'true') {
            $('#paginatorDocs').show();
        } else {
            $('#paginatorDocs').hide();
        }

    });

    $(".jsIscrivimi").click(function () {
        var grID = $(this).data("id");
        var divGruppo = $(this).data("grp");
        var r = confirm("Sei sicuro di volerti iscrivere a questo gruppo");
        if (r == true && grID != '') {

            $.ajax({
                type: "POST",
                url: "/community/SetContentUser",
                data: { ContentCrypt: grID },
                success: function (data) {

                    $(".jsGuppoNonIscritto" + divGruppo).hide();
                    $(".jsGuppoIscritto" + divGruppo).show();
                },

                error: function (errorData) {
                    //onError(errorData);
                }

            });

        } else {
            return false;
        }
    });
</script>