﻿@model IEnumerable<Healthware.HP3.Core.Localization.ObjectValues.LanguageValue>
@{
    
    var pageInfo = this.GetPageInfo();
    
}

@if (null != this.Model && this.Model.Any())
{
    <div class="top-languages">
        <div class="container">
            <div class="floatRight">
                @foreach (Healthware.HP3.Core.Localization.ObjectValues.LanguageValue item in this.Model)
                {
                    if (item.Key.Code.ToLower() == LanguageKeys.EN)
                    {
                        if (pageInfo.SeoName.ToLower().Equals(ThemeKeys.SeoNames.HomeIT))
                        {
                            <a href="/en/home">@item.Key.Code.ToUpper()</a>
                        }
                        else
                        {
                            <a href="@this.Url.ThemeLink(pageInfo.Key, item.Key) ">@item.Key.Code.ToUpper()</a>
                        }


                    }
                    if (item.Key.Code.ToLower() == LanguageKeys.IT)
                    {
                        if (pageInfo.SeoName.ToLower().Equals(ThemeKeys.SeoNames.HomeEN))
                        {
                            <a href="/">@item.Key.Code.ToUpper()</a>
                        }else{
                            <a href="@this.Url.ThemeLink(pageInfo.Key, item.Key) ">@item.Key.Code.ToUpper()</a>
                        }
                    }

                }

            </div>
        </div>
    </div>

}
