﻿@model inClub.Web.Portal.Models.Archive<inClub.Web.Portal.Models.Discussioni>
 
@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model != null && this.Model.Items.Any())
{
    var _currDiscDetail = string.Empty;

    foreach (var item in this.Model.Items)
    {

        _currDiscDetail = this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, item.GroupKey, new LanguageIdentificator(item.GroupKey.IdLanguage), item.Title, "detail", item.DiscussionKey.Id.ToString(), "discussioni");

        <div class="item">
            <div class="txt">
                <h3><a href="@_currDiscDetail" title="@item.Title">@item.Title</a></h3>
                <div class="desc"><p>@Html.Raw(item.Description)</p></div>
                <div class="author"><h4>di <a href="#divUser" class="inline boxUserData" rel="@item.UserCreate.Id">@item.UserCreateName</a></h4></div><div class="count">@item.NumContributi contributi | @item.NumCommenti commenti</div>
            </div>
        </div>

    }
}

<script type="text/javascript">
 $(document).ready(function () {
        $(".inline").colorbox({ inline: true, height: "260", width: "680" });
    });
 </script>
