﻿@model List<inClub.Web.Portal.Models.Gruppo>

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions


<style type="text/css">

    .nonIscritto {
    color: #000;
    background: #ccc;
}
 .iscritto {
    position: absolute;
    bottom: 70px;
    right: 20px;
    font-family: 'nexa_boldregular', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #000;
    background: #ccc;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}
</style>

@if (this.Model != null && this.Model.Any())
{
    var _currGroupDetail = string.Empty;

    var classGroup = "";

    foreach (var item in this.Model)
    {
        _currGroupDetail = this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, item.GroupKey, new LanguageIdentificator(item.GroupKey.IdLanguage), item.Name, "detail");
        classGroup = "group1";
        if (item.BlockColor != null && item.BlockColor != string.Empty)
        {
            int bkC = 1;
            int.TryParse(item.BlockColor, out bkC);
            if (bkC > 0 && bkC < 16)
            {
                classGroup = "group" + item.BlockColor;
            }
        }
        <div style='display:none'>
            <div id="divUser" class="test1"></div>
        </div>
        <div class="group @classGroup" id="@item.GroupKey.Id">

            @if (item.Role != "none") { 
                
                
                
                //check sulla property che mi dice se è quello di board, in quel caso se non hai associazione non lo mostro

                    <div class="headGroup">
                        <img src="/HP3Image/cover/@CoverHelper.getCover(item.GroupKey, (int)EnumeratorKeys.coverDimension.WidthGroup, (int)EnumeratorKeys.coverDimension.HeightGroup, EnumeratorKeys.coverPosition.first) " alt="@item.Name" />
                        <div class="txt">
                            <h3><a href="@_currGroupDetail" title="@item.Name">@item.Name</a><span>@item.NumDiscussioni</span></h3>
                            <h4>Amministratore: <a href="#divUser" class="inline boxUserData cboxElement" rel="@item.Admin.Id" style="color:#fff">@item.AdminName</a></h4>
                        </div>
                        <div class="count">@item.NumIscritti iscritti | @item.NumDiscussioni discussioni | @item.NumContributi contributi | @item.NumCommenti commenti</div>
                        <div class="count" id="@("divDisc" + item.GroupKey.Id)" style="left: 620px !important; bottom: 15px !important;">
                            <a href="javascript:void(0);" class="showDiscussions" id="@("btn" + item.GroupKey.Id)" title="Show Last Discussions" rel="@item.GroupKey.Id" style="font-size: 30px; color: #fff;"><i class=" fa fa-chevron-down" aria-hidden="true"></i></a>
                        </div>
                    </div>
    
                    <div class="discussions" id="@("disc" + item.GroupKey.Id)"></div>
                
            }
            else
            {
                if (!(item.isBoard)) {
                    <div class="headGroup">
                        <img src="/HP3Image/cover/@CoverHelper.getCover(item.GroupKey, (int)EnumeratorKeys.coverDimension.WidthGroup, (int)EnumeratorKeys.coverDimension.HeightGroup, EnumeratorKeys.coverPosition.first) " alt="@item.Name" />
                        <div class="txt">
                        
                            <h3 class="H3nonIscritto @("jsGuppoNonIscritto" + item.GroupKey.Id) ">@item.Name</h3>
                            <h3 class="H3iscritto @("jsGuppoIscritto" + item.GroupKey.Id)" style="display:none;"><a href="@_currGroupDetail " title="@item.Name">@item.Name</a></h3>

                            <h4>Amministratore: <a href="#divUser" class="inline boxUserData cboxElement" rel="@item.Admin.Id" style="color:#fff">@item.AdminName</a></h4>
                        </div>
                        <div class="count">@item.NumIscritti iscritti | @item.NumDiscussioni discussioni | @item.NumContributi contributi | @item.NumCommenti commenti</div>
                        <div class="count" id="@("divDisc" + item.GroupKey.Id)" style="left: 620px !important; bottom: 15px !important; display:none;">
                            <a href="javascript:void(0);" class="showDiscussions" id="@("btn" + item.GroupKey.Id)" title="Show Last Discussions" rel="@item.GroupKey.Id" style="font-size: 30px; color: #fff;"><i class=" fa fa-chevron-down" aria-hidden="true"></i></a>
                        </div>
                        <a href="javascript:void(0);" class="iscritto nonIscritto jsIscrivimi  @("jsGuppoNonIscritto" + item.GroupKey.Id)" title="Iscriviti" data-id="@CryptHelper.urlEncrypt(item.GroupKey.Id.ToString())" data-grp="@item.GroupKey.Id"><i class="fa fa-times" aria-hidden="true"></i> Non Iscritto</a>
                        <a href="javascript:void(0);" class="iscritto @("jsGuppoIscritto" + item.GroupKey.Id)" title="Iscritto" style="display:none;"><i class="fa fa-check" aria-hidden="true"></i> Iscritto</a>

                    </div>
                    //open / close discussions                
                   <div class="discussions" id="@("disc" + item.GroupKey.Id)"></div>
                }
             }

                </div>
    }
}


<script type="text/javascript">
    
        
        $(".showDiscussions").click(function(i) {        
            //alert("showDiscussions");
            var id = $(this).attr('rel');
            ajaxLoadContents(id);
        });
   

        function ajaxLoadContents(idBox) {
            var arrowImg = $("#btn" + idBox).children();

            if ($(arrowImg).hasClass("fa fa-chevron-down")){ 
                if ($("#disc" + idBox).html() == ""){

                        //alert("ajaxLoadContents");
                        $.ajax({
                            type: "GET",
                            url: "/Discussioni/Archive",
                            data: {groupID:idBox, langId:@LanguageHelper.GetLanguageFromUrl().Id, pagenum:1, pagesize:3 },
                            success: function (data) {
                                //alert("success");
                                $("#disc" + idBox).append(data); //the HTML I returned from the controller
                                $(arrowImg).removeClass("fa-chevron-down");
                                $(arrowImg).addClass("fa-chevron-up");
                            },

                            error: function (errorData) {
                                //onError(errorData);
                            }

                        });                
                }else{

                    $(arrowImg).removeClass("fa-chevron-down");
                    $(arrowImg).addClass("fa-chevron-up");
                    $("#disc" + idBox).show();
                }
            }
            else
            {

                $(arrowImg).removeClass("fa-chevron-up");
                $(arrowImg).addClass("fa-chevron-down");
                $("#disc" + idBox).hide();
            }
    }


    $(".jsIscrivimi").click(function () {
        var grID = $(this).data("id");
        var divGruppo = $(this).data("grp");
        var r = confirm("Sei sicuro di volerti iscrivere a questo gruppo");
        if (r == true && grID != '') {

            $.ajax({
                type: "POST",
                url: "/community/SetContentUser",
                data: { ContentCrypt: grID },
                success: function (data) {

                    $(".jsGuppoNonIscritto" + divGruppo).hide();
                    $(".jsGuppoIscritto" + divGruppo).show();
                    $("#divDisc" + divGruppo).show();
                },

                error: function (errorData) {
                    //onError(errorData);
                }

            });

        } else {
            return false;
        }
    });

</script>
