﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    @Styles.Render("~/Style/css")
    @Scripts.Render("~/Scripts/js")
    <title>Roche</title>
</head>

<body>
    <header>
        @{
            var pageInfo = this.GetPageInfo();
        }

        @{this.Html.RenderPartial("_Header");}


    </header>


    <div class="pageBg">
        
            @RenderBody()
        
    </div>



        <footer>

            @{this.Html.RenderPartial("_Footer");}
        </footer>

   <style type="text/css">
       #cboxCurrent{
           display:none !important;
       }
       #cboxPrevious{
           display:none !important;
       }
       #cboxNext{
           display:none !important;
       }
   </style>
    <script>

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '@System.Configuration.ConfigurationManager.AppSettings["gaCode"]', 'auto'); 
        //ga('create', 'UA-102347441-1', 'auto');
        ga('send', 'pageview');


        var swiper1 = new Swiper('.swiperEvidenza .swiper-container', {
            pagination: '.swiperEvidenza .swiper-pagination',
            nextButton: '.swiperEvidenza .swiper-button-next',
            prevButton: '.swiperEvidenza .swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            loop: true
        });

     

        var swiper2 = new Swiper('.swiperVideo .swiper-container', {
            pagination: '.swiperVideo .swiper-pagination',
            nextButton: '.swiperVideo .swiper-button-next',
            prevButton: '.swiperVideo .swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            loop: true
        });
        var swiper3 = new Swiper('.swiperNews .swiper-container', {
            pagination: '.swiperNews .swiper-pagination',
            nextButton: '.swiperNews .swiper-button-next',
            prevButton: '.swiperNews .swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            loop: true
        });

        var swiper4 = new Swiper('.swiperGeneric .swiper-container', {
            autoplay: 2500,
            effect: 'coverflow',
            autoplayDisableOnInteraction: false,
            pagination: '.swiperGeneric .swiper-pagination',
            nextButton: '.swiperGeneric .swiper-button-next',
            prevButton: '.swiperGeneric .swiper-button-prev',
            slidesPerView: 1,            
            paginationClickable: true,
            loop: true
        });

        var swiper5 = new Swiper('.swiperLastUpd .swiper-container', {
            pagination: '.swiperLastUpd .swiper-pagination',
            nextButton: '.swiperLastUpd .swiper-button-next',
            prevButton: '.swiperLastUpd .swiper-button-prev',
            slidesPerView: 1,
            paginationClickable: true,
            loop: true
        });


        $(document).ready(function () {
            var _currDomain = '<%=String.Format("http://{0}", Me.ObjectSiteDomain.Domain.ToString)%>';            
            bindExternalLinks(_currDomain);

            $(document).on("click", ".boxUserData", function (e) {
                
                var divPrev = $($(this).attr('href')); //$(this).closest('div');
                //alert($(divPrev));

                 $.ajax({
                    type: "GET",
                    url: "/Iscritti/Detail",
                    data: { userId: $(this).attr('rel') },
                    success: function (data) {
                        $(divPrev).html('');
                        $(divPrev).prepend(data);
                    }

                });

            });
        });


        function bindExternalLinks(curDomain) {            
           
            var urlGo = '';

            $("a" + "[href^='http://']").each(function (index) {
                urlGo = $(this).attr("href");
                $(this).attr("onclick", "javascript:leaveSite('" + urlGo + "')");
                $(this).attr("href", "javascript:void(0);")
                $(this).addClass("JOpenColorbox");
            });

            $("a" + "[href^='https://']").each(function (index) {
                urlGo = $(this).attr("href");
                $(this).attr("onclick", "javascript:leaveSite('" + urlGo + "')");
                $(this).attr("href", "javascript:void(0);")
                $(this).addClass("JOpenColorbox");
            });
           
        };

    </script>
</body>
</html>