﻿@{

    if (Inclub.Web.Portal.Helper.LoginHelper.IsAuthenticated())
    {
        Response.Redirect("/");
    }

}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    @Styles.Render("~/Style/css")
    @Scripts.Render("~/Scripts/js")
    <title>Roche</title>
</head>
<body>
    <header>
        @{
            var pageInfo = this.GetPageInfo();
        }

        @{this.Html.RenderPartial("_Header");}
    </header>

    <div class="pageBg">
        @RenderBody()
    </div>

    <footer>
        @{this.Html.RenderPartial("_Footer");}
    </footer>

    @Scripts.Render("~/bundles/validation")
    @RenderSection("JSscripts", required: false)

</body>
</html>
