﻿<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    @Styles.Render("~/Style/css")
    @Scripts.Render("~/Scripts/js")
    <title>Roche</title>
</head>
<body class="popup">
    <img src="~/Portal/Content/_slice/logo.png" alt="Acc-chek in Club" class="logoInc" />
    <header>
        @{
            var pageInfo = this.GetPageInfo();
        }       
    </header>
    
    <div class="pageBg bgWhite" >
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/validation")
    @RenderSection("JSscripts", required: false)

</body>
</html>
