﻿@model Inclub.Web.Portal.Models.UserLogIn

@using Inclub.Web.Portal.Helper

@{
    MvcHtmlString LoginErrorMsg = new MvcHtmlString("");

    if (TempData["Unauthorized"] != null)
    {
        LoginErrorMsg = new MvcHtmlString(string.Format("<div class='inp'><span class='errorLogin'><span>{0}</span></span></div>", (string)TempData["Unauthorized"]));
    }
}
@using (Html.BeginForm("LogIn", "Login", FormMethod.Post, new { id = "loginform" }))
{

    <div class="box3">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @(Html.HiddenFor(m => m.webinar, new { id = "webinar" }))
        <div class="right">
            <div class="formRow userFormLogin">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                @this.Html.TextBoxFor(m => m.Email)
                @this.Html.ValidationMessageFor(m => m.Email, null, new { @class = "errorLogin" })
            </div>
            <div class="formRow psswFormLogin">
                <i class="fa fa-key" aria-hidden="true"></i>
                @this.Html.PasswordFor(m => m.Password, new { tabindex = 2 })
                @this.Html.ValidationMessageFor(m => m.Password, null, new { @class = "errorLogin" })
            </div>
            @LoginErrorMsg
            <div class='noMargin'><span class='errorTxt jsLoginPwd' style='display:none'>Inserire le credenziali di accesso</span>&nbsp;</div>
            <div class="buttons noMargin">
                <a href="javascript:void(0);" title="Entra" class="loginBtn jsEntra">Entra</a>
                <a href="/registrazione" title="Registrati">Registrati</a>
            </div>
            <div class="checkRow marginTop10">
                <input type="checkbox" /><span>Resta connesso</span>
                <a href="javascript:void(0);" class="JResetPassword" data-href="@Html.Raw(Url.Action("ResetPassword", "Registrazione"))">Hai dimenticato la password?</a>
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(".jsEntra").click(function (e) {
        $(".jsLoginPwd").hide();
        if ($("#Email").val() == '' || $("#Password").val() == '')
        {
            $(".jsLoginPwd").show();
        }
        else
        {
            $("form").submit();
        }

        
    });

    function keypressHandler(e) {
        if (e.which == 13) {
            e.preventDefault(); //stops default action: submitting form
            $(this).blur();
            $('.jsEntra').focus().click();//give your submit an ID
        }
    }

    $('#loginform').keypress(keypressHandler);

</script>



