﻿@model List<inClub.Web.Portal.Models.Gruppo>

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
    
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model != null && this.Model.Any())
{ 
    <div class="others"><div class="titleRed"><h4>Altri gruppi</h4></div>
    @foreach (var item in this.Model)
{
    var _currGroupDetail = string.Empty;

    var classGroup = "";
    _currGroupDetail = this.Url.ThemeLinkDetail(ThemeKeys.HPGruppo, item.GroupKey, new LanguageIdentificator(item.GroupKey.IdLanguage), item.Name, "detail");
    classGroup = "group1";
    if (item.BlockColor != null && item.BlockColor != string.Empty)
    {
        int bkC = 1;
        int.TryParse(item.BlockColor, out bkC);
        if (bkC > 0 && bkC < 16)
        {
            classGroup = "group" + item.BlockColor;
        }
    }

    <div class="item item1 JsBoxGroup @classGroup @("Div" + item.GroupKey.Id)" id="@item.GroupKey.Id">
        <div class="othbg" style="background-image:url('/HP3Image/cover/@CoverHelper.getCover(item.GroupKey, (int)EnumeratorKeys.coverDimension.WidthBox, (int)EnumeratorKeys.coverDimension.HeightBox, EnumeratorKeys.coverPosition.first)');">&nbsp;</div>
        <div class="txt">
            <h3><a href="@_currGroupDetail" title="@item.Name">@item.Name</a></h3>
            <p>Amministratore: @item.AdminName</p>
            <div class="count">@item.NumDiscussioni discussioni | @item.NumContributi contributi</div>
        </div>
        <a href="javascript:void(0);" title="Read more" class="readMore JsIscriviti" data-id="@CryptHelper.urlEncrypt(item.GroupKey.Id.ToString())" >Iscriviti</a>
    </div>



}
    </div>
    }
    <script type="text/javascript">
        $(".JsIscriviti").click(function() {
            var grID = $(this).data("id");

            var r = confirm("Sei sicuro di volerti iscrivere a questo gruppo");
            if (r == true && grID!='') {

                $.ajax({
                    type: "POST",
                    url: "/community/SetContentUser",
                    data: {ContentCrypt:grID},
                    success: function (data) {

                        location.reload();
                
                    },

                    error: function (errorData) {
                        //onError(errorData);
                    }

                });


               
            } else {
                return false;
            }               
        });
    </script>
