﻿@model inClub.Web.Portal.Models.Iscritti

@using Healthware.HP3.Core.Site.ObjectValues
@using Healthware.HP3.Core.Localization.ObjectValues

@{
    var pageInfo = this.GetPageInfo();
  
}

@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions

@if (this.Model != null)
{

    <div class="groupBox discBox docBox usersBox" style="width:600px;margin:0px;">
        <div class="docs">
            <img src="@this.Model.Photo" alt="@this.Model.Name @this.Model.Surname" width="70px;" />
            <div class="cnt">
                <h3>@this.Model.Name @this.Model.Surname</h3>
                <h4>@this.Model.Specialty</h4>
                <p>@(this.Model.Hospital != "" ? "presso " + this.Model.Hospital : "") @(this.Model.City != null ? ", " + this.Model.City : "")</p>
                <div class="count">@this.Model.NumContributi contributi | @this.Model.NumCommenti commenti</div>
            </div>
            <div class="iconBox">
                @if (this.Model.Email != "") { 
                <a href="mailto:@this.Model.Email" title="envelope"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                }    
                @if (this.Model.LinkedinLink != "") {
                <a href="@("https://www.linkedin.com/in/" + this.Model.LinkedinLink)" target="_blank" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                }
                @if (this.Model.SkypeLink != "") {
                <a href="skype:@this.Model.SkypeLink?chat" title="skype"><i class="fa fa-skype" aria-hidden="true"></i></a>
                }
                @if (this.Model.TwitterLink != "")
                {
                <a href="@("https://twitter.com/" + this.Model.TwitterLink)" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                }
            </div>
        </div>
    </div>

}
