﻿@model inClub.Web.Portal.Models.ShowVideo
@{
    Layout = "~/portal/Views/Shared/_LayoutPopup.cshtml";   
    
}

<style type="text/css">
    body {
        padding-top: 0;
    }
</style>
<section>
    <div class="registerBox">
        <div class="container ">                            
                    <div class="box6">
                        @if (this.Model != null)
                        {
                            <h3>@this.Model.Name</h3>
                            
                            <div style="text-align:center;">
                                                               
                                <video style="width:100%;"  id="videoPlayer" controls>
                                    <source src="/HP3Download/@this.Model.fileName" type="video/mp4">
                                </video>


                            </div>
                            
                            <div class="marginTop20">@this.Model.Description</div>
                        }
                        else
                        {
                        
                            <h3>Il file richiesto non è disponibile.</h3>
                        }


                    </div>
                    <div class="box1">&nbsp;</div>                            
        </div>
    </div>
</section>


