﻿
@media (max-width: 1100px) {
.container{
	width:960px;
}
.header .logo {
    margin: 25px 20px 0 20px;
}
.header .logo img{
	width:150px;
	float:left;
}
.back{ margin-bottom:20px;}
.groupsBox .others .readMore{
	margin:0;
}
}
@media (max-width: 970px) {
    .groupsBox .left .headGroup .count{ font-size: 13px; font-weight: 400;}
.container{
	width:700px;
}
.discBox .docs img {
    width: 40px;
}
.discBox .box2 .docs .cnt {
    width: calc(100% - 90px);
	margin-bottom:0;
}
.discBox .docs .cnt {
    width: calc(100% - 120px);
	margin-bottom:20px;
}
.docBox .docs .iconBox {
    width: 50px;
}
.usersBox .docs .cnt {
    width: calc(100% - 170px);
}
.usersBox .docs .iconBox {
	margin-top:0;
}
.usersBox .docs .iconBox a{
	margin-bottom:5px;
	display:block;
}
.header .mobileMenu{
	display:block;
}
.header .menu{
	display:none;
    position: absolute;
    background: #fff;
    top: 80px;
    margin:0;
    width: 100%;
}
.header .menu ul li {
    float: left;
    width: 100%;
    margin: 10px 0;
}
.header .menu ul li a{
	padding:0 25px;
}
.groupsBox .others .item .count{ display:none;}

.registerBox .rowForm .box2{
	clear:both;
	float:left;
	width:100%;
	margin:0 0 5px 0;
	padding:0;
}
.registerBox .rowForm .box4{
	clear:both;
	float:left;
	width:100%;
	margin:0 0 5px 0;
	padding:0;
}
.registerBox .rowForm .errorTxt{
	text-align:left;
}
    .hpBox .left .incontraBox {
        height: 200px;
    }


}
@media (max-width: 710px) {
    .hpBox .left .incontraBox{width:86%; height:auto;}

.swiper-container .swiper-slide h3{
    font-size:13px !important;
}
.swiperGeneric .cnt{
    padding:0;
    height:100%;
}

.swiperGeneric .cnt h3{
    padding:20px 15px;
}

.swiper-button-next, .swiper-button-prev{display:none !important;}

.header{
	position:relative;
}
body{
	padding-top:0;
}
.registerBox .rowForm{
	width:80%;
	margin:10px 10%;
}
.registerBox h3{
	margin-left:10%;
	width:80%;
}
.registerBox h3 span{
	float:left;
	clear:both;
	width:100%;
}
.registerBox h1{
	margin-left:10%;
	width:80%;
}
.groupsBox .others .item .count{ display:block;}
.container{
	width:500px;
}
.box1{
	width:100%;
}
.box2{
	width:100%;
}
.box3{
	width:100%;
}
.box4{
	width:100%;
}
.box5{
	width:100%;
}
.box6{
	width:100%;
}
.box7{
	width:100%;
}
.box8{
	width:100%;
}
.groupBox .item {
    width: calc(100% - 40px);
    padding: 0 20px;
}
.newsBox .cntNews .item {
    width: calc(100% - 40px);
    margin: 0 20px 30px 20px;
    padding:0;
}
.usersBox .docs,.usersBox h2.adminGroup{
    width: calc(100% - 40px);
    margin-left:20px;
    margin-right:20px;
}
.usersBox .docs .cnt {
    width: calc(100% - 130px);
}
.usersBox .docs .iconBox {
    margin-right: 10px;
}

.groupsBox .left .headGroup .count{ display: none;}
.groupsBox .left .headGroup .info{ display: none;}

}
@media (max-width: 510px) {
.newsBox .cntNews .item h3 a {
    font-size: 13px;
}
.newsBox .cntNews .item p {
    font-size: 11px;
}
.newsBox .cntNews .item .readMore{ display:none;}

.container{
	width:300px;
}



.header .accountBox a{
	height:40px;
	width:40px;
	line-height:40px;
}
.header .accountBox a.account i {
    line-height: 40px;
}
.header .accountBox {
    margin: 20px 0;
}
.header .mobileMenu {
    margin: 30px 25px 0 0;
}
.docBox .subFile {
    margin: -20px 0 0 40px;
    width: calc(100% - 40px);
}
}