@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'nexa_boldregular';
    src: url('nexa_free_bold-webfont.eot');
    src: url('nexa_free_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexa_free_bold-webfont.woff2') format('woff2'),
         url('nexa_free_bold-webfont.woff') format('woff'),
         url('nexa_free_bold-webfont.ttf') format('truetype'),
         url('nexa_free_bold-webfont.svg#nexa_boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nexa_lightregular';
    src: url('nexa_free_light-webfont.eot');
    src: url('nexa_free_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('nexa_free_light-webfont.woff2') format('woff2'),
         url('nexa_free_light-webfont.woff') format('woff'),
         url('nexa_free_light-webfont.ttf') format('truetype'),
         url('nexa_free_light-webfont.svg#nexa_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

body{
	margin:0;
	padding:0;
    font-family: 'Open Sans', sans-serif;
	color:#353a47;
	font-size:18px;
}

.row{
	clear:both;
	margin:0;
	padding:0;
	width:100%;
	float:left;
	position:relative;
}
.container{
	clear:both;
	margin:0 auto;
	padding:0;
	width:1080px;
}
.clear{
	clear:both;
}
.box1{
	float:left;
	width:12.5%;
}
.box2{
	float:left;
	width:25%;
}
.box3{
	float:left;
	width:37.5%;
}
.box4{
	float:left;
	width:50%;
}
.box5{
	float:left;
	width:62.5%;
}
.box6{
	float:left;
	width:75%;
}
.box7{
	float:left;
	width:87.5%;
}
.box8{
	float:left;
	width:100%;
}

h1,h2,h3,h4,h5,h5{
    font-family: 'nexa_boldregular', sans-serif;
	font-weight:400;
}

.red{
	color:#e11049;
}

.bgRed{
	background-color:#e11049;
}

.bgLightRed{
	background-color:#fef4f6;
}

.lightGrey{
	color:#ababab;
}

a{
	color:#e11049;
	text-decoration:none;
}
a:hover{
	color:#e11049;
	text-decoration:underline;
}

.btn:hover{
	text-decoration:none;
}

.footer a{
	color:#0078c1;
	text-decoration:none;
}
.footer a:hover{
	color:#0078c1;
	text-decoration:underline;
}

.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.header{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
	height:80px;
}
.header .logo{
	clear:both;
	float:left;
	width:auto;
	margin:15px 60px 0 20px;
	padding:0;
}
.header .accountBox{
	float:right;
	width:auto;
	margin:0;
	padding:0;
}
.header .mobileMenu{
	float:right;
	width:auto;
	margin:30px 30px 0 0;
	padding:0;
	display:none;
}
.header .accountBox a{
	height:80px;
	width:80px;
	text-align:center;
	background-color:#ccc;
	line-height:80px;
	color:#353a47;
    font-family: 'nexa_boldregular', sans-serif;
	font-size:14px;
	text-transform:uppercase;
	margin-left:1px;
	float:left;
}
.header .accountBox a.account{
	background-color:#e71f54;
	color:#fff;
}
.header .accountBox a.account i{
	display:inline-block;
	line-height:80px;
	margin-left:2px;
}
.header .accountBox a.account .fa-user{
	color:#f38faa;
}

.header .menu{
	float:left;
	width:auto;
	margin:28px 20px 0 20px;
	padding:0;
}
.header .menu ul{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
}
.header .menu ul li{
	float:left;
	width:auto;
	margin:0 40px 0 0;
	padding:0;
    font-family: 'nexa_boldregular';
	font-size:16px;
	text-transform:uppercase;
}

.pageBg{
	background:#f0f0f0;
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}

.footer{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.footer .icon{
	clear:both;
	float:left;
	width:auto;
	margin:15px 0;
	padding:0;
}
.footer .menu{
	float:left;
	width:auto;
	margin:25px 15px;
	padding:0;
}
.footer .menu ul{
	float:left;
	width:auto;
	margin:0;
	padding:0;
	list-style:none;
}
.footer .menu ul li{
	float:left;
	width:auto;
	margin:0 20px 0 0;
	padding:0;
	list-style:none;
	font-size:11px;
}
.footer .menu ul li a{
	color:#1564cb;
	position:relative;
	padding-left:10px;
	display:inline-block;
}
.footer .menu ul li a::before{
	color:#69a4e1;
	content:">";
	position:absolute;
	left:0;
}
.footer .logo{
	clear:none;
	float:right;
	width:auto;
	margin:20px 0;
	padding:0;
}
.footer .copyright{
	clear:both;
	float:left;
	width:100%;
	margin:30px 0 0 0;
	padding:0;
	font-size:11px;
}
.footer .copyright p{
	margin:0 0 20px 0;
}

.loginBox{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
	background-image:url('../_slice/slider.jpg');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
}
.loginBox .left{
	margin:140px 50px 140px 0;
}
.loginBox .left h1{
	font-size:42px;
	color:#fff;
	margin:0 0 30px 0;
}
.loginBox .left h2{
	margin:0;
    font-family: 'nexa_lightregular';
	font-weight:700;
	font-size:20px;
	color:#fff;
}
.loginBox .right{
	clear:both;
	float:left;
	width:100%;
	margin:60px 0;
	padding:15px;
	background-color:#fff;
	border-radius:5px;
}
.loginBox .right .formRow{
	clear:both;
	float:left;
	width:100%;
	margin:5px 0;
	padding:0;
	border-bottom:1px solid #aeaeae;
	position:relative;
}
.loginBox .right .formRow i{
	color:#6a6a6a;
	font-size:16px;
	width:30px;
	text-align:left;
	margin:0;
	padding:0;
	display:inline-block;
}
.loginBox .right .formRow input{
	color:#6a6a6a;
	font-size:15px;
	border:0;
	height:40px;
	min-width:90%;
	line-height:40px;
}
.loginBox .right a{
	font-size:13px;
}
.loginBox .right .buttons{
	clear:both;
	float:left;
	width:100%;
	margin:20px 0 10px 0;
	padding:0;
}
.loginBox .right .buttons a{
	float:right;
	width:125px;
	color:#353a47;
	background:#fff;
	border:1px solid #353a47;
	text-transform:uppercase;
	border-radius:5px;
	line-height:44px;
	height:44px;
	text-align:center;
	font-weight:700;
}
.loginBox .right .buttons a.loginBtn{
	background:#353a47;
	float:left;
	color:#fff;
}
.loginBox .right .checkRow{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.loginBox .right .checkRow input{
	float:left;
	width:auto;
	margin:0 5px 0 0;
}
.loginBox .right .checkRow span{
	font-size:13px;
	display:inline-block;
	float:left;
	width:auto;
	margin:0;
}
.hpBox{
	clear:both;
	float:left;
	width:100%;
	margin:20px 0 80px 0;
	padding:0;
}
.hpBox .left{
	margin-right:1px;
}
.hpBox .left .swiperEvidenza{
	border:1px solid #fff;
	position:relative;
}
.titleRed{
	background:#d81249;
	height:44px;
	line-height:44px;
	padding:0 5px;
}
.titleRed span{
	display:inline-block;
	margin:5px 10px 5px 0;
	padding:5px;
	border-radius:5px;
	line-height:14px;
	font-size:16px;
	color:#353a47;
	background:#fff;
	width:14px;
	text-align:center;
}
.titleRed h4{
	font-size:16px;
	color:#fff;
	text-transform:uppercase;
	margin:0;
	padding:0;
	display:inline-block;
}
.swiper-pagination{
	color:#fff;
	position:absolute;
	position:absolute;
	font-size:15px;
	right:70px;
	top:18px;
	left:auto !important;
	width:auto !important;
	bottom:auto !important;
}
.swiper-button-next{
	color:#fff;
	position:absolute;
	font-size:15px;
	right:10px;
	top:20px;
	left:auto !important;
	bottom:auto !important;
	background-size:auto;
	background-image:url('../_slice/next.png');
	background-position:center center;
	background-repeat:no-repeat;
}
.swiper-button-prev{
	color:#fff;
	position:absolute;
	font-size:15px;
	right:35px;
	top:20px;
	left:auto !important;
	bottom:auto !important;
	background-size:auto;
	background-image:url('../_slice/prev.png');
	background-position:center center;
	background-repeat:no-repeat;
}
.swiper-pagination-bullets .swiper-pagination-bullet{
	margin:0 2px;
}
.swiper-pagination-bullet {
    opacity: .9;
    background: #e24d77;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}
.hpBox .left .swiperEvidenza .cover{
	padding:0 25px 50px 0;
	float:left;
	width:60%;
}
.hpBox .left .swiperEvidenza .cover img{
	width:100%;
}
.hpBox .left .swiperEvidenza .cnt{
	float:left;
	width:40%;
	padding:0 0 50px 0;
}
.hpBox .left .swiperEvidenza .swiper-slide{
	background:#353a47;
	width:100%;
	text-align:left;
	color:#fff;
}
.hpBox .left .swiperEvidenza .cnt h3{
	font-size:28px;
}
.hpBox .left .swiperEvidenza .cnt h3 a{
	color:#fff;
}
.hpBox .left .swiperEvidenza .cnt p{
	font-size:16px;
}
.hpBox .left .swiperEvidenza .cnt a.readMore{
	color:#fff;
	position:absolute;
	right:10px;
	bottom:20px;
	font-size:21px;
}
.hpBox .left .incontraBox{
	float:right;
	width:28%;
	background:#d81249;
	padding:5px 20px 30px 20px;
	border:1px solid #fff;
	position:relative;
	height:115px;
}
.hpBox .left .incontraBox i{
	color:#fff;
	font-size:28px;
}
.hpBox .left .incontraBox h4{
	color:#fff;
	font-size:21px;
	margin:10px 0;
}
.hpBox .left .incontraBox a.readMore{
	position:absolute;
	right:10px;
	bottom:10px;
	font-size:21px;
}
.hpBox .left .incontraBox a.readMore i{
	font-size:21px;
}
.hpBox .left .rocheBox{
	float:right;
	width:28%;
	background:#fff;
	padding:10px 20px 30px 20px;
	border:1px solid #ababab;
	position:relative;
	height:110px;
}
.hpBox .left .rocheBox h4{
	color:#ababab;
	font-size:21px;
	margin:10px 0;
}
.hpBox .left .rocheBox a.readMore{
	color:#0078c1;
	position:absolute;
	right:10px;
	bottom:10px;
	font-size:21px;
}
.hpBox .right{
}
.hpBox .right .swiperVideo{
	border:1px solid #fff;
	position:relative;
}
.hpBox .right .swiperVideo img{
	width:100%;
}
.hpBox .right .swiperVideo h3{
	position:absolute;
	left:10px;
	top:20px;
	margin:0;
	padding:0;
	color:#fff;
	font-size:26px;
}
.hpBox .right .swiperVideo a.readMore{
	color:#fff;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	font-size:21px;
}
.hpBox .right .swiperVideo a.readMore i{
	color:#fff;
	position:absolute;
	right:10px;
	bottom:10px;
	font-size:21px;
}
.hpBox .right .swiperNews{
	border:1px solid #fff;
	position:relative;
}
.hpBox .right .swiperNews img{
	width:100%;
	float:left;
}
.hpBox .right .swiperNews h3{
	position:absolute;
	left:10px;
	top:20px;
	margin:0;
	padding:0;
	color:#fff;
	font-size:26px;
}
.hpBox .right .swiperNews a.readMore{
	color:#fff;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	font-size:21px;
}
.hpBox .right .swiperNews a.readMore i{
	color:#fff;
	position:absolute;
	right:10px;
	bottom:10px;
	font-size:21px;
}

.groupsBox{
	clear:both;
	float:left;
	width:100%;
	margin:40px 0 80px 0;
	padding:0;
}
.groupsBox .left{
	margin-right:2px;
}
.groupsBox .left .group{
	position:relative;
	background-color:#fff;
	clear:both;
	float:left;
	width:calc(100% - 8px);
	padding:0;
}
.groupsBox .group1{
	border-left:8px solid #00bff3;
}
.groupsBox .group2{
	border-left:8px solid #f7941d;
}
.groupsBox .group3{
	border-left:8px solid #f26d7d;
}
.groupsBox .group4{
	border-left:8px solid #00bff3;
}
.groupsBox .group5{
	border-left:8px solid #f7941d;
}
.groupsBox .group6{
	border-left:8px solid #f26d7d;
}
.groupsBox .group7{
	border-left:8px solid #00bff3;
}
.groupsBox .group8{
	border-left:8px solid #f7941d;
}
.groupsBox .group9{
	border-left:8px solid #f26d7d;
}
.groupsBox .group10{
	border-left:8px solid #00bff3;
}
.groupsBox .group11{
	border-left:8px solid #f7941d;
}
.groupsBox .group12{
	border-left:8px solid #f26d7d;
}
.groupsBox .group13{
	border-left:8px solid #00bff3;
}
.groupsBox .group14{
	border-left:8px solid #f7941d;
}
.groupsBox .group15{
	border-left:8px solid #f26d7d;
}
.groupsBox .left .headGroup{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	padding:0;
}
.groupsBox .left .headGroup img{
	width:100%;
}
.groupsBox .left .headGroup .txt{
	position:absolute;
	top:20px;
	left:15px;
}
.groupsBox .left .headGroup h3{
	font-size:24px;
	color:#fff;
	margin:0 0 10px 0;
	padding:0 0 10px 0;
	text-transform:uppercase;
}
.groupsBox .left .headGroup h3 a{
	color:#fff;
}
.groupsBox .left .headGroup h3 span{
	display:inline-block;
	float:right;
	margin:3px 0 0 10px;
	padding:5px;
	border-radius:5px;
	line-height:14px;
	font-size:16px;
	color:#353a47;
	background:#fff;
	width:14px;
	text-align:center;
}
.groupsBox .left .headGroup h4{
	font-size:13px;
	color:#fff;
    font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
}
.groupsBox .left .headGroup .count{
	position:absolute;
	bottom:20px;
	left:15px;
	font-weight:700;
	font-size:16px;
	color:#fff;
}
.groupsBox .left .item{
	clear:both;
	float:left;
	width:100%;
	padding:0;
	margin:20px 0;
}
.groupsBox .left .item .txt{
	margin:0 15px;
}
.groupsBox .left .item h3{
	margin:0 0 15px 0;
	font-size:20px;
}
.groupsBox .left .item h3 a{
}
.groupsBox .left .item .desc{
	margin:0 0 5px 0;
	font-size:15px;
	color:#353a47;
}
.groupsBox .left .item .author{
	margin:0;
	float:left;
	width:auto;
}
.groupsBox .left .item .author h4{
	display:inline-block;
	font-size:15px;
	font-weight:700;
	color:#353a47;
    font-family: 'Open Sans', sans-serif;
	margin:0;
}
.groupsBox .left .item .count{
	margin:0;
	float:right;
	width:auto;
	font-size:15px;
	font-weight:700;
	color:#353a47;
    font-family: 'Open Sans', sans-serif;
}
.groupsBox .right{
}
.groupsBox .others{
	background:#353a47;
	margin-bottom:1px;
	color:#fff;
	clear:both;
	float:left;
	width:100%;
}
.groupsBox .others h3{
	margin:15px 10px;
	clear:both;
	float:left;
	width:100%;
	font-size:20px;
}
.groupsBox .others h3 a{
	color:#fff;
}
.groupsBox .others .readMore{
	color:#fff;
	margin:15px 10px;
	float:right;
	width:auto;
	clear:both;
	font-size:16px;
	text-transform:uppercase;
}
.groupsBox .others .item{
	position:relative;
}
.groupsBox .others .item1{
	border-left:8px solid #5674b9;
}
.groupsBox .others .item2{
	border-left:8px solid #fff200;
}
.groupsBox .others .item3{
	border-left:8px solid #5674b9;
}
.groupsBox .others .item4{
	border-left:8px solid #fff200;
}
.groupsBox .others .item5{
	border-left:8px solid #5674b9;
}
.groupsBox .others .item6{
	border-left:8px solid #fff200;
}
.groupsBox .others .item img{
	width:100%;
}
.groupsBox .others .item .txt{
	position:absolute;
	left:10px;
	top:10px;
}
.groupsBox .others .item h3{
	margin:0 0 5px 0;
	padding:0;
	color:#fff;
	font-size:20px;
}
.groupsBox .others .item p{
	font-size:13px;
	color:#dfdfe1;
}
.groupsBox .others .item .count{
	font-size:13px;
	color:#fff;
	font-weight:700;
}
.groupsBox .others .item .readMore{
	color:#fff;
	position:absolute;
	right:10px;
	bottom:10px;
	font-size:16px;
	text-transform:uppercase;
}

.groupsBox .incontraBox{
	float:left;
	width:60%;
	padding:20px 20px 30px 20px;
	border:1px solid #fff;
	position:relative;
	height:110px;
	background-image:url('../_slice/img3.jpg');
	background-position:center center;
	background-repeat:no-repeat;
	background-size:cover;
	text-align:center;
}
.groupsBox .incontraBox i{
	font-size:78px;
	color:#fff;
}
.groupsBox .incontraBox h4{
	font-size:16px;
	margin:10px 0 0 0;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
}
.groupsBox .incontraBox a.readMore{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	text-indent:-9999em;
	overflow:hidden;
}
.groupsBox .rocheBox{
	clear:both;
	float:left;
	width:60%;
	background:#fff;
	padding:20px 20px 30px 20px;
	border:1px solid #ababab;
	position:relative;
	height:110px;
}
.groupsBox .rocheBox img{
}
.groupsBox .rocheBox h4{
	color:#ababab;
	font-size:21px;
	margin:10px 0;
}
.groupsBox .rocheBox a.readMore{
	color:#0078c1;
	position:absolute;
	right:10px;
	bottom:10px;
	font-size:21px;
}



.back{
	width:auto;
	border:1px solid #353a47;
	text-transform:uppercase;
	border-radius:0 5px 5px 0;
	line-height:44px;
	height:44px;
	text-align:center;
	font-weight:700;
	background:#353a47;
	float:left;
	color:#fff;
	padding:0 10px;
	font-size:13px;
	font-weight:700;
	margin-top:20px;
}

.groupBox{
	clear:both;
	float:left;
	width:100%;
	margin:0 0 80px 0;
	padding:0;
}
.groupBox .tabs{
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
	list-style:none;
}
.groupBox .tabs li{
	display:inline-block;
	margin:0 10px 0 0;
	padding:0;
}
.groupBox .tabs li a{
	padding:10px;
	text-transform:uppercase;
	font-size:13px;
	font-weight:700;
	display:inline-block;
}
.groupBox .tabs li.active{
}
.groupBox .tabs li.active a{
	background:#fff;
	border-radius:5px 5px 0 0;
	color:#353a47;
}
.groupBox .cntGroup{
	background:#fff;
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.groupBox .headGroup{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.groupBox .headGroup img{
	width:100%;
}
.groupBox .headGroup h1{
	position:absolute;
	top:20px;
	left:20px;
	font-size:42px;
	color:#fff;
	margin:0;
	padding:0;
	text-transform:uppercase;
}
.groupBox .headGroup .count{
	position:absolute;
	bottom:20px;
	left:20px;
	font-weight:700;
	font-size:15px;
	color:#fff;
}
.groupBox .headGroup .iscritto{
	position:absolute;
	bottom:20px;
	right:20px;
    font-family: 'nexa_boldregular', sans-serif;
	font-weight:400;
	font-size:14px;
	color:#fff;
	background:#55b545;
	padding:10px;
	border-radius:5px;
	text-transform:uppercase;
}
.groupBox .headGroup .iscritto i{
	margin-right:5px;
}
.groupBox .headGroup .info{
	position:absolute;
	bottom:60px;
	left:20px;
	font-weight:700;
	font-size:16px;
	color:#fff;
}
.groupBox .headGroup .info img{
	float:left;
	width:40px;
	margin-right:10px;
}
.groupBox .headGroup .info h4{
	font-size:13px;
	font-weight:400;
    font-family: 'Open Sans', sans-serif;
	color:#fff;
}
.groupBox .headGroup .info h2{
	font-size:15px;
	font-weight:700;
    font-family: 'Open Sans', sans-serif;
	color:#fff;
}
.groupBox .headGroup .info h2 a{
	color:#fff;
}




.groupBox .item{
	clear:both;
	float:left;
	width:100%;
	padding:0;
	margin:40px 0;
}
.groupBox .item h3{
	margin:0 0 15px 0;
	font-size:20px;
}
.groupBox .item h3 a{
}
.groupBox .item .author{
}
.groupBox .item .author h4{
	display:inline-block;
	font-size:15px;
	font-weight:400;
	color:#353a47;
    font-family: 'Open Sans', sans-serif;
	margin:0;
}
.groupBox .item .author h4 a{
	font-weight:700;
	color:#353a47;
}
.groupBox .item .author h4 span{
	font-weight:700;
	color:#353a47;
}
.groupBox .item .desc{
	margin:0 0 5px 0;
	font-size:15px;
	color:#353a47;
}
.groupBox .item .desc a.readMore{
	font-weight:700;
	text-transform:uppercase;
}
.groupBox .item .count{
	margin:0;
	float:right;
	width:auto;
	font-size:15px;
	font-weight:700;
	color:#353a47;
    font-family: 'Open Sans', sans-serif;
}

.groupBox .headGroupSmall{
	position:relative;
	clear:both;
	float:left;
	width:100%;
	padding:0;
}
.groupBox .headGroupSmall h2{
	font-size:42px;
	color:#fff;
	margin:0;
	padding:20px;
	text-transform:uppercase;
	border-left:8px solid;
	line-height:42px;
}

.discBox .item,.discBox .contrBox{
	clear:both;
	float:left;
	width:94%;
	padding:0;
	margin:30px 2% 0 4%;
}
.discBox .item h1{
	color:#e71f54;
	font-size:32px;
	margin:0 0 15px 0;
	padding:0;
}
.discBox .item .author{
	clear:both;
	float:left;
	width:100%;
	padding:0;
	margin:0;
	color:#71747c;
}
.discBox .item .author h4{
	font-size:15px;
	font-weight:400;
	color:#353a47;
    font-family: 'Open Sans', sans-serif;
	margin:0;
}
.discBox .item .author h4 a{
	color:#353a47;
	font-weight:700;
}
.discBox .item .author h4 span{
	color:#353a47;
	font-weight:700;
}
.discBox .item .desc{
	margin:10px 0;
	clear:both;
	float:left;
	width:100%;
	padding:0;
}
.discBox .item .addContr{
	width:auto;
	background:#353a47;
	float:right;
	color:#fff;
	clear:both;
	border:1px solid #353a47;
	text-transform:uppercase;
	border-radius:5px;
	line-height:44px;
	height:44px;
	text-align:center;
	font-weight:700;
	padding:0 20px;
	font-size:13px;
}
.discBox .item .addContr i{
	display:inline-block;
	margin-right:10px;
}

.discBox .contrBox{
}
.discBox .contrItem{
	margin:10px 0 30px 0;
	clear:both;
	float:left;
	width:calc(100% - 40px);
	padding:20px;
	background-color:#f5f5f6;
}
.discBox .contrItem img{
	float:left;
	width:50px;
	margin:0 10px 10px 0;
	padding:0;
}
.discBox .contrItem .cnt{
	float:left;
	width:calc(100% - 60px);
	margin:0;
	padding:0;
}
.discBox .contrItem .cnt h3{
	margin:0 0 0 0;
	font-size:18px;
}
.discBox .contrItem .cnt p{
	font-size:13px;
	margin:0;
}
.discBox .contrItem .cnt p a{
	color:#353a47;
	font-weight:700;
}
.discBox .contrItem .cnt p span{
	color:#353a47;
	font-weight:700;
}
.discBox .contrItem .desc{
	margin:10px 0 20px 0;
	position:relative;
	clear:both;
	float:left;
	width:calc(100% - 40px);
	padding:20px;
	background:#fff;
}
.discBox .contrItem .fa-caret-up{
    position: absolute;
    left: 15px;
    top: -30px;
    height: 20px;
    width: auto;
    color: #fff;
    font-size: 43px;
}
.discBox .contrItem .commBox{
	margin:10px 0 30px 0;
	clear:both;
	float:left;
	border-top:1px solid #fff;
	width:100%;
	padding:0;
}
.discBox .contrItem .titleComm i{
	float:right;
	width:auto;
	margin:13px 5px 0 0;
}
.discBox .contrItem .titleComm{
	background:#e1e2e4;
	height:44px;
	line-height:44px;
	padding:0 5px;
}
.discBox .contrItem .titleComm.opened{
	background:transparent;
	margin-bottom:20px;
}

.discBox .contrItem .titleComm span{
	display:inline-block;
	margin:5px 10px 5px 0;
	padding:5px;
	border-radius:5px;
	line-height:14px;
	font-size:16px;
	color:#353a47;
	background:#fff;
	width:14px;
	text-align:center;
}
.discBox .contrItem .titleComm h4{
	font-size:16px;
	color:#d81249;
	text-transform:uppercase;
	margin:0;
	padding:0;
	display:inline-block;
}

.discBox .contrItem .commList{
	display:none;
	margin:0 0 0 12%;
	clear:both;
	float:left;
	width:88%;
	padding:0;
}
.discBox .contrItem .commList .comm{
}
.discBox .contrItem .commList .comm h4{
	font-size:15px;
	font-weight:400;
	color:#353a47;
    font-family: 'Open Sans', sans-serif;
	margin:0;
}
.discBox .contrItem .commList .comm h4 a{
	color:#353a47;
	font-weight:700;
}
.discBox .contrItem .commList .comm h4 span{
	color:#353a47;
	font-weight:700;
}

.discBox .contrItem .commList .comm .desc i{
    top: -25px;
}
.discBox .contrItem .commList .rightComm h4{
	text-align:right;
}
.discBox .contrItem .commList .rightComm .desc i{
    left: auto;
    right: 15px;
}
.discBox .contrItem .commBox .addContr{
	width:auto;
	background:#353a47;
	float:right;
	color:#fff;
	clear:both;
	border:1px solid #353a47;
	text-transform:uppercase;
	border-radius:5px;
	line-height:44px;
	height:44px;
	text-align:center;
	font-weight:700;
	padding:0 20px;
	font-size:13px;
}
.discBox .contrItem .commBox .addContr i{
	display:inline-block;
	margin-right:10px;
}

.discBox .docs{
	float:left;
	width:100%;
	margin:10px 0;
	padding:0;
	clear:both;
}
.discBox .docs img{
	float:left;
	width:70px;
	margin:0 15px 10px 15px;
	padding:0;
}
.discBox .docs .cnt{
	float:left;
	width:calc(100% - 120px);
	margin:0;
	padding:0;
}
.discBox .docs .cnt h3{
	font-size:16px;
	margin:0;
	color:#353a47;
}
.discBox .docs .cnt h3 a{
	color:#353a47;
}
.discBox .docs .cnt p{
	font-size:13px;
	margin:0;
}
.discBox .docs .cnt a{
	color:#353a47;
	font-weight:700;
}

.docBox .docs{
	border:1px solid #bfbfbf;
	padding-top:20px;
	margin-top:20px;
	margin-bottom:20px;
}
.docBox .docs .iconBox{
	float:left;
	width:100px;
	margin:25px 0 0 0;
	padding:0;
	text-align:center;
	color:#353a47;
}
.docBox .docs .iconBox i{
	color:#353a47;
}
.docBox .docs .cnt{
	float:left;
	width:calc(100% - 200px);
	margin:0;
	padding:0;
}
.docBox .docs .cnt h3{
	font-size:18px;
	margin:0;
	color:#e11049;
}
.docBox .docs .cnt h3 a{
	color:#e11049;
}
.docBox .subFile{
	border:0;
	border-left:1px solid #bfbfbf;
	margin-top:0;
	padding-bottom:20px;
	margin-bottom:20px;
	margin:-20px 0 0 80px;
	width:calc(100% - 80px);
}

.usersBox .docs .cnt h4{
	font-size:15px;
	color:#353a47;
	font-weight:700;
	margin:0;
    font-family: 'Open Sans', sans-serif;
}
.usersBox .docs .cnt .count{
	font-size:15px;
    font-family: 'Open Sans', sans-serif;
	color:#71747c;
	margin:10px 0 0 0;
}
.usersBox .docs .cnt p{
	color:#71747c;
}
.usersBox .docs{
	padding-bottom:20px;
}
.usersBox .docs .iconBox i{
	font-size:21px;
	margin-right:10px;
}
.usersBox .docs .iconBox{
	margin-right:50px;
}

.usersBox .docs .cnt{
	width:calc(100% - 350px);
}
.usersBox .docs .iconBox{
	width:200px;
	text-align:right;
}
.usersBox .docs .cnt h3{
	font-size:21px;
}
.usersBox .admin{
	background:#fef4f6;
	margin-top:0;
}
.usersBox h2.adminGroup{
	margin:15px 0 5px 0;
	padding:0;
	color:#f88aa7;
	text-transform:uppercase;
	font-size:15px;
}


.newsBox .cntNews .item{
	width:100%;
	clear:both;
	float:left;
	margin:0 0 30px 0;
	position:relative;
}
.newsBox .cntNews .item img{
	width:100%;
}
.newsBox .cntNews .item .txt{
	position:absolute;
	left:10px;
	bottom:10px;
}
.newsBox .cntNews .item h3{
	margin:0 0 5px 0;
	padding:0;
	color:#fff;
	font-size:32px;
}
.newsBox .cntNews .item h3 a{
	color:#fff;
}
.newsBox .cntNews .item p{
	font-size:13px;
	color:#fff;
}
.newsBox .cntNews .item .readMore{
	color:#fff;
	position:absolute;
	right:10px;
	bottom:10px;
	font-size:16px;
	text-transform:uppercase;
	font-weight:700;
}
.newsBox .cntNews{
	background:#fff;
	clear:both;
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.newsBox .cntNews h1{
	color:#353a47;
	font-size:16px;
	clear:both;
	float:left;
	width:100%;
	margin:5px 0 30px 15px;
	padding:0;
	text-transform:uppercase;
}

.newsBox .cntNews .sha{
	background-size:100% auto;
	background-image:url('../_slice/sha.png');
	background-position:left bottom;
	background-repeat:no-repeat;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	text-indent:-9999em;
	overflow:hidden;
}
.pager{
	clear:both;
	float:left;
	width:100%;
	margin:30px 0;
	padding:0;
	text-align:center;
	font-size:13px;
}
.pager input{
	width:40px;
	padding:0 10px;
	margin:0 5px;
	display:inline-block;
	height:25px;
	line-height:25px;
	text-align:center;
}
.pager a{
	width:25px;
	padding:0;
	text-align:center;
	height:25px;
	line-height:25px;
	margin:0 1px 0 0;
	display:inline-block;
	color:#fff;
	font-size:13px;
}
.pager a i{
	display:inline-block;
	line-height:25px;
}
.pager a.prev{
	background-color:#848484;
	border-radius:2px 0 0 2px;
}
.pager a.next{
	background-color:#333;
	border-radius:0 2px 2px 0;
}





.newsBox .dtlNews{
	width:100%;
	clear:both;
	float:left;
	margin:0 0 20px 0;
	position:relative;
}
.newsBox .dtlNews img{
	width:100%;
}
.newsBox .dtlNews .txt{
	position:absolute;
	left:10px;
	bottom:10px;
}
.newsBox .dtlNews h1{
	margin:0 0 5px 0;
	padding:0;
	color:#fff;
	font-size:32px;
}
.newsBox .dtlNews h1 a{
	color:#fff;
}
.newsBox .dtlNews p{
	font-size:13px;
	color:#fff;
}

.newsBox .sha{
	background-size:100% auto;
	background-image:url('../_slice/sha.png');
	background-position:left bottom;
	background-repeat:no-repeat;
	position:absolute;
	left:0;
	top:0;
	height:100%;
	width:100%;
	text-indent:-9999em;
	overflow:hidden;
}
.newsDtlBox .cntNews h2{
	color:#353a47;
	font-size:16px;
	clear:both;
	float:left;
	width:100%;
	padding:0;
	text-transform:uppercase;
	margin:10px 0 10px 15px;
}
.newsDtlBox .others{
	background-color:#fff;
	color:#353a47;
}
.newsDtlBox .others h3 a{
	color:#353a47;
}
.newsDtlBox .box8{
	background-color:#fff;
}
.nwdtlRx{ margin-right:10px;}
.newsDtlBox .others .item h3 a {
    color: #fff;
}
.newsDtlBox .breadcrumbs{
	width:100%;
	clear:both;
	float:left;
	margin:0;
	padding:0;
}
.newsDtlBox .breadcrumbs ul{
	width:100%;
	list-style:none;
	clear:both;
	float:left;
	margin:0;
	padding:0;
	font-size:13px;
}
.newsDtlBox .breadcrumbs ul li{
	display:inline-block;
	margin:0;
	padding:0 3px 0 0;
}
.newsDtlBox .breadcrumbs ul li a{
	font-weight:700;
	margin:0;
	padding:0 3px 0 0;
}
.dtlBox{
	margin:0 15px;
	clear:both;
	float:left;
	width:calc(100% - 30px);
	padding:0;
}
.dtlBox .dtl{
	width:100%;
	clear:both;
	float:left;
	margin:0;
	padding:0 0 50px 0;
	font-size:16px;
	color:#353a47;
}
.dtlBox .dtl h3{
	font-weight:700;
	font-size:18px;
    font-family: 'Open Sans', sans-serif;
}
.dtlBox .dtl h4{
	font-weight:400;
	font-style:italic;
	font-size:21px;
    font-family: 'Open Sans', sans-serif;
	padding-left:10px;
	border-left:1px solid #353a47;
}
.dtlBox .dtl p{
	margin:3px 0;
}

