﻿@model Inclub.Web.Portal.Models.ContactUs
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions
@{

    Layout = "~/portal/Views/Shared/_LayoutEmpty.cshtml";

    var PageInfo = this.ViewBag.PageInfo as Inclub.Web.Portal.Models.PageInfo;
}
<section>
    <div class="registerBox">
        <a href="/" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">
                <div class="cntRegister">
                    <div class="pageTitleTop">
                        <div class="box1">&nbsp;</div>
                        <div class="box6">
                            <h1>@PageInfo.AreaTitle</h1>
                            <div class="internalMessage" id="divLaunch">
                                @PageInfo.Launch
                            </div>
                        </div><div class="box1">&nbsp;</div>
                    </div>




                    <div class="box1">&nbsp;</div>
                    <div class="box6">
                       

                        @using (Ajax.BeginForm("SendContact", "contatti", null, new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "jsresultContact", OnFailure = "jsOnFailure();", InsertionMode = InsertionMode.Replace }, new { id = "contactform", @class = "JsContactForm form-box register-form form-validator contact-form" }))
                        {
                            @Html.ValidationSummary(true)
                            @(this.Html.AntiForgeryToken())

   
                            @*@Html.Raw(DictionaryHelper.GetLabel(DictionaryKeys.ContactPage))*@


    <div class="jsContainerForm">

        <h3><span>I campi contrassegnati da asterisco (*) sono obbligatori.</span></h3>
        <div class="rowForm">
            <div class="box2">Oggetto*</div>
            <div class="box4">
                @Html.TextBoxFor(c => c.Subject, new
                                                   {
                                                       tabindex = 1,
                                                       @class = "JsClearFields",
                                                       maxlength = "200"
                                                   })
            </div>
            <div class="box2 errorTxt"><span class="jsOggetto" style="display:none;">Campo Obbligatorio</span></div>
        </div>





        <div class="rowForm">
            <div class="box2">Nome*</div>
            <div class="box4">
                @Html.TextBoxFor(c => c.Name, new
                                        {
                                            tabindex = 2,
                                            @class = "JsClearFields UserField",
                                            maxlength = "200"

                                        })
            </div>
            <div class="box2 errorTxt"><span class="jsName" style="display:none;">Campo Obbligatorio</span></div>
        </div>


        <div class="rowForm">
            <div class="box2">Cognome*</div>
            <div class="box4">
                @Html.TextBoxFor(c => c.Surname, new
                                        {
                                            tabindex = 3,
                                            @class = "JsClearFields",
                                            maxlength = "200"
                                        })
            </div>
            <div class="box2 errorTxt"><span class="jsSurname" style="display:none;">Campo Obbligatorio</span></div>
        </div>


        <div class="rowForm">
            <div class="box2">Email*</div>
            <div class="box4">
                @Html.TextBoxFor(c => c.Email, new
                                    {
                                        tabindex = 5,
                                        type = "email",
                                        @class = "JsClearFields",
                                        maxlength = "250"
                                    })
            </div>
            <div class="box2 errorTxt">@this.Html.ValidationMessageFor(c => c.Email, null, new { @class = "required" })</div>
            <div class="box2 errorTxt"><span class="jsEmail" style="display:none;">Campo Obbligatorio</span></div>
            <div class="box2 errorTxt"><span class="jsEmailFormat" style="display:none;">Formato Email non corretto</span></div>
        </div>


        <div class="rowForm">
            <div class="box2">Captcha*</div>
            <div class="box4 captchaRow"><img src="@Url.Action("Get", "Captcha", new{ name=CaptchaKeys.RegistrationForm})" class="jsCaptcha captcha" alt="captcha" /> @Html.TextBoxFor(c => c.Captcha, new { @class = "JsClearFields TypeCaptcha" }) <a href="javascript:void(0);" class="jsReloadCaptcha" title="Ricarica il codice Captcha"><img src="@Url.Content("~/portal/Content/_slice/reload.png")" alt="codice Captcha" title="Ricarica il codice Captcha" width="30" class="ReloadCaptcha" /></a></div>
            <div class="box2 errorTxt">
                                           <span class="jsCaptchaError" style="display:none;">Campo Obbligatorio</span>
                                           <span id="jsresultContactCaptcha" class="jsresultContactCaptcha title-case-message"></span>
                
                </div>
        </div>


        <div class="rowForm">
            <div class="box2">Messaggio*</div>
            <div class="box4">
                @Html.TextAreaFor(c => c.MessageBody, new
                                    {
                                        tabindex = 7,
                                        @class = "JsClearFields ContactUstextarea",
                                        maxlength = "500"
                                    })
            </div>
            <div class="box2 errorTxt"><span class="jsMessaggio" style="display:none;">Campo Obbligatorio</span></div>
        </div>


        <div class="rowForm">Presa visione dell'<a href="/Informativa-Trattamento-Dati" target="_blank">Informativa sul trattamento dei dati</a> e dell’<a href="/avvertenza-di-rischio" target="_blank">avvertenza di rischio</a> acconsento al trattamento dei dati personali, all'eventuale comunicazione ai soggetti elencati nell'informativa per le finalità e con le modalità indicate e al trasferimento all'estero, anche in paesi non appartenenti all'Unione Europea.</div>

        <div class="rowForm checkRow">
            <div class="box2">&nbsp;</div>
            <div class="box4"><a href="javascript:void(0);" title="Registrati" id="jsSubmit" class="btn jsSubmit">Invia</a></div>
            <div class="box2">&nbsp;</div>
        </div>

    </div>


                                <div class="rowForm generic">

                                    <div id="jsresultContact" class="jsresultContact title-case-message"></div>

                                </div>
                           
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section JSscripts
{
    <script src="~/Portal/Content/js/Views/Contatti.js"></script>
    <script type="text/javascript">
        $(function () {
            var ContactUsLogic = Portal.ContactUs({
                actions: {
                    url: '@this.Url.Action("SendContact", "Contatti")',
                },
                FormClass: '.JsContactForm',
                ClearClass: '.JsClearFields'
            });




            $(".jsReloadCaptcha").click(function (e) {
                $(".jsCaptcha").hide();

                $.ajax({
                    url: '@this.Url.Action("Regenerate", "Captcha")',
                    dataType: 'json',
                    type: 'POST',
                    data: { name: '@CaptchaKeys.ContactUseForm' },
                    success: function (data) {
                        if (true == data) {
                            var captchaUrl = '@this.Url.Action("Get", "Captcha", new { name = CaptchaKeys.ContactUseForm })&t=' + new Date().getTime();
                            $('.jsCaptcha').attr('src', captchaUrl)
                                    .show();


                        }
                    }
                });

                e.preventDefault();

            });

            $(".jsReloadCaptcha").click();
        });


    </script>
}
