﻿@using Inclub.Web.Portal.Helper;
@using Inclub.Web.Portal.Keys;
@{
    var pageInfo = this.GetPageInfo();
}
<section>
    <div class="registerBox">
        <a href="/" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">
                <div class="cntRegister">
                    <div class="box1">&nbsp;</div>
                    <div class="box6 formReg">
                        <h1>Modifica Password</h1>
                        <div class="rowForm">@this.Html.GetLabel(Inclub.Web.Portal.Keys.DictionaryKeys.ResetPWD_OK, Inclub.Web.Portal.Keys.LabelKeys.LANGUAGE_PORTAL)</div>                        
                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>
