﻿@model Inclub.Web.Portal.Models.UserResetPasswordForm
@using Inclub.Web.Portal.Helper
@using Inclub.Web.Portal.Extensions
@{


    Layout = "~/portal/Views/Shared/_LayoutRegistrazione.cshtml";
    var pageInfo = this.GetPageInfo();
}

<section>
    <div class="registerBox">
        <a href="/" class="back" title="Back">&lt; Back</a>
        <div class="container">
            <div class="box8">
                <div class="cntRegister">
                    <div class="box1">&nbsp;</div>
                    <div class="box6 formReg">
                        <h1>Modifica Password</h1>


                        @using (Html.BeginForm("ResetPassword", "RecuperaPassword", FormMethod.Post, new { id = "ResetPasswordForm" }))
                        {
                            @Html.ValidationSummary(true)
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.Id, (int)this.Model.Id);

                            <div class="rowForm">
                                <div class="box2">Nuova Password</div>
                                <div class="box4">@this.Html.PasswordFor(m => m.Password)</div>
                                <div class="box2 errorTxt"><span class="jsPrequired" style="display:none;">Compilare la Password</span></div>
                            </div>

                            <div class="rowForm">
                                <div class="box2">Conferma Password</div>
                                <div class="box4">
                                    @this.Html.PasswordFor(m => m.ConfirmPassword)
                                </div>
                                <div class="box2 errorTxt">
                                    <span class="jsCrequired" style="display:none;">Compilare Conferma Password</span>
                                    <span class="jsCMatch" style="display:none;">La Password non coincide</span>
                                </div>
                            </div>
                            

                            <div class="rowForm checkRow">
                                <div class="box2">&nbsp;</div>
                                <div class="box4" >
                                    <a href="javascript:void(0);"  style="width:83%;" title="Invia" class="btn" id="JResetPassword">Invia</a>
                                </div>
                                <div class="box2">&nbsp;</div>
                            </div>
                        }
                    </div>
                    <div class="box1">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>

@section JSscripts
{
    <script type="text/javascript">
        /*SCRIPT per FORM*/
        $(function () {
            $("#JResetPassword").click(function (e) {
                var procedi = true;
                $(".jsCrequired").hide();
                $(".jsCMatch").hide();
                $(".jsPrequired").hide();

                if ($("#Password").val() == '') {
                    $(".jsPrequired").show();
                    procedi = false;
                }

                if ($("#ConfirmPassword").val() == '') {
                    $(".jsCrequired").show();
                    procedi = false;
                }

                if ($("#ConfirmPassword").val() != '' && $("#Password").val() != '') 
                {
                    if ($("#ConfirmPassword").val() != $("#Password").val())
                    {
                        $(".jsCMatch").show();
                        procedi = false;
                    }
               }

                if (procedi == true)
                    {
                e.preventDefault();
                $('form#ResetPasswordForm').submit();
                }
            });

        });
    </script>
}
